.flows.json.backup
[{"id":"18b8c7ac.07eee8","type":"tab","label":"Debug","disabled":false,"info":""},{"id":"64672e75.03f4a8","type":"tab","label":"CMD","disabled":false,"info":""},{"id":"c080d81d.548348","type":"tab","label":"Sensor","disabled":false,"info":""},{"id":"d7e822af.c12a4","type":"tab","label":"Main loop","disabled":false,"info":""},{"id":"79509665.65e3b8","type":"mqtt-broker","z":"","name":"local","broker":"brocker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"74dcdab5.83e964","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"683f7eec.5c62c","type":"mqtt-broker","z":"","name":"","broker":"http://10.70.1.86","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4df5a172.d77308","type":"influxdb","z":"18b8c7ac.07eee8","hostname":"influxdb","port":"8086","database":"home","name":"aTimeSeries","usetls":false,"tls":""},{"id":"47847ae6.02444c","type":"ui_group","z":0,"name":"Default","tab":"ebf66048.7c529","order":1,"disp":true,"width":"6","collapse":false},{"id":"97a76c62.524858","type":"ui_group","z":"","name":"Debug","tab":"1233e7eb.6fcc78","order":2,"disp":true,"width":"6","collapse":false},{"id":"ebf66048.7c529","type":"ui_tab","z":0,"name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"b7f0356b.50c1a","type":"ui_base","z":0,"theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ddc00501.5975f8","type":"shared-state","z":0,"name":"relay1","lbl":"","tags":"","historyCount":"2","dataType":"bool","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"c8491213.eb9958","type":"shared-state","z":"","name":"relay3","lbl":"","tags":"","historyCount":"2","dataType":"bool","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"b57179f0.c9eaa","type":"shared-state","z":"","name":"relay2","lbl":"","tags":"","historyCount":"2","dataType":"bool","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"1dc4d413.03488c","type":"shared-state","z":"","name":"relay4","lbl":"","tags":"","historyCount":"2","dataType":"bool","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"bff6e5d1.24ce68","type":"shared-state","z":0,"name":"data","lbl":"","tags":"","historyCount":"2","dataType":"obj","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"1233e7eb.6fcc78","type":"ui_tab","z":"","name":"Debug","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"8f8583e.f5aeb8","type":"ui_group","z":"","name":"State","tab":"1233e7eb.6fcc78","order":2,"disp":true,"width":"6","collapse":false},{"id":"a4b3d3f.f214ab","type":"ui_group","z":"","name":"State 2","tab":"1233e7eb.6fcc78","order":3,"disp":true,"width":"6","collapse":false},{"id":"c82aa636.16d6f8","type":"mqtt in","z":"18b8c7ac.07eee8","name":"","topic":"#","qos":"0","datatype":"auto","broker":"74dcdab5.83e964","x":210,"y":380,"wires":[[]]},{"id":"a7fdbf1c.491cd8","type":"debug","z":"18b8c7ac.07eee8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1350,"y":180,"wires":[]},{"id":"a7bd546d.51b52","type":"change","z":"18b8c7ac.07eee8","name":"","rules":[{"t":"set","p":"targetTemp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":180,"wires":[[]]},{"id":"3de74310.f7bbe4","type":"change","z":"18b8c7ac.07eee8","name":"","rules":[{"t":"set","p":"mode","pt":"global","to":"CONST","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":320,"wires":[[]]},{"id":"37b0599c.495dfe","type":"mqtt out","z":"18b8c7ac.07eee8","name":"","topic":"","qos":"0","retain":"","broker":"74dcdab5.83e964","x":1710,"y":780,"wires":[]},{"id":"47a7aa45.ef22ec","type":"inject","z":"18b8c7ac.07eee8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1020,"y":280,"wires":[[]]},{"id":"fb43cc22.d2b1d8","type":"debug","z":"18b8c7ac.07eee8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":40,"wires":[]},{"id":"be76bc69.2554b8","type":"inject","z":"18b8c7ac.07eee8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1680,"y":320,"wires":[[]]},{"id":"a4558580.f280f8","type":"inject","z":"18b8c7ac.07eee8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":60,"wires":[[]]},{"id":"4c8fe770.a0206","type":"exec","z":"64672e75.03f4a8","command":"python3 ~/bread-tinkerforge/relay.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Relay control","x":790,"y":120,"wires":[[],[],[]]},{"id":"a5213bcf.9cb528","type":"debug","z":"64672e75.03f4a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":80,"wires":[]},{"id":"a3d6e8eb.872a3","type":"template","z":"64672e75.03f4a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{topic}} {{payload}}","output":"str","x":420,"y":120,"wires":[["4c8fe770.a0206"]]},{"id":"6a49d89f.1a17e8","type":"mqtt in","z":"c080d81d.548348","name":"","topic":"+/+/+/+/+/chamber/data/roomTemp","qos":"2","datatype":"auto","broker":"74dcdab5.83e964","x":280,"y":120,"wires":[["ebc5a667.194918"]]},{"id":"5e1fe8cd.e3b47","type":"debug","z":"c080d81d.548348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1510,"y":480,"wires":[]},{"id":"ebc5a667.194918","type":"change","z":"c080d81d.548348","name":"","rules":[{"t":"set","p":"roomTemp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":120,"wires":[["5acae9e9.867408"]]},{"id":"ab18f573.78581","type":"ui_button","z":"18b8c7ac.07eee8","name":"","group":"47847ae6.02444c","order":3,"width":0,"height":0,"passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"START","payloadType":"str","topic":"photon/cmd/START","x":530,"y":320,"wires":[["3de74310.f7bbe4"]]},{"id":"43953858.aaf258","type":"ui_button","z":"18b8c7ac.07eee8","name":"","group":"47847ae6.02444c","order":4,"width":0,"height":0,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"START","payloadType":"str","topic":"photon/cmd/STOP","x":530,"y":240,"wires":[["c72b5849.0c65e"]]},{"id":"7349f45.777760c","type":"ui_switch","z":"18b8c7ac.07eee8","name":"","label":"Relay 1","tooltip":"","group":"97a76c62.524858","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":500,"y":580,"wires":[["1ce3c7b3.9d5738"]]},{"id":"bdc3a7cc.6ca24","type":"ui_switch","z":"18b8c7ac.07eee8","name":"","label":"Relay 2","tooltip":"","group":"97a76c62.524858","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"photon/cmd/Relay","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":500,"y":640,"wires":[["8eef0fa8.a2597"]]},{"id":"f7712ba5.1fd7e","type":"ui_switch","z":"18b8c7ac.07eee8","name":"","label":"Relay 3","tooltip":"","group":"97a76c62.524858","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"photon/cmd/Relay","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":520,"y":680,"wires":[["ac8bc086.6794"]]},{"id":"d1480c9f.812f98","type":"ui_switch","z":"18b8c7ac.07eee8","name":"","label":"Relay 4","tooltip":"","group":"97a76c62.524858","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"photon/cmd/Relay","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":520,"y":720,"wires":[["e396ceba.b23788"]]},{"id":"691eed49.9e088c","type":"ui_switch","z":"18b8c7ac.07eee8","name":"","label":"LED","tooltip":"","group":"97a76c62.524858","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"photon/cmd/LED","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":510,"y":860,"wires":[[]]},{"id":"733b3cd.a2b6944","type":"ui_numeric","z":"18b8c7ac.07eee8","name":"","label":"Target temperature","tooltip":"","group":"47847ae6.02444c","order":2,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"10","max":"40","step":1,"x":550,"y":180,"wires":[["a7bd546d.51b52"]]},{"id":"c0f4d126.173508","type":"ui_numeric","z":"18b8c7ac.07eee8","name":"","label":"Heater fan","tooltip":"","group":"97a76c62.524858","order":6,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"photon/cmd/HeaterFAN","format":"{{value}}","min":0,"max":"255","step":1,"x":490,"y":500,"wires":[["78abee5f.3af5a"]]},{"id":"c2e62117.26934","type":"ui_numeric","z":"18b8c7ac.07eee8","name":"","label":"Cooler fan","tooltip":"","group":"97a76c62.524858","order":5,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"photon/cmd/CoolerFAN","format":"{{value}}","min":0,"max":"255","step":1,"x":510,"y":540,"wires":[["d1f33dd0.af0748"]]},{"id":"51d9b5f6.707fb4","type":"ui_numeric","z":"18b8c7ac.07eee8","name":"","label":"DAC","tooltip":"","group":"97a76c62.524858","order":7,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"photon/cmd/DAC","format":"{{value}}","min":"1700","max":"3300","step":"1","x":510,"y":800,"wires":[["704b4353.a58f1c"]]},{"id":"a3f4cfa0.4c2fd8","type":"get-shared-state","z":"64672e75.03f4a8","state":"ddc00501.5975f8","name":"relay1","triggerOnInit":true,"x":110,"y":120,"wires":[["a3d6e8eb.872a3","2d4bbbe8.2a5e44"]]},{"id":"fff30cf1.14895","type":"get-shared-state","z":"64672e75.03f4a8","state":"b57179f0.c9eaa","name":"relay2","triggerOnInit":true,"x":110,"y":180,"wires":[["a3d6e8eb.872a3","8e2e149a.6c9928"]]},{"id":"304ad8a6.a5415","type":"get-shared-state","z":"64672e75.03f4a8","state":"c8491213.eb9958","name":"relay3","triggerOnInit":true,"x":110,"y":220,"wires":[["a3d6e8eb.872a3","62421668.27e8f"]]},{"id":"b6b19ed8.4b369","type":"get-shared-state","z":"64672e75.03f4a8","state":"1dc4d413.03488c","name":"relay4","triggerOnInit":true,"x":110,"y":260,"wires":[["a3d6e8eb.872a3","c3ff4b94.5c78e"]]},{"id":"1ce3c7b3.9d5738","type":"set-shared-state","z":"18b8c7ac.07eee8","state":"ddc00501.5975f8","name":"relay1","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":730,"y":580,"wires":[]},{"id":"8eef0fa8.a2597","type":"set-shared-state","z":"18b8c7ac.07eee8","state":"b57179f0.c9eaa","name":"relay2","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":730,"y":640,"wires":[]},{"id":"ac8bc086.6794","type":"set-shared-state","z":"18b8c7ac.07eee8","state":"c8491213.eb9958","name":"relay3","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":730,"y":680,"wires":[]},{"id":"e396ceba.b23788","type":"set-shared-state","z":"18b8c7ac.07eee8","state":"1dc4d413.03488c","name":"relay4","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":730,"y":720,"wires":[]},{"id":"2d4bbbe8.2a5e44","type":"change","z":"64672e75.03f4a8","name":"Update relay1 variable","rules":[{"t":"set","p":"relay1","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":60,"wires":[[]]},{"id":"8e2e149a.6c9928","type":"change","z":"64672e75.03f4a8","name":"Update relay2 variable","rules":[{"t":"set","p":"relay2","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":180,"wires":[[]]},{"id":"62421668.27e8f","type":"change","z":"64672e75.03f4a8","name":"Update relay3 variable","rules":[{"t":"set","p":"relay3","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":240,"wires":[[]]},{"id":"c3ff4b94.5c78e","type":"change","z":"64672e75.03f4a8","name":"Update relay4 varaible","rules":[{"t":"set","p":"relay4","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":300,"wires":[[]]},{"id":"ca66fde.bc4c8","type":"inject","z":"c080d81d.548348","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":680,"wires":[["da7c1936.ef5328","5b5bda0d.334204","2a308a8b.0bd51e","7ee796e5.29ae3","8d379af.5a81ae8","d1d54561.6db858","4746d113.b3e64","eacd36fc.f7e66"]]},{"id":"da7c1936.ef5328","type":"change","z":"c080d81d.548348","name":"Prepare message for relay 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"relay1","tot":"global"},{"t":"set","p":"topic","pt":"msg","to":"state/relay1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":660,"wires":[["5c040674.5583e8"]]},{"id":"5c040674.5583e8","type":"mqtt out","z":"c080d81d.548348","name":"","topic":"","qos":"","retain":"","broker":"74dcdab5.83e964","x":1030,"y":720,"wires":[]},{"id":"5b5bda0d.334204","type":"change","z":"c080d81d.548348","name":"Prepare message for relay 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"relay2","tot":"global"},{"t":"set","p":"topic","pt":"msg","to":"state/relay2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":720,"wires":[["5c040674.5583e8"]]},{"id":"2a308a8b.0bd51e","type":"change","z":"c080d81d.548348","name":"Prepare message for relay 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"relay3","tot":"global"},{"t":"set","p":"topic","pt":"msg","to":"state/relay3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":780,"wires":[["5c040674.5583e8"]]},{"id":"7ee796e5.29ae3","type":"change","z":"c080d81d.548348","name":"Prepare message for relay 4","rules":[{"t":"set","p":"payload","pt":"msg","to":"relay4","tot":"global"},{"t":"set","p":"topic","pt":"msg","to":"state/relay4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":840,"wires":[["5c040674.5583e8"]]},{"id":"464c1ae1.6163b4","type":"mqtt in","z":"c080d81d.548348","name":"","topic":"+/+/+/+/+/chamber/data/chamberTemp","qos":"2","datatype":"auto","broker":"74dcdab5.83e964","x":290,"y":200,"wires":[["16603097.eda177"]]},{"id":"16603097.eda177","type":"change","z":"c080d81d.548348","name":"","rules":[{"t":"set","p":"chamberTemp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":200,"wires":[["718c84c2.7e250c"]]},{"id":"4d21aaf7.777404","type":"mqtt in","z":"c080d81d.548348","name":"","topic":"+/+/+/+/+/chamber/data/heaterTemp","qos":"2","datatype":"auto","broker":"74dcdab5.83e964","x":280,"y":280,"wires":[["ab17770e.0151a8"]]},{"id":"ab17770e.0151a8","type":"change","z":"c080d81d.548348","name":"","rules":[{"t":"set","p":"heaterTemp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":280,"wires":[["21e53b5.7f14844"]]},{"id":"e9bbfe74.dcfd2","type":"mqtt in","z":"c080d81d.548348","name":"","topic":"+/+/+/+/+/chamber/data/distance","qos":"2","datatype":"auto","broker":"74dcdab5.83e964","x":270,"y":360,"wires":[["83f8828.83de58"]]},{"id":"83f8828.83de58","type":"change","z":"c080d81d.548348","name":"","rules":[{"t":"set","p":"distance","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":360,"wires":[["7ed7f97c.15ae4"]]},{"id":"91689169.b69288","type":"mqtt in","z":"c080d81d.548348","name":"","topic":"+/+/+/+/+/chamber/data/dac","qos":"2","datatype":"auto","broker":"74dcdab5.83e964","x":240,"y":460,"wires":[["6447b44c.d6c01c"]]},{"id":"6447b44c.d6c01c","type":"change","z":"c080d81d.548348","name":"","rules":[{"t":"set","p":"dac","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":460,"wires":[["621e6eb8.feb82"]]},{"id":"c72b5849.0c65e","type":"change","z":"18b8c7ac.07eee8","name":"","rules":[{"t":"set","p":"mode","pt":"global","to":"IDLE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":240,"wires":[[]]},{"id":"78abee5f.3af5a","type":"change","z":"18b8c7ac.07eee8","name":"","rules":[{"t":"set","p":"heaterFAN","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":480,"wires":[[]]},{"id":"d1f33dd0.af0748","type":"change","z":"18b8c7ac.07eee8","name":"","rules":[{"t":"set","p":"coolerFAN","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":540,"wires":[[]]},{"id":"704b4353.a58f1c","type":"change","z":"18b8c7ac.07eee8","name":"","rules":[{"t":"set","p":"DAC","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":800,"wires":[[]]},{"id":"718c84c2.7e250c","type":"ui_gauge","z":"c080d81d.548348","name":"","group":"8f8583e.f5aeb8","order":1,"width":0,"height":0,"gtype":"gage","title":"Chamber Temp","label":"units","format":"{{value}}","min":"10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":200,"wires":[]},{"id":"5acae9e9.867408","type":"ui_gauge","z":"c080d81d.548348","name":"","group":"8f8583e.f5aeb8","order":2,"width":0,"height":0,"gtype":"gage","title":"Room Temp","label":"units","format":"{{value}}","min":"15","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":950,"y":120,"wires":[]},{"id":"21e53b5.7f14844","type":"ui_gauge","z":"c080d81d.548348","name":"","group":"8f8583e.f5aeb8","order":3,"width":0,"height":0,"gtype":"gage","title":"Heater Temp","label":"units","format":"{{value}}","min":"15","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":280,"wires":[]},{"id":"7ed7f97c.15ae4","type":"ui_text","z":"c080d81d.548348","group":"8f8583e.f5aeb8","order":4,"width":0,"height":0,"name":"","label":"Distance","format":"{{msg.payload}}","layout":"row-spread","x":980,"y":360,"wires":[]},{"id":"621e6eb8.feb82","type":"ui_text","z":"c080d81d.548348","group":"8f8583e.f5aeb8","order":4,"width":0,"height":0,"name":"","label":"DAC","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":460,"wires":[]},{"id":"7fd27d8a.bcbbf4","type":"ui_text","z":"c080d81d.548348","group":"a4b3d3f.f214ab","order":4,"width":0,"height":0,"name":"","label":"Mode","format":"{{msg.payload}}","layout":"row-spread","x":1010,"y":940,"wires":[]},{"id":"8d379af.5a81ae8","type":"change","z":"c080d81d.548348","name":"Mode","rules":[{"t":"set","p":"payload","pt":"msg","to":"mode","tot":"global"},{"t":"set","p":"topic","pt":"msg","to":"state/mode","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":940,"wires":[["7fd27d8a.bcbbf4"]]},{"id":"d1d54561.6db858","type":"change","z":"c080d81d.548348","name":"Target Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"targetTemp","tot":"global"},{"t":"set","p":"topic","pt":"msg","to":"state/targetTemp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1020,"wires":[["91397816.339fe8"]]},{"id":"91397816.339fe8","type":"ui_gauge","z":"c080d81d.548348","name":"","group":"8f8583e.f5aeb8","order":3,"width":0,"height":0,"gtype":"gage","title":"Target Temp","label":"units","format":"{{value}}","min":"10","max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1030,"y":1020,"wires":[]},{"id":"596ca967.814d6","type":"PID","z":"d7e822af.c12a4","name":"","setpoint":21,"pb":1,"ti":9999,"td":0,"integral_default":0.5,"smooth_factor":3,"max_interval":600,"enable":1,"disabled_op":0,"x":640,"y":280,"wires":[[]]},{"id":"4746d113.b3e64","type":"change","z":"c080d81d.548348","name":"Prepare message for heater FAN","rules":[{"t":"set","p":"payload","pt":"msg","to":"heaterFan","tot":"global"},{"t":"set","p":"topic","pt":"msg","to":"state/heaterFan","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":540,"wires":[["5c040674.5583e8"]]},{"id":"eacd36fc.f7e66","type":"change","z":"c080d81d.548348","name":"Prepare message for cooler FAN","rules":[{"t":"set","p":"payload","pt":"msg","to":"coolerFan","tot":"global"},{"t":"set","p":"topic","pt":"msg","to":"state/coolerFan","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":580,"wires":[["5c040674.5583e8"]]},{"id":"a72d82a4.7faeb8","type":"exec","z":"64672e75.03f4a8","command":"python3 ~/bread-tinkerforge/relay.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Fan control","x":850,"y":460,"wires":[[],[],[]]},{"id":"478001e2.24e63","type":"inject","z":"64672e75.03f4a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":500,"wires":[["2f8443a1.df085c","ee543485.34e86"]]},{"id":"2f8443a1.df085c","type":"change","z":"64672e75.03f4a8","name":"Heater FAN","rules":[{"t":"set","p":"heaterFAN","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"heater","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":460,"wires":[[]]},{"id":"ee543485.34e86","type":"change","z":"64672e75.03f4a8","name":"Cooler FAN","rules":[{"t":"set","p":"coolerFAN","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"cooler","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":560,"wires":[[]]},{"id":"9b36f0a.da15b9","type":"template","z":"64672e75.03f4a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{topic}} {{payload}}","output":"str","x":540,"y":500,"wires":[[]]}]