.flows.json.backup
[
    {
        "id": "64672e75.03f4a8",
        "type": "tab",
        "label": "CMD",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c080d81d.548348",
        "type": "tab",
        "label": "Sensor",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d7e822af.c12a4",
        "type": "tab",
        "label": "Main loop",
        "disabled": false,
        "info": ""
    },
    {
        "id": "144fdae.df77825",
        "type": "tab",
        "label": "Screen",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fcbfcd1c.3389b8",
        "type": "tab",
        "label": "Timer",
        "disabled": true,
        "info": ""
    },
    {
        "id": "ef7332d8.b66878",
        "type": "tab",
        "label": "HA",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6ffc7dda.e666ec",
        "type": "tab",
        "label": "Readme",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b75a5ea0.a8f4e8",
        "type": "tab",
        "label": "Startup",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a2c4834c.e7fa58",
        "type": "subflow",
        "name": "Process Simulation",
        "info": "",
        "in": [
            {
                "x": 37,
                "y": 103,
                "wires": [
                    {
                        "id": "6d70d582.40d7cc"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 728.5,
                "y": 294,
                "wires": [
                    {
                        "id": "9d2669f1.f67b38",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "315f1781.9b8a",
        "type": "subflow",
        "name": "Process Simulation (2)",
        "info": "",
        "in": [
            {
                "x": 37,
                "y": 103,
                "wires": [
                    {
                        "id": "7572c66e.a49098"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 728.5,
                "y": 294,
                "wires": [
                    {
                        "id": "d18bc720.8a5f48",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "a8a3abf.e25bad8",
        "type": "subflow",
        "name": "Process Simulation (3)",
        "info": "",
        "in": [
            {
                "x": 37,
                "y": 103,
                "wires": [
                    {
                        "id": "64ab43cf.6e5e4c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 728.5,
                "y": 294,
                "wires": [
                    {
                        "id": "11fc8064.92484",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "79509665.65e3b8",
        "type": "mqtt-broker",
        "name": "local",
        "broker": "brocker",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "74dcdab5.83e964",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "683f7eec.5c62c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "http://10.70.1.95",
        "port": "1883",
        "clientid": "bread",
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "ha/bread_chamber/available",
        "birthQos": "0",
        "birthRetain": "true",
        "birthPayload": "online",
        "birthMsg": {},
        "closeTopic": "ha/bread_chamber/available",
        "closeQos": "0",
        "closeRetain": "true",
        "closePayload": "offline",
        "closeMsg": {},
        "willTopic": "ha/bread_chamber/available",
        "willQos": "0",
        "willRetain": "true",
        "willPayload": "offline",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ec1a4fd5.087488",
        "type": "serial-port",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "ddc00501.5975f8",
        "type": "shared-state",
        "name": "heaterRelay",
        "lbl": "",
        "tags": "",
        "historyCount": "2",
        "dataType": "bool",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "",
        "numMin": "",
        "numMax": "",
        "unit": ""
    },
    {
        "id": "c8491213.eb9958",
        "type": "shared-state",
        "name": "enclosureFan",
        "lbl": "",
        "tags": "ha/binary_sensor/bread/enclosureFan/state",
        "historyCount": "2",
        "dataType": "bool",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "",
        "numMin": "",
        "numMax": "",
        "unit": ""
    },
    {
        "id": "b57179f0.c9eaa",
        "type": "shared-state",
        "name": "coolerRelay",
        "lbl": "",
        "tags": "",
        "historyCount": "2",
        "dataType": "bool",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "",
        "numMin": "",
        "numMax": "",
        "unit": ""
    },
    {
        "id": "1dc4d413.03488c",
        "type": "shared-state",
        "name": "powerRelay",
        "lbl": "",
        "tags": "",
        "historyCount": "2",
        "dataType": "bool",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "",
        "numMin": "",
        "numMax": "",
        "unit": ""
    },
    {
        "id": "bff6e5d1.24ce68",
        "type": "shared-state",
        "name": "data",
        "lbl": "",
        "tags": "",
        "historyCount": "2",
        "dataType": "obj",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "",
        "numMin": "",
        "numMax": "",
        "unit": ""
    },
    {
        "id": "e06ffb1d.7fc6a",
        "type": "shared-state",
        "name": "chamberState",
        "lbl": "",
        "tags": "ha/sensor/bread/chamberState/state",
        "historyCount": "3",
        "dataType": "num",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "",
        "numMin": "",
        "numMax": "",
        "unit": ""
    },
    {
        "id": "435b10b7.ae825",
        "type": "shared-state",
        "name": "chamberMode",
        "lbl": "",
        "tags": "",
        "historyCount": "2",
        "dataType": "num",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "",
        "numMin": "",
        "numMax": "",
        "unit": ""
    },
    {
        "id": "4451538c.85ad4c",
        "type": "shared-state",
        "name": "roomTemp",
        "lbl": "",
        "tags": "ha/sensor/bread/roomTemperature/state",
        "historyCount": "2",
        "dataType": "num",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "",
        "numMin": "",
        "numMax": "",
        "unit": "C"
    },
    {
        "id": "defdd5c9.00f138",
        "type": "shared-state",
        "name": "setpoint",
        "lbl": "",
        "tags": "ha/sensor/bread/setpoint/state",
        "historyCount": "2",
        "dataType": "num",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "1",
        "numMin": "6",
        "numMax": "40",
        "unit": "C"
    },
    {
        "id": "6084ef9b.c26b6",
        "type": "shared-state",
        "name": "chamberTemp",
        "lbl": "",
        "tags": "ha/sensor/bread/chamberTemp/state",
        "historyCount": "2",
        "dataType": "num",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "",
        "numMin": "",
        "numMax": "",
        "unit": "C"
    },
    {
        "id": "15fe707b.cbdd78",
        "type": "shared-state",
        "name": "heaterFAN",
        "lbl": "",
        "tags": "ha/binary_sensor/bread/heaterFan/state",
        "historyCount": "2",
        "dataType": "bool",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "",
        "numMin": "",
        "numMax": "",
        "unit": ""
    },
    {
        "id": "84d2f720.b81e98",
        "type": "shared-state",
        "name": "coolerFAN",
        "lbl": "",
        "tags": "",
        "historyCount": "2",
        "dataType": "num",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "",
        "numMin": "",
        "numMax": "",
        "unit": ""
    },
    {
        "id": "7cc16dfd.c5bd2c",
        "type": "shared-state",
        "name": "distance",
        "lbl": "",
        "tags": "",
        "historyCount": "2",
        "dataType": "num",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "",
        "numMin": "",
        "numMax": "",
        "unit": ""
    },
    {
        "id": "7bda2608.497328",
        "type": "shared-state",
        "name": "heaterTemp",
        "lbl": "",
        "tags": "ha/sensor/bread/heaterTemperature/state",
        "historyCount": "2",
        "dataType": "num",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "",
        "numMin": "",
        "numMax": "",
        "unit": "C"
    },
    {
        "id": "3fd19932.a4ee1e",
        "type": "shared-state",
        "name": "DAC",
        "lbl": "",
        "tags": "ha/sensor/bread/DAC/state",
        "historyCount": "2",
        "dataType": "num",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "0",
        "numMin": "",
        "numMax": "",
        "unit": ""
    },
    {
        "id": "b7f0356b.50c1a",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#008000",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#008000",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#008000",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#00cc00",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#008000",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "true",
            "allowSwipe": "true",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "258e5760.ba84a8",
        "type": "ui_tab",
        "name": "Home",
        "icon": "kitchen",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "47847ae6.02444c",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "14",
        "collapse": false
    },
    {
        "id": "fc3775f5.c6257",
        "type": "ui_group",
        "name": "PID",
        "tab": "258e5760.ba84a8",
        "order": 1,
        "disp": false,
        "width": 14,
        "collapse": false
    },
    {
        "id": "a8983602.60f12",
        "type": "shared-state",
        "name": "heaterPID",
        "lbl": "",
        "tags": "",
        "historyCount": "2",
        "dataType": "num",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "",
        "numMin": "0",
        "numMax": "1",
        "unit": ""
    },
    {
        "id": "89e0f9c6.9f9cf",
        "type": "shared-state",
        "name": "coolerPID",
        "lbl": "",
        "tags": "",
        "historyCount": "2",
        "dataType": "num",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "",
        "numMin": "0",
        "numMax": "1",
        "unit": ""
    },
    {
        "id": "d2fe52dd.9e871",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "14",
        "collapse": false
    },
    {
        "id": "190175bc.0bd302",
        "type": "serial-port",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false,
        "responsetimeout": "10000"
    },
    {
        "id": "95f8b82e.c7fee8",
        "type": "ui_tab",
        "name": "Timer",
        "icon": "timer",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "661a9ae3.9526a4",
        "type": "ui_group",
        "name": "Default",
        "tab": "95f8b82e.c7fee8",
        "order": 1,
        "disp": false,
        "width": "14",
        "collapse": false
    },
    {
        "id": "4e02b789.93b098",
        "type": "shared-state",
        "name": "timerHours",
        "lbl": "",
        "tags": "",
        "historyCount": "2",
        "dataType": "num",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "",
        "numMin": "0",
        "numMax": "",
        "unit": ""
    },
    {
        "id": "7373079d.b18318",
        "type": "shared-state",
        "name": "timerMinutes",
        "lbl": "",
        "tags": "",
        "historyCount": "2",
        "dataType": "num",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "",
        "numMin": "0",
        "numMax": "50",
        "unit": ""
    },
    {
        "id": "96599e66.c56eb",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "47847ae6.02444c",
        "order": 2,
        "width": 4,
        "height": 1
    },
    {
        "id": "a17d903.acd497",
        "type": "shared-state",
        "name": "startTime",
        "lbl": "",
        "tags": "",
        "historyCount": "2",
        "dataType": "num",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "",
        "numMin": "",
        "numMax": "",
        "unit": ""
    },
    {
        "id": "6e33e899.c99dd",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "13",
        "collapse": false
    },
    {
        "id": "e3998089.5fb718",
        "type": "shared-state",
        "name": "programRunning",
        "lbl": "",
        "tags": "",
        "historyCount": "2",
        "dataType": "num",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "",
        "numMin": "",
        "numMax": "",
        "unit": ""
    },
    {
        "id": "c3c81c25.d604a8",
        "type": "shared-state",
        "name": "programStep",
        "lbl": "",
        "tags": "",
        "historyCount": "2",
        "dataType": "num",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "",
        "numMin": "",
        "numMax": "",
        "unit": ""
    },
    {
        "id": "4c709b2.c266ee4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6e33e899.c99dd",
        "order": 2,
        "width": 7,
        "height": 1
    },
    {
        "id": "82dcaff7.4ed39",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6e33e899.c99dd",
        "order": 4,
        "width": 4,
        "height": 1
    },
    {
        "id": "a7f72166.e380d",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6e33e899.c99dd",
        "order": 6,
        "width": 4,
        "height": 1
    },
    {
        "id": "d8f04e64.8ea568",
        "type": "mqtt-broker",
        "name": "info2",
        "broker": "node47936-env-5539796.jcloud.ik-server.com",
        "port": "11640",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "e9549c24.e36728",
        "type": "shared-state",
        "name": "programStepEnd",
        "lbl": "",
        "tags": "",
        "historyCount": "2",
        "dataType": "num",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "",
        "numMin": "",
        "numMax": "",
        "unit": ""
    },
    {
        "id": "c4b6d6e3.1e084",
        "type": "shared-state",
        "name": "test",
        "lbl": "",
        "tags": "",
        "historyCount": "2",
        "dataType": "obj",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "",
        "numMin": "",
        "numMax": "",
        "unit": ""
    },
    {
        "id": "26e72c9a.42cacc",
        "type": "ui_group",
        "name": "MODIFICAR DATOS:",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "37784b63.87c6c4",
        "type": "ui_group",
        "name": "Filters",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "eaee578a.1be1c",
        "type": "shared-state",
        "name": "programLoaded",
        "lbl": "",
        "tags": "",
        "historyCount": "2",
        "dataType": "str",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "",
        "numMin": "",
        "numMax": "",
        "unit": ""
    },
    {
        "id": "1689f65e.64e27a",
        "type": "shared-state",
        "name": "timerTemp",
        "lbl": "",
        "tags": "",
        "historyCount": "2",
        "dataType": "num",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "",
        "numMin": "5",
        "numMax": "40",
        "unit": ""
    },
    {
        "id": "34ccbdec.7dd8fa",
        "type": "shared-state",
        "name": "timer",
        "lbl": "",
        "tags": "",
        "historyCount": "2",
        "dataType": "bool",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "",
        "numMin": "",
        "numMax": "",
        "unit": ""
    },
    {
        "id": "b25c78dd.d9a94",
        "type": "shared-state",
        "name": "timerEnd",
        "lbl": "",
        "tags": "",
        "historyCount": "2",
        "dataType": "num",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "",
        "numMin": "",
        "numMax": "",
        "unit": ""
    },
    {
        "id": "80743960.044b4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "661a9ae3.9526a4",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "eb7fb282.f0059",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "661a9ae3.9526a4",
        "order": 8,
        "width": 14,
        "height": 1
    },
    {
        "id": "d8c8da84.52d858",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "661a9ae3.9526a4",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "2eefb8ba.af2178",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "661a9ae3.9526a4",
        "order": 13,
        "width": 6,
        "height": 1
    },
    {
        "id": "1342c048.348f38",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "661a9ae3.9526a4",
        "order": 14,
        "width": 14,
        "height": 1
    },
    {
        "id": "7e034a72.5d7a8c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "661a9ae3.9526a4",
        "order": 15,
        "width": 7,
        "height": 1
    },
    {
        "id": "4842477e.7a02b",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "661a9ae3.9526a4",
        "order": 17,
        "width": 2,
        "height": 1
    },
    {
        "id": "12711f8.96e0c61",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "661a9ae3.9526a4",
        "order": 20,
        "width": 3,
        "height": 1
    },
    {
        "id": "f745f605.460d98",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "661a9ae3.9526a4",
        "order": 22,
        "width": 2,
        "height": 1
    },
    {
        "id": "2319b05c.b5628",
        "type": "semaphore-config",
        "name": "",
        "capacity": "1"
    },
    {
        "id": "56f0968a.d5a078",
        "type": "config-log",
        "logname": "particle",
        "logdir": "/home/pi",
        "stamp": "local",
        "logstyle": "plain",
        "logrotate": false,
        "logcompress": false,
        "logrotatecount": "5",
        "logsize": "1000"
    },
    {
        "id": "a14f286.72675d8",
        "type": "gauth"
    },
    {
        "id": "4079de4f.addb58",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "fc3775f5.c6257",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "6debae98.56924",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "fc3775f5.c6257",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "e40bb413.23825",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "fc3775f5.c6257",
        "order": 8,
        "width": 3,
        "height": 1
    },
    {
        "id": "dfe29e2f.dd21d",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "fc3775f5.c6257",
        "order": 10,
        "width": 5,
        "height": 1
    },
    {
        "id": "b164ee24.fe1c38",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "fc3775f5.c6257",
        "order": 11,
        "width": 14,
        "height": 1
    },
    {
        "id": "f8cc94f1.f89d88",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "fc3775f5.c6257",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "5b371846.5cb5a",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "fc3775f5.c6257",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "9c8b931b.0528d",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "fc3775f5.c6257",
        "order": 18,
        "width": 3,
        "height": 1
    },
    {
        "id": "23629002.9c961",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "fc3775f5.c6257",
        "order": 21,
        "width": 3,
        "height": 1
    },
    {
        "id": "1e142654.59cf12",
        "type": "shared-state",
        "name": "radiator",
        "lbl": "",
        "tags": "",
        "historyCount": "2",
        "dataType": "num",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "",
        "numMin": "",
        "numMax": "",
        "unit": "C"
    },
    {
        "id": "897d973e.04f4a",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "31e290ca.a5cfb",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "f6f305728d7ada59",
        "type": "shared-state",
        "name": "chipTemperature",
        "lbl": "",
        "tags": "ha/sensor/bread/chipTemperature/state",
        "historyCount": "2",
        "dataType": "num",
        "boolType": "bool",
        "boolStrTrue": "",
        "boolStrFalse": "",
        "precision": "",
        "numMin": "",
        "numMax": "",
        "unit": ""
    },
    {
        "id": "6a49d89f.1a17e8",
        "type": "mqtt in",
        "z": "c080d81d.548348",
        "name": "",
        "topic": "+/+/+/+/+/chamber/data/roomTemp",
        "qos": "2",
        "datatype": "auto",
        "broker": "74dcdab5.83e964",
        "nl": false,
        "rap": false,
        "x": 160,
        "y": 180,
        "wires": [
            [
                "519dddd5.a6b124"
            ]
        ]
    },
    {
        "id": "464c1ae1.6163b4",
        "type": "mqtt in",
        "z": "c080d81d.548348",
        "name": "",
        "topic": "+/+/+/+/+/chamber/data/chamberTemp",
        "qos": "2",
        "datatype": "auto",
        "broker": "74dcdab5.83e964",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "3a3d4c6a.26f854"
            ]
        ]
    },
    {
        "id": "4d21aaf7.777404",
        "type": "mqtt in",
        "z": "c080d81d.548348",
        "name": "",
        "topic": "+/+/+/+/+/chamber/data/heaterTemp",
        "qos": "2",
        "datatype": "auto",
        "broker": "74dcdab5.83e964",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "1814f859.119ea"
            ]
        ]
    },
    {
        "id": "e9bbfe74.dcfd2",
        "type": "mqtt in",
        "z": "c080d81d.548348",
        "name": "",
        "topic": "+/+/+/+/+/chamber/data/distance",
        "qos": "2",
        "datatype": "auto",
        "broker": "74dcdab5.83e964",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "1a0aeb86.b2dfa4"
            ]
        ]
    },
    {
        "id": "519dddd5.a6b124",
        "type": "json",
        "z": "c080d81d.548348",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 180,
        "wires": [
            [
                "74f57265.f82724"
            ]
        ]
    },
    {
        "id": "74f57265.f82724",
        "type": "change",
        "z": "c080d81d.548348",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.temperature/100",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 180,
        "wires": [
            [
                "17abac16.668be4"
            ]
        ]
    },
    {
        "id": "3a3d4c6a.26f854",
        "type": "json",
        "z": "c080d81d.548348",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 80,
        "wires": [
            [
                "b1bdd7c1.448ec"
            ]
        ]
    },
    {
        "id": "1814f859.119ea",
        "type": "json",
        "z": "c080d81d.548348",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 280,
        "wires": [
            [
                "f5a51b2b.e15118"
            ]
        ]
    },
    {
        "id": "1a0aeb86.b2dfa4",
        "type": "json",
        "z": "c080d81d.548348",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 360,
        "wires": [
            [
                "633b83d9.9c207c"
            ]
        ]
    },
    {
        "id": "b1bdd7c1.448ec",
        "type": "change",
        "z": "c080d81d.548348",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.temperature/100",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 80,
        "wires": [
            [
                "1bb22e0e.5a2d4a"
            ]
        ]
    },
    {
        "id": "f5a51b2b.e15118",
        "type": "change",
        "z": "c080d81d.548348",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.temperature/100",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 280,
        "wires": [
            [
                "9582e8db.d8e608"
            ]
        ]
    },
    {
        "id": "633b83d9.9c207c",
        "type": "change",
        "z": "c080d81d.548348",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.distance",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 360,
        "wires": [
            [
                "918c5608.5db458"
            ]
        ]
    },
    {
        "id": "30026e01.59ef02",
        "type": "function",
        "z": "a2c4834c.e7fa58",
        "name": "30 sec RC + 20",
        "func": "// Applies a simple RC low pass filter to incoming payload values\nvar tc = 30*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue + 20;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 626.5,
        "y": 207,
        "wires": [
            [
                "9d2669f1.f67b38"
            ]
        ]
    },
    {
        "id": "fcdbb78b.ec6bb8",
        "type": "inject",
        "z": "a2c4834c.e7fa58",
        "name": "Inject -0.2 at start",
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "-0.2",
        "payloadType": "num",
        "x": 134.5,
        "y": 30,
        "wires": [
            [
                "6d70d582.40d7cc"
            ]
        ]
    },
    {
        "id": "d2f1bf16.20b18",
        "type": "function",
        "z": "a2c4834c.e7fa58",
        "name": "10 sec RC",
        "func": "// Applies a simple RC low pass filter to incoming payload values\nvar tc = 10*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 451,
        "y": 207,
        "wires": [
            [
                "30026e01.59ef02"
            ]
        ]
    },
    {
        "id": "6d70d582.40d7cc",
        "type": "delay",
        "z": "a2c4834c.e7fa58",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 268,
        "y": 104,
        "wires": [
            [
                "7e41515a.444e38"
            ]
        ]
    },
    {
        "id": "48bba734.cb2b7",
        "type": "function",
        "z": "a2c4834c.e7fa58",
        "name": "2 msg transport delay",
        "func": "// stores messages in a fifo until the specified number have been received, \n// then releases them as new messages are received.\n// during the filling phase the earliest message is passed on each time \n// a message is received, but it is also left in the fifo\nvar fifoMaxLength = 2;\nvar fifo = context.get('fifo') || [];\n// push the new message onto the top of the array, messages are shifted down and\n// drop off the front\nvar length = fifo.push(msg);  // returns new length\nif (length > fifoMaxLength) {\n    newMsg = fifo.shift();\n} else {\n    // not full yet, make a copy of the msg and pass it on\n    var newMsg = JSON.parse(JSON.stringify(fifo[0]));\n}\ncontext.set('fifo', fifo);\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 258,
        "y": 208,
        "wires": [
            [
                "d2f1bf16.20b18"
            ]
        ]
    },
    {
        "id": "9d2669f1.f67b38",
        "type": "function",
        "z": "a2c4834c.e7fa58",
        "name": "Clear all except payload",
        "func": "msg2 = {payload: msg.payload};\nreturn msg2;",
        "outputs": 1,
        "noerr": 0,
        "x": 545,
        "y": 293,
        "wires": [
            []
        ]
    },
    {
        "id": "7e41515a.444e38",
        "type": "range",
        "z": "a2c4834c.e7fa58",
        "minin": "0",
        "maxin": "1",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": false,
        "name": "",
        "x": 87,
        "y": 208,
        "wires": [
            [
                "48bba734.cb2b7"
            ]
        ]
    },
    {
        "id": "7bb1e955.a8d99",
        "type": "range",
        "z": "d7e822af.c12a4",
        "minin": "0",
        "maxin": "1",
        "minout": "2150",
        "maxout": "1700",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 1750,
        "y": 240,
        "wires": [
            [
                "f095adee.1b77c"
            ]
        ]
    },
    {
        "id": "a4506f1b.f1adb8",
        "type": "mqtt out",
        "z": "d7e822af.c12a4",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "74dcdab5.83e964",
        "x": 1450,
        "y": 340,
        "wires": []
    },
    {
        "id": "97674649.be05e8",
        "type": "function",
        "z": "d7e822af.c12a4",
        "name": "",
        "func": "\nvar data = {};\ndata.pv = msg.pv;\ndata.proportional= msg.proportional;\ndata.integral = msg.instegral;\ndata.derivative = msg.derivative;\ndata.smothed_value= msg.smothed_value;\ndata.PID = msg.payload;\nmsg.payload= data;\nmsg.topic=\"PID/cooling\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1120,
        "y": 340,
        "wires": [
            [
                "a4506f1b.f1adb8"
            ]
        ]
    },
    {
        "id": "2edb92ac.0ac33e",
        "type": "mqtt out",
        "z": "64672e75.03f4a8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "74dcdab5.83e964",
        "x": 1370,
        "y": 220,
        "wires": []
    },
    {
        "id": "e33b4447.edd14",
        "type": "json",
        "z": "64672e75.03f4a8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 930,
        "y": 180,
        "wires": [
            [
                "2edb92ac.0ac33e"
            ]
        ]
    },
    {
        "id": "1e8f4cd1.7b9e23",
        "type": "change",
        "z": "64672e75.03f4a8",
        "name": "Prepare message for DAC",
        "rules": [
            {
                "t": "set",
                "p": "temp",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.DAC",
                "pt": "msg",
                "to": "temp",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "state/DAC",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 180,
        "wires": [
            [
                "e33b4447.edd14"
            ]
        ]
    },
    {
        "id": "b56e2773.31a2c8",
        "type": "inject",
        "z": "c080d81d.548348",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "4",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 120,
        "y": 680,
        "wires": [
            [
                "8281097c.662558",
                "39d7cb78.f294ec",
                "c9c4189a.75f2c",
                "2f25ad6f.d8f582"
            ]
        ]
    },
    {
        "id": "3bf4ab79.fee764",
        "type": "json",
        "z": "c080d81d.548348",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 750,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "8281097c.662558",
        "type": "change",
        "z": "c080d81d.548348",
        "name": "Prepare message for relay 1",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "state/relay1",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.state",
                "pt": "msg",
                "to": "state.relay1.value",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 640,
        "wires": [
            [
                "3bf4ab79.fee764"
            ]
        ]
    },
    {
        "id": "39d7cb78.f294ec",
        "type": "change",
        "z": "c080d81d.548348",
        "name": "Prepare message for relay 2",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "state/relay2",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.state",
                "pt": "msg",
                "to": "state.relay2.value",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 680,
        "wires": [
            [
                "3bf4ab79.fee764"
            ]
        ]
    },
    {
        "id": "c9c4189a.75f2c",
        "type": "change",
        "z": "c080d81d.548348",
        "name": "Prepare message for DAC",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "state/DAC",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.DAC",
                "pt": "msg",
                "to": "state.DAC.value",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 740,
        "wires": [
            [
                "3bf4ab79.fee764"
            ]
        ]
    },
    {
        "id": "a1ee4f29.bb8d38",
        "type": "function",
        "z": "d7e822af.c12a4",
        "name": "",
        "func": "\nvar data = {};\ndata.pv = msg.pv;\ndata.proportional= msg.proportional;\ndata.integral = msg.instegral;\ndata.derivative = msg.derivative;\ndata.smothed_value= msg.smothed_value;\ndata.PID = msg.payload;\nmsg.payload= data;\nmsg.topic=\"PID/heating\";\n\nvar temp = global.get(\"state.chamberTemp.value\");\nif (temp > msg.setpoint + 0.5 ){\n    \n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1120,
        "y": 440,
        "wires": [
            [
                "a4506f1b.f1adb8"
            ]
        ]
    },
    {
        "id": "1ee5d6c.4e64429",
        "type": "range",
        "z": "d7e822af.c12a4",
        "minin": "0",
        "maxin": "1",
        "minout": "2170",
        "maxout": "1730",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 1630,
        "y": 560,
        "wires": [
            [
                "f095adee.1b77c"
            ]
        ]
    },
    {
        "id": "2f25ad6f.d8f582",
        "type": "change",
        "z": "c080d81d.548348",
        "name": "Prepare message for setpoint",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "state/setpoint",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.setpoint",
                "pt": "msg",
                "to": "state.setpoint.value",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 780,
        "wires": [
            [
                "3bf4ab79.fee764"
            ]
        ]
    },
    {
        "id": "bf75b64e.6b2288",
        "type": "function",
        "z": "315f1781.9b8a",
        "name": "30 sec RC + 20",
        "func": "// Applies a simple RC low pass filter to incoming payload values\nvar tc = 30*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue + 20;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 626.5,
        "y": 207,
        "wires": [
            [
                "d18bc720.8a5f48"
            ]
        ]
    },
    {
        "id": "8b13dab8.5b111",
        "type": "inject",
        "z": "315f1781.9b8a",
        "name": "Inject -0.2 at start",
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "-0.2",
        "payloadType": "num",
        "x": 134.5,
        "y": 30,
        "wires": [
            [
                "7572c66e.a49098"
            ]
        ]
    },
    {
        "id": "6a59c527.82190c",
        "type": "function",
        "z": "315f1781.9b8a",
        "name": "10 sec RC",
        "func": "// Applies a simple RC low pass filter to incoming payload values\nvar tc = 10*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 451,
        "y": 207,
        "wires": [
            [
                "bf75b64e.6b2288"
            ]
        ]
    },
    {
        "id": "7572c66e.a49098",
        "type": "delay",
        "z": "315f1781.9b8a",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 268,
        "y": 104,
        "wires": [
            [
                "f06fb8ea.421cd"
            ]
        ]
    },
    {
        "id": "7febaf3c.f11928",
        "type": "function",
        "z": "315f1781.9b8a",
        "name": "2 msg transport delay",
        "func": "// stores messages in a fifo until the specified number have been received, \n// then releases them as new messages are received.\n// during the filling phase the earliest message is passed on each time \n// a message is received, but it is also left in the fifo\nvar fifoMaxLength = 2;\nvar fifo = context.get('fifo') || [];\n// push the new message onto the top of the array, messages are shifted down and\n// drop off the front\nvar length = fifo.push(msg);  // returns new length\nif (length > fifoMaxLength) {\n    newMsg = fifo.shift();\n} else {\n    // not full yet, make a copy of the msg and pass it on\n    var newMsg = JSON.parse(JSON.stringify(fifo[0]));\n}\ncontext.set('fifo', fifo);\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 258,
        "y": 208,
        "wires": [
            [
                "6a59c527.82190c"
            ]
        ]
    },
    {
        "id": "d18bc720.8a5f48",
        "type": "function",
        "z": "315f1781.9b8a",
        "name": "Clear all except payload",
        "func": "msg2 = {payload: msg.payload};\nreturn msg2;",
        "outputs": 1,
        "noerr": 0,
        "x": 545,
        "y": 293,
        "wires": [
            []
        ]
    },
    {
        "id": "f06fb8ea.421cd",
        "type": "range",
        "z": "315f1781.9b8a",
        "minin": "0",
        "maxin": "1",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": false,
        "name": "",
        "x": 87,
        "y": 208,
        "wires": [
            [
                "7febaf3c.f11928"
            ]
        ]
    },
    {
        "id": "850d8f8b.df11f8",
        "type": "inject",
        "z": "d7e822af.c12a4",
        "name": "Send chamber temp",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "setpoint",
                "v": "state.setpoint.value",
                "vt": "global"
            },
            {
                "p": "room",
                "v": "state.roomTemp.value",
                "vt": "global"
            },
            {
                "p": "state",
                "v": "state.chamberState.value",
                "vt": "global"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "state.chamberTemp.value",
        "payloadType": "global",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "4a38f99d.c4d1e8"
            ]
        ]
    },
    {
        "id": "596ca967.814d6",
        "type": "PID",
        "z": "d7e822af.c12a4",
        "name": "Cooler PID",
        "setpoint": 21,
        "pb": "1.5",
        "ti": "600",
        "td": "120",
        "integral_default": "0",
        "smooth_factor": 3,
        "max_interval": 600,
        "enable": "0",
        "disabled_op": 0,
        "x": 870,
        "y": 360,
        "wires": [
            [
                "97674649.be05e8",
                "96c55171.7285b8"
            ]
        ]
    },
    {
        "id": "a3d4333b.6db588",
        "type": "PID",
        "z": "d7e822af.c12a4",
        "name": "Heater PID",
        "setpoint": "20",
        "pb": "1",
        "ti": "600",
        "td": "150",
        "integral_default": "0",
        "smooth_factor": "2",
        "max_interval": 600,
        "enable": "0",
        "disabled_op": "0",
        "x": 870,
        "y": 440,
        "wires": [
            [
                "dd44341c.0ef3a8",
                "a1ee4f29.bb8d38"
            ]
        ]
    },
    {
        "id": "918c5608.5db458",
        "type": "set-shared-state",
        "z": "c080d81d.548348",
        "state": "7cc16dfd.c5bd2c",
        "name": "distance",
        "triggerOnInit": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 800,
        "y": 360,
        "wires": []
    },
    {
        "id": "9582e8db.d8e608",
        "type": "set-shared-state",
        "z": "c080d81d.548348",
        "state": "7bda2608.497328",
        "name": "heaterTemp",
        "triggerOnInit": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 790,
        "y": 280,
        "wires": []
    },
    {
        "id": "1bb22e0e.5a2d4a",
        "type": "set-shared-state",
        "z": "c080d81d.548348",
        "state": "6084ef9b.c26b6",
        "name": "chamberTemp",
        "triggerOnInit": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 760,
        "y": 80,
        "wires": []
    },
    {
        "id": "17abac16.668be4",
        "type": "set-shared-state",
        "z": "c080d81d.548348",
        "state": "4451538c.85ad4c",
        "name": "roomTemp",
        "triggerOnInit": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 750,
        "y": 180,
        "wires": []
    },
    {
        "id": "f095adee.1b77c",
        "type": "set-shared-state",
        "z": "d7e822af.c12a4",
        "state": "3fd19932.a4ee1e",
        "name": "DAC",
        "triggerOnInit": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 1710,
        "y": 400,
        "wires": []
    },
    {
        "id": "a3f4cfa0.4c2fd8",
        "type": "get-shared-state",
        "z": "64672e75.03f4a8",
        "state": "ddc00501.5975f8",
        "name": "heaterRelay",
        "triggerOnInit": true,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "4441a7ff.ccde"
            ]
        ]
    },
    {
        "id": "fff30cf1.14895",
        "type": "get-shared-state",
        "z": "64672e75.03f4a8",
        "state": "b57179f0.c9eaa",
        "name": "coolerRelay",
        "triggerOnInit": true,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "4441a7ff.ccde"
            ]
        ]
    },
    {
        "id": "ddaa2721.6d98a",
        "type": "get-shared-state",
        "z": "64672e75.03f4a8",
        "state": "3fd19932.a4ee1e",
        "name": "DAC",
        "triggerOnInit": true,
        "x": 230,
        "y": 300,
        "wires": [
            [
                "1e8f4cd1.7b9e23",
                "35d58b7b.e4a0bc"
            ]
        ]
    },
    {
        "id": "a5faa198.dc456",
        "type": "get-shared-state",
        "z": "64672e75.03f4a8",
        "state": "e06ffb1d.7fc6a",
        "name": "chamberState",
        "triggerOnInit": true,
        "x": 70,
        "y": 360,
        "wires": [
            [
                "30274e4a.4a1ff2"
            ]
        ]
    },
    {
        "id": "4ba42455.672e5c",
        "type": "switch",
        "z": "64672e75.03f4a8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 250,
        "y": 560,
        "wires": [
            [
                "c11bb4dd.84b3f",
                "eaaf566c.fd8c78"
            ],
            [
                "9be6c47a.6a94f",
                "cd0ceb27.ad777"
            ],
            [
                "3be3c18b.3156ee",
                "f6371b8f.ce0d1"
            ]
        ]
    },
    {
        "id": "6926ac7a.6a98dc",
        "type": "set-shared-state",
        "z": "64672e75.03f4a8",
        "state": "ddc00501.5975f8",
        "name": "heaterRelay",
        "triggerOnInit": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 1010,
        "y": 700,
        "wires": []
    },
    {
        "id": "53d30698.598b",
        "type": "set-shared-state",
        "z": "64672e75.03f4a8",
        "state": "b57179f0.c9eaa",
        "name": "coolerRelay",
        "triggerOnInit": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 1030,
        "y": 620,
        "wires": []
    },
    {
        "id": "c11bb4dd.84b3f",
        "type": "change",
        "z": "64672e75.03f4a8",
        "name": "false",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 600,
        "wires": [
            [
                "6926ac7a.6a98dc",
                "53d30698.598b",
                "11c84310.ed2465"
            ]
        ]
    },
    {
        "id": "3be3c18b.3156ee",
        "type": "change",
        "z": "64672e75.03f4a8",
        "name": "false",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 720,
        "wires": [
            [
                "6926ac7a.6a98dc"
            ]
        ]
    },
    {
        "id": "9be6c47a.6a94f",
        "type": "change",
        "z": "64672e75.03f4a8",
        "name": "true",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 680,
        "wires": [
            [
                "6926ac7a.6a98dc"
            ]
        ]
    },
    {
        "id": "cd0ceb27.ad777",
        "type": "change",
        "z": "64672e75.03f4a8",
        "name": "false",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 780,
        "wires": [
            [
                "53d30698.598b",
                "11c84310.ed2465"
            ]
        ]
    },
    {
        "id": "f6371b8f.ce0d1",
        "type": "change",
        "z": "64672e75.03f4a8",
        "name": "true",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 840,
        "wires": [
            [
                "53d30698.598b",
                "11c84310.ed2465"
            ]
        ]
    },
    {
        "id": "68ed205b.854af",
        "type": "function",
        "z": "a8a3abf.e25bad8",
        "name": "30 sec RC + 20",
        "func": "// Applies a simple RC low pass filter to incoming payload values\nvar tc = 30*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue + 20;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 626.5,
        "y": 207,
        "wires": [
            [
                "11fc8064.92484"
            ]
        ]
    },
    {
        "id": "f2f1bec6.236258",
        "type": "inject",
        "z": "a8a3abf.e25bad8",
        "name": "Inject -0.2 at start",
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "-0.2",
        "payloadType": "num",
        "x": 134.5,
        "y": 30,
        "wires": [
            [
                "64ab43cf.6e5e4c"
            ]
        ]
    },
    {
        "id": "b9306c61.07beb",
        "type": "function",
        "z": "a8a3abf.e25bad8",
        "name": "10 sec RC",
        "func": "// Applies a simple RC low pass filter to incoming payload values\nvar tc = 10*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 451,
        "y": 207,
        "wires": [
            [
                "68ed205b.854af"
            ]
        ]
    },
    {
        "id": "64ab43cf.6e5e4c",
        "type": "delay",
        "z": "a8a3abf.e25bad8",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 268,
        "y": 104,
        "wires": [
            [
                "59b25e00.d8d11"
            ]
        ]
    },
    {
        "id": "9d2b27f9.2ddd78",
        "type": "function",
        "z": "a8a3abf.e25bad8",
        "name": "2 msg transport delay",
        "func": "// stores messages in a fifo until the specified number have been received, \n// then releases them as new messages are received.\n// during the filling phase the earliest message is passed on each time \n// a message is received, but it is also left in the fifo\nvar fifoMaxLength = 2;\nvar fifo = context.get('fifo') || [];\n// push the new message onto the top of the array, messages are shifted down and\n// drop off the front\nvar length = fifo.push(msg);  // returns new length\nif (length > fifoMaxLength) {\n    newMsg = fifo.shift();\n} else {\n    // not full yet, make a copy of the msg and pass it on\n    var newMsg = JSON.parse(JSON.stringify(fifo[0]));\n}\ncontext.set('fifo', fifo);\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 258,
        "y": 208,
        "wires": [
            [
                "b9306c61.07beb"
            ]
        ]
    },
    {
        "id": "11fc8064.92484",
        "type": "function",
        "z": "a8a3abf.e25bad8",
        "name": "Clear all except payload",
        "func": "msg2 = {payload: msg.payload};\nreturn msg2;",
        "outputs": 1,
        "noerr": 0,
        "x": 545,
        "y": 293,
        "wires": [
            []
        ]
    },
    {
        "id": "59b25e00.d8d11",
        "type": "range",
        "z": "a8a3abf.e25bad8",
        "minin": "0",
        "maxin": "1",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": false,
        "name": "",
        "x": 87,
        "y": 208,
        "wires": [
            [
                "9d2b27f9.2ddd78"
            ]
        ]
    },
    {
        "id": "35d58b7b.e4a0bc",
        "type": "change",
        "z": "64672e75.03f4a8",
        "name": "Prepare message for DAC",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "tinkerforge/request/analog_out_v2_bricklet/vm5/set_output_voltage",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 240,
        "wires": [
            [
                "6e756ef9.f8e908"
            ]
        ]
    },
    {
        "id": "6e756ef9.f8e908",
        "type": "template",
        "z": "64672e75.03f4a8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"voltage\": {{payload}} }",
        "output": "str",
        "x": 940,
        "y": 240,
        "wires": [
            [
                "2edb92ac.0ac33e"
            ]
        ]
    },
    {
        "id": "4441a7ff.ccde",
        "type": "template",
        "z": "64672e75.03f4a8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"channel0\":{{global.state.heaterRelay.value}},\"channel1\":{{global.state.coolerRelay.value}}}",
        "output": "str",
        "x": 420,
        "y": 100,
        "wires": [
            [
                "c56ff7f1381623b7"
            ]
        ]
    },
    {
        "id": "39f59899.df5af",
        "type": "inject",
        "z": "64672e75.03f4a8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payloadType": "str",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "4441a7ff.ccde",
                "73375e88c23ab2dc"
            ]
        ]
    },
    {
        "id": "35da4b8f.1332b4",
        "type": "set-shared-state",
        "z": "144fdae.df77825",
        "state": "e06ffb1d.7fc6a",
        "name": "chamberState",
        "triggerOnInit": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 1320,
        "y": 260,
        "wires": []
    },
    {
        "id": "ad729b28.f7d84",
        "type": "ui_button",
        "z": "144fdae.df77825",
        "name": "Stop",
        "group": "fc3775f5.c6257",
        "order": 16,
        "width": 4,
        "height": 2,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-3x fa-play",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 710,
        "y": 220,
        "wires": [
            [
                "c0164e0f.35542"
            ]
        ]
    },
    {
        "id": "6284801f.89875",
        "type": "ui_button",
        "z": "144fdae.df77825",
        "name": "OFF",
        "group": "fc3775f5.c6257",
        "order": 20,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-3x fa-power-off ",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 690,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "7f56673.d91be18",
        "type": "ui_button",
        "z": "144fdae.df77825",
        "name": "Up",
        "group": "fc3775f5.c6257",
        "order": 3,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-3x fa-arrow-up",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 450,
        "y": 540,
        "wires": [
            [
                "e98648b4.2c14"
            ]
        ]
    },
    {
        "id": "563a2958.ebefa8",
        "type": "ui_button",
        "z": "144fdae.df77825",
        "name": "Down",
        "group": "fc3775f5.c6257",
        "order": 1,
        "width": 3,
        "height": 2,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-3x fa-arrow-down",
        "payload": "-1",
        "payloadType": "num",
        "topic": "",
        "x": 450,
        "y": 580,
        "wires": [
            [
                "e98648b4.2c14"
            ]
        ]
    },
    {
        "id": "16fad620.8a1b62",
        "type": "ui_text",
        "z": "144fdae.df77825",
        "group": "fc3775f5.c6257",
        "order": 2,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "",
        "format": "<font size=10>{{msg.payload}}C",
        "layout": "row-spread",
        "x": 690,
        "y": 400,
        "wires": []
    },
    {
        "id": "84fd9434.8f731",
        "type": "get-shared-state",
        "z": "144fdae.df77825",
        "state": "defdd5c9.00f138",
        "name": "setpoint",
        "triggerOnInit": true,
        "x": 470,
        "y": 400,
        "wires": [
            [
                "16fad620.8a1b62"
            ]
        ]
    },
    {
        "id": "7877d07a.7552c",
        "type": "set-shared-state",
        "z": "144fdae.df77825",
        "state": "defdd5c9.00f138",
        "name": "setpoint",
        "triggerOnInit": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 1180,
        "y": 560,
        "wires": []
    },
    {
        "id": "e98648b4.2c14",
        "type": "function",
        "z": "144fdae.df77825",
        "name": "",
        "func": "var setpoint = global.get('state.setpoint.value');\n\nmsg.payload = setpoint + msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 630,
        "y": 560,
        "wires": [
            [
                "7877d07a.7552c"
            ]
        ]
    },
    {
        "id": "2be5b839.543b8",
        "type": "rpi-mouse",
        "z": "144fdae.df77825",
        "name": "",
        "butt": "1",
        "x": 250,
        "y": 80,
        "wires": [
            [
                "99efd87c.6cb74",
                "10ba7482.305cdb"
            ]
        ]
    },
    {
        "id": "30860dea.6971c2",
        "type": "exec",
        "z": "144fdae.df77825",
        "command": "sudo sh -c 'echo \"1\" > /sys/class/backlight/rpi_backlight/bl_power'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 900,
        "y": 60,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "99efd87c.6cb74",
        "type": "trigger",
        "z": "144fdae.df77825",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "nul",
        "op2type": "str",
        "duration": "30",
        "extend": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 470,
        "y": 60,
        "wires": [
            [
                "30860dea.6971c2"
            ]
        ]
    },
    {
        "id": "10ba7482.305cdb",
        "type": "exec",
        "z": "144fdae.df77825",
        "command": "sudo sh -c 'echo \"0\" > /sys/class/backlight/rpi_backlight/bl_power'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 900,
        "y": 100,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "2d48f21e.f9e146",
        "type": "get-shared-state",
        "z": "144fdae.df77825",
        "state": "6084ef9b.c26b6",
        "name": "chamberTemp",
        "triggerOnInit": true,
        "x": 570,
        "y": 740,
        "wires": [
            [
                "84e2e5a2.e53b98",
                "fc8f935e.8d532",
                "2b8f391.c37d146",
                "6c13ad41.07665c"
            ]
        ]
    },
    {
        "id": "d6e860c.2452fa",
        "type": "ui_template",
        "z": "144fdae.df77825",
        "group": "",
        "name": "Node-Red Dashboard Custom CSS",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n/* ------------------------------------ */\n/* MODIFICATIONS du THME DARK NODE-RED */\n/* ------------------------------------ */\n\n/* ----------------------------- */\n/* On vite les clics non voulus */\n/* ----------------------------- */\nroot, a, button, p, div {\n    -webkit-user-select: none !important;\n}\n\n/* --------------------- */\n/* Dgrad du BACKGROUND */\n/* --------------------- */\nbody {\n    background: -webkit-linear-gradient(\n    55deg,\n    #009785 0%,\n    #245aa5 50%,\n    #b800e9 100%\n    );\n    -webkit-touch-callout: none !important;\n}\n\n\n/* ------------------------------------- */\n/* Modification du background par DFAUT */\n/* ------------------------------------- */\nbody.nr-dashboard-theme md-toolbar,\nbody.nr-dashboard-theme md-content md-card {\n    background-color: transparent !important;\n    color: #FFFFFF;\n}\n\nui-card-panel {\n    background-color: rgba(255,255,255,0.1) !important;\n    border-radius: 10px !important;\n}\n    \n/* -------------------- */\n/* ARRONDIS des GROUPES */\n/* -------------------- */\n#Homey_Dashboard_Navigation {\n    background-color: transparent !important;\n    border-radius: 10px !important;\n}\n\n/* -------------------------- */\n/* PERSONNALISATIONS diverses */\n/* -------------------------- */\n.md-card.md-default-theme, md-card {\n    border-radius: 10px;\n}\n\n.nr-dashboard-switch.ng-scope {\n    background-color: rgba(255,255,255,.2) !important;\n}\n.wi {\n    background-color: rgba(255,255,255,.2) !important;\n}\n\n\n\n.nr-dashboard-switch.ng-scope:hover {\n    background-color: rgba(255,255,255,.5) !important;\n}\n\n.nr-dashboard-theme .nr-dashboard-button .md-button {\n    background-color: rgba(255,255,255,.2);\n}\n\n.md-button {\n    border-radius: 10px;\n}\n\n.nr-dashboard-cardpanel layout-column {\n    background-color: rgba(255,255,255,0.2) !important;\n    background-color: transparent !important;\n    border-radius: 10px !important;\n}\n\n.nr-dashboard-theme ui-card-panel {\n    border: none;\n}\n\n.nr-dashboard-template {\n    overflow-y: visible;\n}\n.nr-dashboard-theme md-content md-card {\n    background-color: transparent !important;\n}\n\n.nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n    color: rgba(255, 255, 255, 0.5);\n}\n\n/* -------------------------------------------- */\n/* FIN DES MODIFICATIONS du THME DARK NODE-RED */\n/* -------------------------------------------- */\n\n</style>\n\n<script>\ndocument.ontouchmove = function (e) {\n    e.preventDefault();\n}\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "x": 1350,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "e24ffaa8.b02778",
        "type": "switch",
        "z": "144fdae.df77825",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 240,
        "y": 200,
        "wires": [
            [
                "23c2223d.1c2506"
            ],
            [
                "e5c76811.9561f8"
            ]
        ]
    },
    {
        "id": "e37876b2.aab81",
        "type": "get-shared-state",
        "z": "144fdae.df77825",
        "state": "e06ffb1d.7fc6a",
        "name": "chamberState",
        "triggerOnInit": false,
        "x": 70,
        "y": 160,
        "wires": [
            [
                "e24ffaa8.b02778",
                "19810389.94672c"
            ]
        ]
    },
    {
        "id": "23c2223d.1c2506",
        "type": "change",
        "z": "144fdae.df77825",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ui_control.icon",
                "pt": "msg",
                "to": "fa-3x fa-play",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 200,
        "wires": [
            [
                "ad729b28.f7d84"
            ]
        ]
    },
    {
        "id": "e5c76811.9561f8",
        "type": "change",
        "z": "144fdae.df77825",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ui_control.icon",
                "pt": "msg",
                "to": "fa-3x fa-stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 240,
        "wires": [
            [
                "ad729b28.f7d84"
            ]
        ]
    },
    {
        "id": "17e05937.ad46c7",
        "type": "change",
        "z": "144fdae.df77825",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 220,
        "wires": [
            [
                "35da4b8f.1332b4"
            ]
        ]
    },
    {
        "id": "c0164e0f.35542",
        "type": "switch",
        "z": "144fdae.df77825",
        "name": "",
        "property": "state.chamberState.value",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 830,
        "y": 240,
        "wires": [
            [
                "17e05937.ad46c7"
            ],
            [
                "94431949.aa0b3",
                "cc8f2bb9.4e838"
            ]
        ]
    },
    {
        "id": "94431949.aa0b3",
        "type": "change",
        "z": "144fdae.df77825",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 260,
        "wires": [
            [
                "35da4b8f.1332b4"
            ]
        ]
    },
    {
        "id": "19e4412a.7cf3ff",
        "type": "get-shared-state",
        "z": "144fdae.df77825",
        "state": "4451538c.85ad4c",
        "name": "roomTemp",
        "triggerOnInit": true,
        "x": 460,
        "y": 480,
        "wires": [
            [
                "496ee298.dc0e04"
            ]
        ]
    },
    {
        "id": "df03ecd.a60851",
        "type": "ui_text",
        "z": "144fdae.df77825",
        "group": "fc3775f5.c6257",
        "order": 17,
        "width": 5,
        "height": 1,
        "name": "Timer",
        "label": "{{msg.label}}",
        "format": "<font size=9 >  {{msg.payload}}",
        "layout": "row-spread",
        "x": 930,
        "y": 900,
        "wires": []
    },
    {
        "id": "a745d9d1.e78d9",
        "type": "inject",
        "z": "144fdae.df77825",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 430,
        "y": 880,
        "wires": [
            [
                "fbbacb3f.274aa8"
            ]
        ]
    },
    {
        "id": "fbbacb3f.274aa8",
        "type": "function",
        "z": "144fdae.df77825",
        "name": "",
        "func": "var state = global.get(\"state.chamberState.value\");\nif (state == 1){\n    msg.payload = \"\";\n    msg.enabled = false;\n     msg.label=\"\";\n} else {\n    msg.enabled = true;\n    var time = new Date(global.get(\"state.startTime.timestamp\"));\n    var dt = new Date(msg.payload - time);\n    var minutes = dt.getMinutes();\n    var seconds = dt.getSeconds();\n    var hours = dt.getHours() - 1;\n    if (minutes < 10) {\n        minutes = \"0\" + minutes;\n    }\n    if (seconds < 10) {\n        seconds = \"0\" + seconds;\n    }\n    if (hours < 10) {\n        hours = \"0\" + hours;\n    } else if (hours== 1) {\n        hours = \"00\";\n    }\n    msg.payload = hours+\":\"+minutes + \":\" + seconds;\n    msg.label=\"<i class='fa fa-clock-o fa-2x'></i>  \";\n}\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 660,
        "y": 880,
        "wires": [
            [
                "df03ecd.a60851"
            ]
        ]
    },
    {
        "id": "496ee298.dc0e04",
        "type": "ui_button",
        "z": "144fdae.df77825",
        "name": "Room temp",
        "group": "fc3775f5.c6257",
        "order": 14,
        "width": 6,
        "height": 2,
        "passthru": false,
        "label": "<font size=9 ><i class=\"fa fa-home\"></i> {{msg.payload}} C",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "-1",
        "payloadType": "num",
        "topic": "",
        "x": 670,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "84e2e5a2.e53b98",
        "type": "ui_button",
        "z": "144fdae.df77825",
        "name": "Chamber temp",
        "group": "fc3775f5.c6257",
        "order": 12,
        "width": 6,
        "height": 2,
        "passthru": false,
        "label": "<font size=9 ><i class=\"fa fa-caret-square-o-up \"></i> {{msg.payload}} C",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "-1",
        "payloadType": "num",
        "topic": "",
        "x": 960,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "19810389.94672c",
        "type": "function",
        "z": "144fdae.df77825",
        "name": "",
        "func": "var state = msg.payload;\nif (state == 1){\n    msg.payload = \"<i class='fa fa-bed'></i>\";\n    msg.color= \"white\";\n    \n} else if (state == 2){\n    msg.payload = \"<i class='fa fa-thermometer'></i>\";\n    msg.color= \"yellow\";\n\n} else if (state == 3){\n    msg.payload = \"<i class='fa fa-thermometer'></i>  <i class='fa fa-fire'></i>\";\n    msg.color= \"red\";\n} else if (state == 4){\n    msg.payload = \"<i class='fa fa-thermometer'></i>  <i class='fa fa-snowflake-o'></i>\";\n    msg.color= \"blue\";\n}\nif (global.get(\"state.programRunning.value\")>0){\n    msg.payload = msg.payload + \"  <i class='fa fa-tasks'></i>\";\n\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 340,
        "wires": [
            [
                "6f847a7e.fd5a0c"
            ]
        ]
    },
    {
        "id": "6f847a7e.fd5a0c",
        "type": "ui_button",
        "z": "144fdae.df77825",
        "name": "State",
        "group": "fc3775f5.c6257",
        "order": 5,
        "width": 4,
        "height": 2,
        "passthru": false,
        "label": "<font size=50>{{msg.payload}} ",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "transparent",
        "icon": "",
        "payload": "-1",
        "payloadType": "num",
        "topic": "",
        "x": 510,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "c4031ed2.a5087",
        "type": "ui_button",
        "z": "fcbfcd1c.3389b8",
        "name": "Start",
        "group": "661a9ae3.9526a4",
        "order": 19,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 490,
        "y": 620,
        "wires": [
            [
                "79630fdb.8e7e68",
                "31e10e27.c0cef2"
            ]
        ]
    },
    {
        "id": "495d2b18.b994ec",
        "type": "ui_button",
        "z": "fcbfcd1c.3389b8",
        "name": "Cancel",
        "group": "661a9ae3.9526a4",
        "order": 21,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "",
        "x": 500,
        "y": 560,
        "wires": [
            [
                "79630fdb.8e7e68"
            ]
        ]
    },
    {
        "id": "4f9cca40.87b874",
        "type": "ui_button",
        "z": "fcbfcd1c.3389b8",
        "name": "Up hours",
        "group": "661a9ae3.9526a4",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-3x fa-arrow-up",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 380,
        "y": 40,
        "wires": [
            [
                "f1537c80.b51db"
            ]
        ]
    },
    {
        "id": "c96e7a9.fa12a88",
        "type": "ui_button",
        "z": "fcbfcd1c.3389b8",
        "name": "Down hours",
        "group": "661a9ae3.9526a4",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-3x fa-arrow-down",
        "payload": "-1",
        "payloadType": "num",
        "topic": "",
        "x": 390,
        "y": 160,
        "wires": [
            [
                "f1537c80.b51db"
            ]
        ]
    },
    {
        "id": "be4c367d.8e2fd8",
        "type": "ui_button",
        "z": "fcbfcd1c.3389b8",
        "name": "hours",
        "group": "661a9ae3.9526a4",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Hr {{msg.payload}} ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 370,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "790df2f8.bd421c",
        "type": "ui_button",
        "z": "fcbfcd1c.3389b8",
        "name": "Up minutes",
        "group": "661a9ae3.9526a4",
        "order": 5,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-3x fa-arrow-up",
        "payload": "10",
        "payloadType": "num",
        "topic": "",
        "x": 590,
        "y": 180,
        "wires": [
            [
                "381bb48.62d12cc"
            ]
        ]
    },
    {
        "id": "4af125f1.d9a40c",
        "type": "ui_button",
        "z": "fcbfcd1c.3389b8",
        "name": "Down minutes",
        "group": "661a9ae3.9526a4",
        "order": 7,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-3x fa-arrow-down",
        "payload": "-10",
        "payloadType": "num",
        "topic": "",
        "x": 580,
        "y": 300,
        "wires": [
            [
                "381bb48.62d12cc"
            ]
        ]
    },
    {
        "id": "415fd8da.a1ae88",
        "type": "ui_button",
        "z": "fcbfcd1c.3389b8",
        "name": "minutes",
        "group": "661a9ae3.9526a4",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Min {{msg.payload}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 580,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "62a93fcd.ee352",
        "type": "set-shared-state",
        "z": "fcbfcd1c.3389b8",
        "state": "4e02b789.93b098",
        "name": "timerHours",
        "triggerOnInit": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 730,
        "y": 60,
        "wires": []
    },
    {
        "id": "1621f8ce.e36057",
        "type": "get-shared-state",
        "z": "fcbfcd1c.3389b8",
        "state": "4e02b789.93b098",
        "name": "timerHours",
        "triggerOnInit": true,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "be4c367d.8e2fd8"
            ]
        ]
    },
    {
        "id": "6a321993.0cd8e",
        "type": "set-shared-state",
        "z": "fcbfcd1c.3389b8",
        "state": "7373079d.b18318",
        "name": "timerMinutes",
        "triggerOnInit": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 1030,
        "y": 260,
        "wires": []
    },
    {
        "id": "381bb48.62d12cc",
        "type": "function",
        "z": "fcbfcd1c.3389b8",
        "name": "",
        "func": "var minutes = global.get('state.timerMinutes.value');\n\nmsg.payload = minutes + msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 840,
        "y": 260,
        "wires": [
            [
                "6a321993.0cd8e"
            ]
        ]
    },
    {
        "id": "f1537c80.b51db",
        "type": "function",
        "z": "fcbfcd1c.3389b8",
        "name": "",
        "func": "var hours = global.get('state.timerHours.value');\n\nmsg.payload = hours + msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 540,
        "y": 80,
        "wires": [
            [
                "62a93fcd.ee352"
            ]
        ]
    },
    {
        "id": "a187f5dd.cbcfb",
        "type": "get-shared-state",
        "z": "fcbfcd1c.3389b8",
        "state": "7373079d.b18318",
        "name": "timerMinutes",
        "triggerOnInit": true,
        "x": 350,
        "y": 240,
        "wires": [
            [
                "415fd8da.a1ae88"
            ]
        ]
    },
    {
        "id": "34f631b1.209d66",
        "type": "inject",
        "z": "144fdae.df77825",
        "name": "Inject at boot",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 40,
        "wires": [
            [
                "99efd87c.6cb74"
            ]
        ]
    },
    {
        "id": "657ab72c.6ac0c",
        "type": "function",
        "z": "d7e822af.c12a4",
        "name": "",
        "func": "var state = msg.state;\n\nvar room = msg.room;\nvar setpoint = msg.setpoint;\nvar temp = msg.payload;\n\n\nvar coolerpid = {};\nvar heaterpid = {};\nvar newstate = {};\n\ncoolerpid.payload = setpoint + (setpoint -temp);\nheaterpid.payload = temp;\ncoolerpid.setpoint = setpoint ;\nheaterpid.setpoint = setpoint;\nnewstate.payload= state;\nstate = 2;\nif (setpoint > room + 1){\n    coolerpid.enable=false;\n    heaterpid.enable=true;\n    if (temp < setpoint + 1){ state=3;}\n\n} else if (setpoint < room -1){\n    coolerpid.enable=true;\n    heaterpid.enable=false;\n    if (temp > setpoint - 1){ state=4;}\n} else {\n    coolerpid.enable=false;\n    heaterpid.enable=false;\n    state = 2;\n\n}\n\nreturn [coolerpid,heaterpid,{\"payload\":state}];\n\n\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 360,
        "wires": [
            [
                "596ca967.814d6",
                "652da999.099258"
            ],
            [
                "a3d4333b.6db588",
                "f844bb70.32ce9"
            ],
            [
                "60ff8f67.bab1d8"
            ]
        ]
    },
    {
        "id": "dd44341c.0ef3a8",
        "type": "set-shared-state",
        "z": "d7e822af.c12a4",
        "state": "a8983602.60f12",
        "name": "heaterPID",
        "triggerOnInit": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 1100,
        "y": 640,
        "wires": []
    },
    {
        "id": "96c55171.7285b8",
        "type": "set-shared-state",
        "z": "d7e822af.c12a4",
        "state": "89e0f9c6.9f9cf",
        "name": "coolerPID",
        "triggerOnInit": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 1140,
        "y": 220,
        "wires": []
    },
    {
        "id": "fc8f935e.8d532",
        "type": "change",
        "z": "144fdae.df77825",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "chamber",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "2b8f391.c37d146",
        "type": "change",
        "z": "144fdae.df77825",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "setpoint",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "state.setpoint.value",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "6c13ad41.07665c",
        "type": "function",
        "z": "144fdae.df77825",
        "name": "",
        "func": "var state = global.get(\"state.chamberState.value\");\n\nmsg.payload = state * 5;\nmsg.topic = \"State\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 860,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "f844bb70.32ce9",
        "type": "switch",
        "z": "d7e822af.c12a4",
        "name": "",
        "property": "enable",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1010,
        "y": 520,
        "wires": [
            [
                "b3f8337f.fc59c8"
            ]
        ]
    },
    {
        "id": "652da999.099258",
        "type": "switch",
        "z": "d7e822af.c12a4",
        "name": "",
        "property": "enable",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1090,
        "y": 280,
        "wires": [
            [
                "bf3d103b.50c56"
            ]
        ]
    },
    {
        "id": "bf3d103b.50c56",
        "type": "delay",
        "z": "d7e822af.c12a4",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1240,
        "y": 280,
        "wires": [
            [
                "e169235c.a2479"
            ]
        ]
    },
    {
        "id": "b3f8337f.fc59c8",
        "type": "delay",
        "z": "d7e822af.c12a4",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1140,
        "y": 520,
        "wires": [
            [
                "3f19d45e.a8663c"
            ]
        ]
    },
    {
        "id": "cc8f2bb9.4e838",
        "type": "change",
        "z": "144fdae.df77825",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "a89ee010.0f6308",
        "type": "function",
        "z": "d7e822af.c12a4",
        "name": "",
        "func": "var pidTime = global.get(\"state.heaterPID.timestamp\");\nvar statePrev = global.get(\"state.chamberState.history[2].val\");\nvar PID = global.get(\"state.heaterPID.value\");\nvar timeLimit = 60000;\nvar now = Date.now();\nvar msgState={};\nmsg.payload = PID;\nif (PID > 0){\n    msgState.payload = 3;\n    return [msg,msgState];\n\n} else if (now > timeLimit + pidTime) {\n   msgState.payload = 2;\n   return [msg,msgState];\n} else {\n    return [msg,null];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1400,
        "y": 600,
        "wires": [
            [
                "1ee5d6c.4e64429"
            ],
            []
        ]
    },
    {
        "id": "3f19d45e.a8663c",
        "type": "switch",
        "z": "d7e822af.c12a4",
        "name": "",
        "property": "state.chamberState.value",
        "propertyType": "global",
        "rules": [
            {
                "t": "neq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1290,
        "y": 520,
        "wires": [
            [
                "a89ee010.0f6308"
            ]
        ]
    },
    {
        "id": "e169235c.a2479",
        "type": "switch",
        "z": "d7e822af.c12a4",
        "name": "",
        "property": "state.chamberState.value",
        "propertyType": "global",
        "rules": [
            {
                "t": "neq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1390,
        "y": 280,
        "wires": [
            [
                "f58f706f.77b4c"
            ]
        ]
    },
    {
        "id": "f58f706f.77b4c",
        "type": "function",
        "z": "d7e822af.c12a4",
        "name": "",
        "func": "var pidTime = global.get(\"state.coolerPID.timestamp\");\n\nvar PID = global.get(\"state.coolerPID.value\");\nvar timeLimit = 60000;\nvar now = Date.now();\nvar msgState={};\nmsg.payload = PID;\n//if (PID > 0){\n    msgState.payload = 4;\n\n//} else if (now > timeLimit + pidTime) {\n//   msgState.payload = 2;\n//}\nreturn [msg,msgState];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1560,
        "y": 300,
        "wires": [
            [
                "7bb1e955.a8d99"
            ],
            []
        ]
    },
    {
        "id": "4a38f99d.c4d1e8",
        "type": "switch",
        "z": "d7e822af.c12a4",
        "name": "",
        "property": "state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 340,
        "wires": [
            [
                "657ab72c.6ac0c"
            ],
            [
                "c3c18d6b.da5d7"
            ]
        ]
    },
    {
        "id": "c3c18d6b.da5d7",
        "type": "change",
        "z": "d7e822af.c12a4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enable",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 240,
        "wires": [
            [
                "596ca967.814d6",
                "a3d4333b.6db588"
            ]
        ]
    },
    {
        "id": "2438b730.d3d2a8",
        "type": "ui_button",
        "z": "fcbfcd1c.3389b8",
        "name": "Down temp",
        "group": "661a9ae3.9526a4",
        "order": 12,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-3x fa-arrow-down",
        "payload": "-1",
        "payloadType": "num",
        "topic": "",
        "x": 1050,
        "y": 580,
        "wires": [
            [
                "bd231b5f.48094"
            ]
        ]
    },
    {
        "id": "bd231b5f.48094",
        "type": "function",
        "z": "fcbfcd1c.3389b8",
        "name": "",
        "func": "var temp = global.get('state.timerTemp.value');\n\nmsg.payload = temp + msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1320,
        "y": 540,
        "wires": [
            [
                "829e4af5.7020a"
            ]
        ]
    },
    {
        "id": "f93c2e6.5e5325",
        "type": "ui_button",
        "z": "fcbfcd1c.3389b8",
        "name": "Up temp",
        "group": "661a9ae3.9526a4",
        "order": 10,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-3x fa-arrow-up",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 1060,
        "y": 460,
        "wires": [
            [
                "bd231b5f.48094"
            ]
        ]
    },
    {
        "id": "829e4af5.7020a",
        "type": "set-shared-state",
        "z": "fcbfcd1c.3389b8",
        "state": "1689f65e.64e27a",
        "name": "timerTemp",
        "triggerOnInit": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 1500,
        "y": 540,
        "wires": []
    },
    {
        "id": "78e7a70.b6bc558",
        "type": "ui_button",
        "z": "fcbfcd1c.3389b8",
        "name": "temp",
        "group": "661a9ae3.9526a4",
        "order": 11,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Temp {{msg.payload}} C",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1010,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "3af6eb81.4f050c",
        "type": "get-shared-state",
        "z": "fcbfcd1c.3389b8",
        "state": "1689f65e.64e27a",
        "name": "timerTemp",
        "triggerOnInit": true,
        "x": 780,
        "y": 520,
        "wires": [
            [
                "78e7a70.b6bc558"
            ]
        ]
    },
    {
        "id": "af125d99.e652d8",
        "type": "inject",
        "z": "fcbfcd1c.3389b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "timerend",
                "v": "state.timerEnd.value",
                "vt": "global"
            },
            {
                "p": "setpoint",
                "v": "state.timerTemp.value",
                "vt": "global"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 900,
        "wires": [
            [
                "af9c3ffd.d4b5c8"
            ]
        ]
    },
    {
        "id": "9fa498e4.59a0b",
        "type": "debug",
        "z": "fcbfcd1c.3389b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 680,
        "wires": []
    },
    {
        "id": "79630fdb.8e7e68",
        "type": "set-shared-state",
        "z": "fcbfcd1c.3389b8",
        "state": "34ccbdec.7dd8fa",
        "name": "timer",
        "triggerOnInit": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 870,
        "y": 580,
        "wires": []
    },
    {
        "id": "fd26b026.f734c",
        "type": "change",
        "z": "fcbfcd1c.3389b8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 920,
        "wires": [
            [
                "853c0431.cda3a"
            ]
        ]
    },
    {
        "id": "af9c3ffd.d4b5c8",
        "type": "switch",
        "z": "fcbfcd1c.3389b8",
        "name": "",
        "property": "state.timer.value",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 900,
        "wires": [
            [
                "ce417adc.42a58"
            ],
            [
                "fd26b026.f734c"
            ]
        ]
    },
    {
        "id": "502ac72e.0a62c",
        "type": "function",
        "z": "fcbfcd1c.3389b8",
        "name": "",
        "func": "\nmsg.enabled = true;\nvar time = msg.timerend;\nvar dt = new Date(time - msg.payload);\nvar minutes = dt.getMinutes();\nvar seconds = dt.getSeconds();\nvar hours = dt.getHours() - 1;\nif (minutes < 10) {\n        minutes = \"0\" + minutes;\n}\nif (seconds < 10) {\n        seconds = \"0\" + seconds;\n}\nif (hours < 10) {\n        hours = \"0\" + hours;\n} else if (hours== 1) {\n        hours = \"00\";\n}\nmsg.payload = hours+\":\"+minutes + \":\" + seconds;\nmsg.label=\"<i class='fa fa-clock-o fa-2x'></i>  \";\n\nif ((time-msg.payload)<100){\n    global.set(\"state.setpoint.value\",msg.setpoint);\n}    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1040,
        "y": 760,
        "wires": [
            [
                "853c0431.cda3a"
            ]
        ]
    },
    {
        "id": "923b2c13.e58f08",
        "type": "set-shared-state",
        "z": "fcbfcd1c.3389b8",
        "state": "b25c78dd.d9a94",
        "name": "timerEnd",
        "triggerOnInit": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 1040,
        "y": 640,
        "wires": []
    },
    {
        "id": "31e10e27.c0cef2",
        "type": "function",
        "z": "fcbfcd1c.3389b8",
        "name": "",
        "func": "var hours = global.get(\"state.timerHours.value\");\nvar minutes = global.get(\"state.timerMinutes.value\");\n\nvar now = Date.now();\n\nmsg.payload=now+(hours*3600*1000)+(minutes*60*1000);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 740,
        "y": 660,
        "wires": [
            [
                "923b2c13.e58f08"
            ]
        ]
    },
    {
        "id": "853c0431.cda3a",
        "type": "ui_text",
        "z": "fcbfcd1c.3389b8",
        "group": "661a9ae3.9526a4",
        "order": 16,
        "width": 5,
        "height": 1,
        "name": "Timer",
        "label": "{{msg.label}}",
        "format": "<font size=9 >  {{msg.payload}}",
        "layout": "row-spread",
        "x": 1350,
        "y": 820,
        "wires": []
    },
    {
        "id": "ce417adc.42a58",
        "type": "switch",
        "z": "fcbfcd1c.3389b8",
        "name": "",
        "property": "timerend",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "payload",
                "vt": "msg"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 710,
        "y": 820,
        "wires": [
            [
                "502ac72e.0a62c"
            ],
            [
                "fd26b026.f734c",
                "3bdbb6cb.c13502",
                "85a8d4e5.df5ee8"
            ]
        ]
    },
    {
        "id": "3bdbb6cb.c13502",
        "type": "change",
        "z": "fcbfcd1c.3389b8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 720,
        "wires": [
            [
                "79630fdb.8e7e68"
            ]
        ]
    },
    {
        "id": "db5c7f0a.047678",
        "type": "set-shared-state",
        "z": "fcbfcd1c.3389b8",
        "state": "defdd5c9.00f138",
        "name": "setpoint",
        "triggerOnInit": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 1140,
        "y": 820,
        "wires": []
    },
    {
        "id": "85a8d4e5.df5ee8",
        "type": "change",
        "z": "fcbfcd1c.3389b8",
        "name": "Set setpoint",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "setpoint",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 820,
        "wires": [
            [
                "db5c7f0a.047678"
            ]
        ]
    },
    {
        "id": "4254630.267db9c",
        "type": "ui_switch",
        "z": "fcbfcd1c.3389b8",
        "name": "",
        "label": "Wifi",
        "tooltip": "",
        "group": "661a9ae3.9526a4",
        "order": 18,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "up",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "down",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 540,
        "y": 440,
        "wires": [
            [
                "b49d8b06.ae0bc8"
            ]
        ]
    },
    {
        "id": "b49d8b06.ae0bc8",
        "type": "exec",
        "z": "fcbfcd1c.3389b8",
        "command": "sudo ifconfig wlan0 ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 830,
        "y": 360,
        "wires": [
            [
                "2a332d80.493792"
            ],
            [
                "2a332d80.493792"
            ],
            []
        ]
    },
    {
        "id": "2a332d80.493792",
        "type": "debug",
        "z": "fcbfcd1c.3389b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 340,
        "wires": []
    },
    {
        "id": "7b67b708.febd08",
        "type": "inject",
        "z": "fcbfcd1c.3389b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 400,
        "wires": [
            [
                "b49d8b06.ae0bc8"
            ]
        ]
    },
    {
        "id": "a12ce85d.027f78",
        "type": "ui_button",
        "z": "144fdae.df77825",
        "name": "10",
        "group": "fc3775f5.c6257",
        "order": 7,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "10C",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "10",
        "payloadType": "num",
        "topic": "",
        "x": 870,
        "y": 460,
        "wires": [
            [
                "7877d07a.7552c"
            ]
        ]
    },
    {
        "id": "b7497472.214218",
        "type": "ui_button",
        "z": "144fdae.df77825",
        "name": "25",
        "group": "fc3775f5.c6257",
        "order": 9,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "25C",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "25",
        "payloadType": "num",
        "topic": "",
        "x": 870,
        "y": 500,
        "wires": [
            [
                "7877d07a.7552c"
            ]
        ]
    },
    {
        "id": "ff7a26da.217098",
        "type": "get-shared-state",
        "z": "ef7332d8.b66878",
        "state": "3fd19932.a4ee1e",
        "name": "DAC",
        "triggerOnInit": true,
        "x": 90,
        "y": 120,
        "wires": [
            [
                "342edbbf2f0305dc"
            ]
        ]
    },
    {
        "id": "eaab018b.6bc7b8",
        "type": "comment",
        "z": "6ffc7dda.e666ec",
        "name": "",
        "info": "Chamber state:\n- 1 sleep\n- 2 running\n\nChamber mode:\n- 1 stand by\n- 2 heating\n- 3 cooling\n\n\n\n",
        "x": 200,
        "y": 140,
        "wires": []
    },
    {
        "id": "fca9d0ba.cf6c",
        "type": "inject",
        "z": "b75a5ea0.a8f4e8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "{\"0\":false,\"1\":false}",
        "payloadType": "json",
        "x": 250,
        "y": 120,
        "wires": [
            [
                "e7000c20.4ebba8",
                "201a51e6.c1597e",
                "b3398290.b2dbb8"
            ]
        ]
    },
    {
        "id": "1533ff2f.150d21",
        "type": "set-shared-state",
        "z": "b75a5ea0.a8f4e8",
        "state": "ddc00501.5975f8",
        "name": "heaterRelay",
        "triggerOnInit": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 750,
        "y": 280,
        "wires": []
    },
    {
        "id": "8bd583fb.b74e88",
        "type": "set-shared-state",
        "z": "b75a5ea0.a8f4e8",
        "state": "b57179f0.c9eaa",
        "name": "coolerRelay",
        "triggerOnInit": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 750,
        "y": 360,
        "wires": []
    },
    {
        "id": "e7000c20.4ebba8",
        "type": "mqtt out",
        "z": "b75a5ea0.a8f4e8",
        "name": "",
        "topic": "tinkerforge/request/industrial_dual_relay_bricklet/Tfe/set_svalue",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "74dcdab5.83e964",
        "x": 870,
        "y": 60,
        "wires": []
    },
    {
        "id": "201a51e6.c1597e",
        "type": "mqtt out",
        "z": "b75a5ea0.a8f4e8",
        "name": "",
        "topic": "tinkerforge/request/industrial_dual_relay_bricklet/Tfr/set_svalue",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "74dcdab5.83e964",
        "x": 890,
        "y": 140,
        "wires": []
    },
    {
        "id": "b3398290.b2dbb8",
        "type": "mqtt out",
        "z": "b75a5ea0.a8f4e8",
        "name": "",
        "topic": "tinkerforge/request/industrial_dual_relay_bricklet/FLM/set_svalue",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "74dcdab5.83e964",
        "x": 900,
        "y": 180,
        "wires": []
    },
    {
        "id": "569aa43c.c67bcc",
        "type": "inject",
        "z": "b75a5ea0.a8f4e8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 220,
        "y": 300,
        "wires": [
            [
                "1533ff2f.150d21",
                "8bd583fb.b74e88",
                "3a138821.9280b8",
                "7674ec0d.8ebf2c",
                "768b7a96.60dfe4",
                "2f8390ec.88537"
            ]
        ]
    },
    {
        "id": "3a138821.9280b8",
        "type": "set-shared-state",
        "z": "b75a5ea0.a8f4e8",
        "state": "15fe707b.cbdd78",
        "name": "heaterFAN",
        "triggerOnInit": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 750,
        "y": 440,
        "wires": []
    },
    {
        "id": "7674ec0d.8ebf2c",
        "type": "set-shared-state",
        "z": "b75a5ea0.a8f4e8",
        "state": "c8491213.eb9958",
        "name": "enclusoreRelay",
        "triggerOnInit": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 760,
        "y": 500,
        "wires": []
    },
    {
        "id": "768b7a96.60dfe4",
        "type": "set-shared-state",
        "z": "b75a5ea0.a8f4e8",
        "state": "1dc4d413.03488c",
        "name": "powerRelay",
        "triggerOnInit": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 750,
        "y": 560,
        "wires": []
    },
    {
        "id": "60ff8f67.bab1d8",
        "type": "set-shared-state",
        "z": "d7e822af.c12a4",
        "state": "e06ffb1d.7fc6a",
        "name": "chamberState",
        "triggerOnInit": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 820,
        "y": 580,
        "wires": []
    },
    {
        "id": "8daf2ccb.cb67f8",
        "type": "change",
        "z": "64672e75.03f4a8",
        "name": "false",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 440,
        "wires": [
            [
                "2e70321a.50446e",
                "b3fd51bd.e6752",
                "2f521b49.5af13c",
                "fc60ef3.e26f59"
            ]
        ]
    },
    {
        "id": "2e70321a.50446e",
        "type": "set-shared-state",
        "z": "64672e75.03f4a8",
        "state": "ddc00501.5975f8",
        "name": "heaterRelay",
        "triggerOnInit": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 910,
        "y": 360,
        "wires": []
    },
    {
        "id": "b3fd51bd.e6752",
        "type": "set-shared-state",
        "z": "64672e75.03f4a8",
        "state": "b57179f0.c9eaa",
        "name": "coolerRelay",
        "triggerOnInit": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 910,
        "y": 420,
        "wires": []
    },
    {
        "id": "2f521b49.5af13c",
        "type": "set-shared-state",
        "z": "64672e75.03f4a8",
        "state": "1dc4d413.03488c",
        "name": "powerRelay",
        "triggerOnInit": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 910,
        "y": 480,
        "wires": []
    },
    {
        "id": "eaaf566c.fd8c78",
        "type": "change",
        "z": "64672e75.03f4a8",
        "name": "true",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 560,
        "wires": [
            [
                "2f521b49.5af13c",
                "89f2ecad.5b6508"
            ]
        ]
    },
    {
        "id": "fc60ef3.e26f59",
        "type": "set-shared-state",
        "z": "64672e75.03f4a8",
        "state": "15fe707b.cbdd78",
        "name": "heaterFAN",
        "triggerOnInit": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 910,
        "y": 540,
        "wires": []
    },
    {
        "id": "808b16e9.b685a",
        "type": "mqtt out",
        "z": "64672e75.03f4a8",
        "name": "",
        "topic": "tinkerforge/request/industrial_dual_relay_bricklet/FLM/set_value",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "74dcdab5.83e964",
        "x": 1330,
        "y": 300,
        "wires": []
    },
    {
        "id": "533adb8d.895ab4",
        "type": "change",
        "z": "64672e75.03f4a8",
        "name": "Switch off all relay",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"channel0\":false,\"channel1\":false}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 340,
        "wires": [
            [
                "808b16e9.b685a",
                "3a98081b.8ee83",
                "296f80fa.aa9e8"
            ]
        ]
    },
    {
        "id": "3a98081b.8ee83",
        "type": "mqtt out",
        "z": "64672e75.03f4a8",
        "name": "",
        "topic": "tinkerforge/request/industrial_dual_relay_bricklet/Tfr/set_value",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "74dcdab5.83e964",
        "x": 1330,
        "y": 360,
        "wires": []
    },
    {
        "id": "296f80fa.aa9e8",
        "type": "mqtt out",
        "z": "64672e75.03f4a8",
        "name": "",
        "topic": "tinkerforge/request/industrial_dual_relay_bricklet/Tfe/set_value",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "74dcdab5.83e964",
        "x": 1330,
        "y": 420,
        "wires": []
    },
    {
        "id": "d7d5c8f9.1395e",
        "type": "mqtt out",
        "z": "64672e75.03f4a8",
        "name": "",
        "topic": "tinkerforge/request/industrial_dual_relay_bricklet/Tfe/set_value",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "74dcdab5.83e964",
        "x": 1630,
        "y": 540,
        "wires": []
    },
    {
        "id": "89f2ecad.5b6508",
        "type": "change",
        "z": "64672e75.03f4a8",
        "name": "Switch on",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"channel0\":true,\"channel1\":true}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 580,
        "wires": [
            [
                "d7d5c8f9.1395e"
            ]
        ]
    },
    {
        "id": "11c84310.ed2465",
        "type": "set-shared-state",
        "z": "64672e75.03f4a8",
        "state": "15fe707b.cbdd78",
        "name": "heaterFAN",
        "triggerOnInit": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 1010,
        "y": 800,
        "wires": []
    },
    {
        "id": "b30f6fc2.806d3",
        "type": "set-shared-state",
        "z": "64672e75.03f4a8",
        "state": "c8491213.eb9958",
        "name": "enclosureFan",
        "triggerOnInit": false,
        "provideOutput": false,
        "outputs": 0,
        "x": 940,
        "y": 940,
        "wires": []
    },
    {
        "id": "1682e316.1148ad",
        "type": "mqtt out",
        "z": "64672e75.03f4a8",
        "name": "",
        "topic": "tinkerforge/request/industrial_dual_relay_bricklet/FLM/set_value",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "74dcdab5.83e964",
        "x": 1150,
        "y": 1040,
        "wires": []
    },
    {
        "id": "61261aef.5933f4",
        "type": "template",
        "z": "64672e75.03f4a8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"channel0\": {{global.state.heaterFAN.value}},\"channel1\": {{global.state.enclosureFan.value}} }",
        "output": "str",
        "x": 440,
        "y": 1060,
        "wires": [
            [
                "1682e316.1148ad"
            ]
        ]
    },
    {
        "id": "aa9eddc6.a6be48",
        "type": "set-shared-state",
        "z": "b75a5ea0.a8f4e8",
        "state": "e06ffb1d.7fc6a",
        "name": "chamberState",
        "triggerOnInit": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 800,
        "y": 700,
        "wires": []
    },
    {
        "id": "2f8390ec.88537",
        "type": "change",
        "z": "b75a5ea0.a8f4e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 720,
        "wires": [
            [
                "aa9eddc6.a6be48"
            ]
        ]
    },
    {
        "id": "22c4d0a6.6f8b8",
        "type": "inject",
        "z": "b75a5ea0.a8f4e8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "30274e4a.4a1ff2",
        "type": "switch",
        "z": "64672e75.03f4a8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 150,
        "y": 440,
        "wires": [
            [
                "533adb8d.895ab4",
                "8daf2ccb.cb67f8"
            ],
            [
                "4ba42455.672e5c",
                "eaaf566c.fd8c78"
            ]
        ]
    },
    {
        "id": "901db70.4989248",
        "type": "switch",
        "z": "64672e75.03f4a8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "46",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "43",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 920,
        "wires": [
            [
                "8b8bfccc.add978"
            ],
            [
                "bf21ef62.479398"
            ]
        ]
    },
    {
        "id": "8b8bfccc.add978",
        "type": "change",
        "z": "64672e75.03f4a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 920,
        "wires": [
            [
                "b30f6fc2.806d3"
            ]
        ]
    },
    {
        "id": "bf21ef62.479398",
        "type": "change",
        "z": "64672e75.03f4a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 980,
        "wires": [
            [
                "b30f6fc2.806d3"
            ]
        ]
    },
    {
        "id": "5fd117cc.3fbf08",
        "type": "get-shared-state",
        "z": "64672e75.03f4a8",
        "state": "7bda2608.497328",
        "name": "heaterTemp",
        "triggerOnInit": true,
        "x": 150,
        "y": 900,
        "wires": [
            [
                "901db70.4989248"
            ]
        ]
    },
    {
        "id": "fb90a963.2b90c8",
        "type": "get-shared-state",
        "z": "64672e75.03f4a8",
        "state": "c8491213.eb9958",
        "name": "enclosureFan",
        "triggerOnInit": true,
        "x": 150,
        "y": 1020,
        "wires": [
            [
                "61261aef.5933f4"
            ]
        ]
    },
    {
        "id": "f06cda9c.e76ce",
        "type": "get-shared-state",
        "z": "64672e75.03f4a8",
        "state": "15fe707b.cbdd78",
        "name": "heaterFAN",
        "triggerOnInit": true,
        "x": 140,
        "y": 1080,
        "wires": [
            [
                "61261aef.5933f4"
            ]
        ]
    },
    {
        "id": "cefbec1d.ce5ae",
        "type": "get-shared-state",
        "z": "ef7332d8.b66878",
        "state": "6084ef9b.c26b6",
        "name": "chamberTemp",
        "triggerOnInit": true,
        "x": 120,
        "y": 180,
        "wires": [
            [
                "342edbbf2f0305dc"
            ]
        ]
    },
    {
        "id": "769cbacf.be1f04",
        "type": "get-shared-state",
        "z": "ef7332d8.b66878",
        "state": "defdd5c9.00f138",
        "name": "setpoint",
        "triggerOnInit": true,
        "x": 100,
        "y": 260,
        "wires": [
            [
                "342edbbf2f0305dc"
            ]
        ]
    },
    {
        "id": "387ed4dd.4072c4",
        "type": "get-shared-state",
        "z": "ef7332d8.b66878",
        "state": "15fe707b.cbdd78",
        "name": "heaterFAN",
        "triggerOnInit": true,
        "x": 100,
        "y": 340,
        "wires": [
            [
                "342edbbf2f0305dc"
            ]
        ]
    },
    {
        "id": "5f073449.870fd4",
        "type": "get-shared-state",
        "z": "ef7332d8.b66878",
        "state": "e06ffb1d.7fc6a",
        "name": "chamberState",
        "triggerOnInit": true,
        "x": 130,
        "y": 440,
        "wires": [
            [
                "4aa17358.f54e8c",
                "342edbbf2f0305dc"
            ]
        ]
    },
    {
        "id": "d696a30e.fd887",
        "type": "get-shared-state",
        "z": "ef7332d8.b66878",
        "state": "4451538c.85ad4c",
        "name": "roomTemp",
        "triggerOnInit": true,
        "x": 100,
        "y": 520,
        "wires": [
            [
                "342edbbf2f0305dc"
            ]
        ]
    },
    {
        "id": "9753d34d.f8d1",
        "type": "mqtt in",
        "z": "ef7332d8.b66878",
        "name": "",
        "topic": "ha/switch/bread_chamber/set",
        "qos": "2",
        "datatype": "auto",
        "broker": "683f7eec.5c62c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 640,
        "y": 640,
        "wires": [
            [
                "707d3dc5.40c064"
            ]
        ]
    },
    {
        "id": "7cb7ef29.57e3a8",
        "type": "set-shared-state",
        "z": "ef7332d8.b66878",
        "state": "e06ffb1d.7fc6a",
        "name": "chamberState",
        "triggerOnInit": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 1400,
        "y": 580,
        "wires": []
    },
    {
        "id": "707d3dc5.40c064",
        "type": "switch",
        "z": "ef7332d8.b66878",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 930,
        "y": 620,
        "wires": [
            [
                "b5651157.7de8d8"
            ],
            [
                "c97dbc73.043068"
            ]
        ]
    },
    {
        "id": "b5651157.7de8d8",
        "type": "change",
        "z": "ef7332d8.b66878",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 560,
        "wires": [
            [
                "7cb7ef29.57e3a8"
            ]
        ]
    },
    {
        "id": "c97dbc73.043068",
        "type": "change",
        "z": "ef7332d8.b66878",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 640,
        "wires": [
            [
                "7cb7ef29.57e3a8"
            ]
        ]
    },
    {
        "id": "fdd911b8.bba56",
        "type": "mqtt in",
        "z": "ef7332d8.b66878",
        "name": "",
        "topic": "ha/bread_chamber/setTemperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "683f7eec.5c62c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 1000,
        "y": 200,
        "wires": [
            [
                "5296dfbf.dad038"
            ]
        ]
    },
    {
        "id": "5296dfbf.dad038",
        "type": "set-shared-state",
        "z": "ef7332d8.b66878",
        "state": "defdd5c9.00f138",
        "name": "setpoint",
        "triggerOnInit": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 1280,
        "y": 200,
        "wires": []
    },
    {
        "id": "4aa17358.f54e8c",
        "type": "switch",
        "z": "ef7332d8.b66878",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 420,
        "wires": [
            [
                "65b7fb33.7415f4"
            ],
            [
                "52abb836.60937"
            ]
        ]
    },
    {
        "id": "70dff909.28498",
        "type": "mqtt out",
        "z": "ef7332d8.b66878",
        "name": "",
        "topic": "ha/switch/bread_chamber/state",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "683f7eec.5c62c",
        "x": 1510,
        "y": 380,
        "wires": []
    },
    {
        "id": "52abb836.60937",
        "type": "change",
        "z": "ef7332d8.b66878",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 440,
        "wires": [
            [
                "70dff909.28498"
            ]
        ]
    },
    {
        "id": "65b7fb33.7415f4",
        "type": "change",
        "z": "ef7332d8.b66878",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 380,
        "wires": [
            [
                "70dff909.28498"
            ]
        ]
    },
    {
        "id": "9abee798.631bf",
        "type": "inject",
        "z": "ef7332d8.b66878",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "online",
        "payloadType": "str",
        "x": 1020,
        "y": 40,
        "wires": [
            [
                "ec405c4.2b6eda"
            ]
        ]
    },
    {
        "id": "ec405c4.2b6eda",
        "type": "mqtt out",
        "z": "ef7332d8.b66878",
        "name": "",
        "topic": "ha/bread_chamber/available",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "683f7eec.5c62c",
        "x": 1260,
        "y": 40,
        "wires": []
    },
    {
        "id": "ca6d32aa.45511",
        "type": "get-shared-state",
        "z": "ef7332d8.b66878",
        "state": "7bda2608.497328",
        "name": "heaterTemp",
        "triggerOnInit": true,
        "x": 110,
        "y": 620,
        "wires": [
            [
                "342edbbf2f0305dc"
            ]
        ]
    },
    {
        "id": "8ecc7c52.e4f81",
        "type": "mqtt out",
        "z": "ef7332d8.b66878",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "683f7eec.5c62c",
        "x": 690,
        "y": 520,
        "wires": []
    },
    {
        "id": "98dc8b59.dcabb8",
        "type": "get-shared-state",
        "z": "ef7332d8.b66878",
        "state": "c8491213.eb9958",
        "name": "enclosureFan",
        "triggerOnInit": true,
        "x": 110,
        "y": 700,
        "wires": [
            [
                "342edbbf2f0305dc"
            ]
        ]
    },
    {
        "id": "7cbb42beac1ae05c",
        "type": "mqtt in",
        "z": "c080d81d.548348",
        "name": "",
        "topic": "tinkerforge/response/hat_brick/Vtg/get_chip_temperature",
        "qos": "0",
        "datatype": "auto",
        "broker": "74dcdab5.83e964",
        "nl": false,
        "rap": false,
        "x": 210,
        "y": 460,
        "wires": [
            [
                "18e98a47e478cccb"
            ]
        ]
    },
    {
        "id": "6c34ef0b16d13c23",
        "type": "set-shared-state",
        "z": "c080d81d.548348",
        "state": "f6f305728d7ada59",
        "name": "chipTemperature",
        "triggerOnInit": true,
        "provideOutput": false,
        "outputs": 0,
        "x": 870,
        "y": 460,
        "wires": []
    },
    {
        "id": "59064a69af978b9e",
        "type": "change",
        "z": "c080d81d.548348",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.temperature",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 440,
        "wires": [
            [
                "6c34ef0b16d13c23"
            ]
        ]
    },
    {
        "id": "18e98a47e478cccb",
        "type": "json",
        "z": "c080d81d.548348",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 490,
        "y": 460,
        "wires": [
            [
                "59064a69af978b9e"
            ]
        ]
    },
    {
        "id": "eec8e5b7b1d8d185",
        "type": "get-shared-state",
        "z": "ef7332d8.b66878",
        "state": "f6f305728d7ada59",
        "name": "chipTemperature",
        "triggerOnInit": true,
        "x": 120,
        "y": 780,
        "wires": [
            [
                "342edbbf2f0305dc"
            ]
        ]
    },
    {
        "id": "342edbbf2f0305dc",
        "type": "change",
        "z": "ef7332d8.b66878",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "msg.state.config.tags",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 500,
        "wires": [
            [
                "8ecc7c52.e4f81"
            ]
        ]
    },
    {
        "id": "73375e88c23ab2dc",
        "type": "change",
        "z": "64672e75.03f4a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "tinkerforge/request/hat_brick/Vtg/get_chip_temperature",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 60,
        "wires": [
            [
                "2edb92ac.0ac33e"
            ]
        ]
    },
    {
        "id": "c56ff7f1381623b7",
        "type": "change",
        "z": "64672e75.03f4a8",
        "name": "tinkerforge/request/industrial_dual_relay_bricklet/Tfr/set_value",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "tinkerforge/request/industrial_dual_relay_bricklet/Tfr/set_value",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 120,
        "wires": [
            [
                "2edb92ac.0ac33e"
            ]
        ]
    }
]