.flows.json.backup
[{"id":"18b8c7ac.07eee8","type":"tab","label":"Debug","disabled":false,"info":""},{"id":"64672e75.03f4a8","type":"tab","label":"CMD","disabled":false,"info":""},{"id":"c080d81d.548348","type":"tab","label":"Sensor","disabled":false,"info":""},{"id":"79509665.65e3b8","type":"mqtt-broker","z":"","name":"local","broker":"brocker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"74dcdab5.83e964","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"683f7eec.5c62c","type":"mqtt-broker","z":"","name":"","broker":"http://10.70.1.86","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4df5a172.d77308","type":"influxdb","z":"18b8c7ac.07eee8","hostname":"influxdb","port":"8086","database":"home","name":"aTimeSeries","usetls":false,"tls":""},{"id":"b7f0356b.50c1a","type":"ui_base","z":0,"theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"47847ae6.02444c","type":"ui_group","z":0,"name":"Default","tab":"ebf66048.7c529","order":1,"disp":true,"width":"6","collapse":false},{"id":"97a76c62.524858","type":"ui_group","z":0,"name":"Debug","tab":"ebf66048.7c529","order":2,"disp":true,"width":"6","collapse":false},{"id":"ebf66048.7c529","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"ddc00501.5975f8","type":"shared-state","z":"","name":"relay1","lbl":"","tags":"","historyCount":"2","dataType":"bool","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"c8491213.eb9958","type":"shared-state","z":"","name":"relay3","lbl":"","tags":"","historyCount":"2","dataType":"str","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"b57179f0.c9eaa","type":"shared-state","z":"","name":"relay2","lbl":"","tags":"","historyCount":"2","dataType":"str","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"1dc4d413.03488c","type":"shared-state","z":"","name":"relay4","lbl":"","tags":"","historyCount":"2","dataType":"str","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"bff6e5d1.24ce68","type":"shared-state","z":"","name":"data","lbl":"","tags":"","historyCount":"2","dataType":"obj","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"c82aa636.16d6f8","type":"mqtt in","z":"18b8c7ac.07eee8","name":"","topic":"#","qos":"0","datatype":"auto","broker":"74dcdab5.83e964","x":210,"y":380,"wires":[[]]},{"id":"a7fdbf1c.491cd8","type":"debug","z":"18b8c7ac.07eee8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1330,"y":560,"wires":[]},{"id":"2412606b.c990d8","type":"mqtt out","z":"18b8c7ac.07eee8","name":"","topic":"photon/cmd/STOP","qos":"","retain":"","broker":"74dcdab5.83e964","x":510,"y":1000,"wires":[]},{"id":"9b883aa6.e122a8","type":"inject","z":"18b8c7ac.07eee8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":250,"y":1040,"wires":[["2412606b.c990d8"]]},{"id":"a7bd546d.51b52","type":"change","z":"18b8c7ac.07eee8","name":"","rules":[{"t":"set","p":"target","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":200,"wires":[[]]},{"id":"e8c566ed.43f638","type":"mqtt out","z":"18b8c7ac.07eee8","name":"","topic":"tinkerforge/request/air_quality_bricklet/GN6/get_all_values","qos":"","retain":"","broker":"74dcdab5.83e964","x":920,"y":380,"wires":[]},{"id":"3de74310.f7bbe4","type":"change","z":"18b8c7ac.07eee8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"target","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":320,"wires":[["e8c566ed.43f638"]]},{"id":"37b0599c.495dfe","type":"mqtt out","z":"18b8c7ac.07eee8","name":"","topic":"","qos":"0","retain":"","broker":"74dcdab5.83e964","x":1250,"y":800,"wires":[]},{"id":"9f0110d7.aa8598","type":"trigger","z":"18b8c7ac.07eee8","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"3","extend":true,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1160,"y":680,"wires":[["37b0599c.495dfe"]]},{"id":"47a7aa45.ef22ec","type":"inject","z":"18b8c7ac.07eee8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":710,"y":260,"wires":[[]]},{"id":"fb43cc22.d2b1d8","type":"debug","z":"18b8c7ac.07eee8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":40,"wires":[]},{"id":"be76bc69.2554b8","type":"inject","z":"18b8c7ac.07eee8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":570,"y":380,"wires":[["e8c566ed.43f638"]]},{"id":"a4558580.f280f8","type":"inject","z":"18b8c7ac.07eee8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":60,"wires":[[]]},{"id":"ab18f573.78581","type":"ui_button","z":"18b8c7ac.07eee8","name":"","group":"47847ae6.02444c","order":3,"width":0,"height":0,"passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"START","payloadType":"str","topic":"photon/cmd/START","x":310,"y":320,"wires":[["3de74310.f7bbe4"]]},{"id":"43953858.aaf258","type":"ui_button","z":"18b8c7ac.07eee8","name":"","group":"47847ae6.02444c","order":4,"width":0,"height":0,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"START","payloadType":"str","topic":"photon/cmd/STOP","x":530,"y":240,"wires":[[]]},{"id":"7349f45.777760c","type":"ui_switch","z":"18b8c7ac.07eee8","name":"","label":"Relay 1","tooltip":"","group":"97a76c62.524858","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":500,"y":580,"wires":[["1ce3c7b3.9d5738"]]},{"id":"bdc3a7cc.6ca24","type":"ui_switch","z":"18b8c7ac.07eee8","name":"","label":"Relay 2","tooltip":"","group":"97a76c62.524858","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"photon/cmd/Relay","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":500,"y":640,"wires":[["8eef0fa8.a2597"]]},{"id":"f7712ba5.1fd7e","type":"ui_switch","z":"18b8c7ac.07eee8","name":"","label":"Relay 3","tooltip":"","group":"97a76c62.524858","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"photon/cmd/Relay","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":520,"y":680,"wires":[["ac8bc086.6794"]]},{"id":"d1480c9f.812f98","type":"ui_switch","z":"18b8c7ac.07eee8","name":"","label":"Relay 4","tooltip":"","group":"97a76c62.524858","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"photon/cmd/Relay","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":520,"y":720,"wires":[["e396ceba.b23788"]]},{"id":"691eed49.9e088c","type":"ui_switch","z":"18b8c7ac.07eee8","name":"","label":"LED","tooltip":"","group":"97a76c62.524858","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"photon/cmd/LED","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":510,"y":860,"wires":[["37b0599c.495dfe"]]},{"id":"733b3cd.a2b6944","type":"ui_numeric","z":"18b8c7ac.07eee8","name":"","label":"target","tooltip":"","group":"47847ae6.02444c","order":2,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"10","max":"40","step":1,"x":540,"y":180,"wires":[["a7bd546d.51b52"]]},{"id":"c0f4d126.173508","type":"ui_numeric","z":"18b8c7ac.07eee8","name":"","label":"Heater fan","tooltip":"","group":"97a76c62.524858","order":6,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"photon/cmd/HeaterFAN","format":"{{value}}","min":0,"max":"255","step":1,"x":490,"y":500,"wires":[["9f0110d7.aa8598"]]},{"id":"c2e62117.26934","type":"ui_numeric","z":"18b8c7ac.07eee8","name":"","label":"Cooler fan","tooltip":"","group":"97a76c62.524858","order":5,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"photon/cmd/CoolerFAN","format":"{{value}}","min":0,"max":"255","step":1,"x":510,"y":540,"wires":[["9f0110d7.aa8598"]]},{"id":"51d9b5f6.707fb4","type":"ui_numeric","z":"18b8c7ac.07eee8","name":"","label":"DAC","tooltip":"","group":"97a76c62.524858","order":7,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"photon/cmd/DAC","format":"{{value}}","min":"1700","max":"3300","step":"1","x":510,"y":800,"wires":[["a7fdbf1c.491cd8","9f0110d7.aa8598"]]},{"id":"7022c31c.c204cc","type":"ui_text","z":"18b8c7ac.07eee8","group":"47847ae6.02444c","order":1,"width":0,"height":0,"name":"","label":"target temp","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":120,"wires":[]},{"id":"1ce3c7b3.9d5738","type":"set-shared-state","z":"18b8c7ac.07eee8","state":"ddc00501.5975f8","name":"relay1","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":730,"y":580,"wires":[]},{"id":"a3f4cfa0.4c2fd8","type":"get-shared-state","z":"64672e75.03f4a8","state":"ddc00501.5975f8","name":"relay1","triggerOnInit":true,"x":110,"y":120,"wires":[["a3d6e8eb.872a3"]]},{"id":"4c8fe770.a0206","type":"exec","z":"64672e75.03f4a8","command":"python3 ~/bread-tinkerforge/relay.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":870,"y":120,"wires":[[],[],[]]},{"id":"a5213bcf.9cb528","type":"debug","z":"64672e75.03f4a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":80,"wires":[]},{"id":"a3d6e8eb.872a3","type":"template","z":"64672e75.03f4a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{topic}} {{payload}}","output":"str","x":420,"y":120,"wires":[["4c8fe770.a0206"]]},{"id":"8eef0fa8.a2597","type":"set-shared-state","z":"18b8c7ac.07eee8","state":"b57179f0.c9eaa","name":"relay2","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":730,"y":640,"wires":[]},{"id":"ac8bc086.6794","type":"set-shared-state","z":"18b8c7ac.07eee8","state":"c8491213.eb9958","name":"relay3","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":730,"y":680,"wires":[]},{"id":"e396ceba.b23788","type":"set-shared-state","z":"18b8c7ac.07eee8","state":"1dc4d413.03488c","name":"relay4","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":730,"y":720,"wires":[]},{"id":"fff30cf1.14895","type":"get-shared-state","z":"64672e75.03f4a8","state":"b57179f0.c9eaa","name":"relay2","triggerOnInit":true,"x":110,"y":180,"wires":[["a3d6e8eb.872a3"]]},{"id":"304ad8a6.a5415","type":"get-shared-state","z":"64672e75.03f4a8","state":"c8491213.eb9958","name":"relay3","triggerOnInit":true,"x":110,"y":220,"wires":[["a3d6e8eb.872a3"]]},{"id":"b6b19ed8.4b369","type":"get-shared-state","z":"64672e75.03f4a8","state":"1dc4d413.03488c","name":"relay4","triggerOnInit":true,"x":110,"y":260,"wires":[["a3d6e8eb.872a3"]]},{"id":"6a49d89f.1a17e8","type":"mqtt in","z":"c080d81d.548348","name":"","topic":"+/+/+/+/+/chamber/data/#","qos":"2","datatype":"auto","broker":"74dcdab5.83e964","x":250,"y":120,"wires":[["d8ed7838.0d857"]]},{"id":"5e1fe8cd.e3b47","type":"debug","z":"c080d81d.548348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":100,"wires":[]},{"id":"d8ed7838.0d857","type":"function","z":"c080d81d.548348","name":"","func":"msg.payload = msg.topic.split('/')[7];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":120,"wires":[[]]},{"id":"ebc5a667.194918","type":"change","z":"c080d81d.548348","name":"","rules":[{"t":"set","p":"payload","pt":"global","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":320,"wires":[[]]},{"id":"e68798c9.43271","type":"influxdb in","z":"18b8c7ac.07eee8","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":280,"y":120,"wires":[[]]}]