flows.json
[{"id":"18b8c7ac.07eee8","type":"tab","label":"Debug","disabled":false,"info":""},{"id":"64672e75.03f4a8","type":"tab","label":"CMD","disabled":false,"info":""},{"id":"c080d81d.548348","type":"tab","label":"Sensor","disabled":false,"info":""},{"id":"d7e822af.c12a4","type":"tab","label":"Main loop","disabled":false,"info":""},{"id":"262612fb.7fef96","type":"tab","label":"FAN","disabled":false,"info":""},{"id":"a2c4834c.e7fa58","type":"subflow","name":"Process Simulation","info":"","in":[{"x":37,"y":103,"wires":[{"id":"6d70d582.40d7cc"}]}],"out":[{"x":728.5,"y":294,"wires":[{"id":"9d2669f1.f67b38","port":0}]}]},{"id":"79509665.65e3b8","type":"mqtt-broker","z":"","name":"local","broker":"brocker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"74dcdab5.83e964","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"683f7eec.5c62c","type":"mqtt-broker","z":"","name":"","broker":"http://10.70.1.86","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4df5a172.d77308","type":"influxdb","z":"18b8c7ac.07eee8","hostname":"influxdb","port":"8086","database":"home","name":"aTimeSeries","usetls":false,"tls":""},{"id":"47847ae6.02444c","type":"ui_group","z":0,"name":"Default","tab":"ebf66048.7c529","order":1,"disp":true,"width":"6","collapse":false},{"id":"97a76c62.524858","type":"ui_group","z":"","name":"Debug","tab":"1233e7eb.6fcc78","order":2,"disp":true,"width":"6","collapse":false},{"id":"ebf66048.7c529","type":"ui_tab","z":0,"name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"b7f0356b.50c1a","type":"ui_base","z":0,"theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ddc00501.5975f8","type":"shared-state","z":"","name":"relay1","lbl":"","tags":"","historyCount":"2","dataType":"bool","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"c8491213.eb9958","type":"shared-state","z":"","name":"relay3","lbl":"","tags":"","historyCount":"2","dataType":"bool","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"b57179f0.c9eaa","type":"shared-state","z":"","name":"relay2","lbl":"","tags":"","historyCount":"2","dataType":"bool","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"1dc4d413.03488c","type":"shared-state","z":"","name":"relay4","lbl":"","tags":"","historyCount":"2","dataType":"bool","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"bff6e5d1.24ce68","type":"shared-state","z":0,"name":"data","lbl":"","tags":"","historyCount":"2","dataType":"obj","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"1233e7eb.6fcc78","type":"ui_tab","z":"","name":"Debug","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"8f8583e.f5aeb8","type":"ui_group","z":"","name":"State","tab":"1233e7eb.6fcc78","order":2,"disp":true,"width":"6","collapse":false},{"id":"a4b3d3f.f214ab","type":"ui_group","z":"","name":"State 2","tab":"1233e7eb.6fcc78","order":3,"disp":true,"width":"6","collapse":false},{"id":"e06ffb1d.7fc6a","type":"shared-state","z":"","name":"chamberState","lbl":"","tags":"","historyCount":"2","dataType":"str","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"435b10b7.ae825","type":"shared-state","z":"","name":"chamberMode","lbl":"","tags":"","historyCount":"2","dataType":"str","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"4451538c.85ad4c","type":"shared-state","z":"","name":"roomTemp","lbl":"","tags":"","historyCount":"2","dataType":"num","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":"C"},{"id":"defdd5c9.00f138","type":"shared-state","z":"","name":"setpoint","lbl":"","tags":"","historyCount":"2","dataType":"num","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":"C"},{"id":"6084ef9b.c26b6","type":"shared-state","z":"","name":"chamberTemp","lbl":"","tags":"","historyCount":"2","dataType":"num","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":"C"},{"id":"15fe707b.cbdd78","type":"shared-state","z":"","name":"heaterFAN","lbl":"","tags":"","historyCount":"2","dataType":"num","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"84d2f720.b81e98","type":"shared-state","z":"","name":"coolerFAN","lbl":"","tags":"","historyCount":"2","dataType":"num","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"7cc16dfd.c5bd2c","type":"shared-state","z":"","name":"distance","lbl":"","tags":"","historyCount":"2","dataType":"num","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"7bda2608.497328","type":"shared-state","z":"","name":"heaterTemp","lbl":"","tags":"","historyCount":"2","dataType":"num","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":"C"},{"id":"3fd19932.a4ee1e","type":"shared-state","z":"","name":"DAC","lbl":"","tags":"","historyCount":"2","dataType":"num","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"fc3775f5.c6257","type":"ui_group","z":"","name":"PID","tab":"258e5760.ba84a8","order":1,"disp":true,"width":"6"},{"id":"258e5760.ba84a8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"47a7aa45.ef22ec","type":"inject","z":"18b8c7ac.07eee8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1020,"y":280,"wires":[[]]},{"id":"be76bc69.2554b8","type":"inject","z":"18b8c7ac.07eee8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1680,"y":320,"wires":[[]]},{"id":"4c8fe770.a0206","type":"exec","z":"64672e75.03f4a8","command":"python3 ~/bread-tinkerforge/relay.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Relay control","x":790,"y":120,"wires":[[],[],[]]},{"id":"a3d6e8eb.872a3","type":"template","z":"64672e75.03f4a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{topic}} {{payload}}","output":"str","x":420,"y":120,"wires":[["4c8fe770.a0206"]]},{"id":"6a49d89f.1a17e8","type":"mqtt in","z":"c080d81d.548348","name":"","topic":"+/+/+/+/+/chamber/data/roomTemp","qos":"2","datatype":"auto","broker":"74dcdab5.83e964","x":140,"y":120,"wires":[["519dddd5.a6b124"]]},{"id":"ab18f573.78581","type":"ui_button","z":"18b8c7ac.07eee8","name":"","group":"47847ae6.02444c","order":3,"width":0,"height":0,"passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"CONST","payloadType":"str","topic":"","x":530,"y":320,"wires":[["2f1963d8.e2c8b4"]]},{"id":"43953858.aaf258","type":"ui_button","z":"18b8c7ac.07eee8","name":"","group":"47847ae6.02444c","order":4,"width":0,"height":0,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"IDLE","payloadType":"str","topic":"","x":530,"y":240,"wires":[["9db1a745.e4a1e8"]]},{"id":"7349f45.777760c","type":"ui_switch","z":"18b8c7ac.07eee8","name":"","label":"Relay 1","tooltip":"","group":"97a76c62.524858","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":500,"y":580,"wires":[["1ce3c7b3.9d5738"]]},{"id":"bdc3a7cc.6ca24","type":"ui_switch","z":"18b8c7ac.07eee8","name":"","label":"Relay 2","tooltip":"","group":"97a76c62.524858","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"photon/cmd/Relay","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":500,"y":640,"wires":[["8eef0fa8.a2597"]]},{"id":"f7712ba5.1fd7e","type":"ui_switch","z":"18b8c7ac.07eee8","name":"","label":"Relay 3","tooltip":"","group":"97a76c62.524858","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"photon/cmd/Relay","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":520,"y":680,"wires":[["ac8bc086.6794"]]},{"id":"d1480c9f.812f98","type":"ui_switch","z":"18b8c7ac.07eee8","name":"","label":"Relay 4","tooltip":"","group":"97a76c62.524858","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"photon/cmd/Relay","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":520,"y":720,"wires":[["e396ceba.b23788"]]},{"id":"691eed49.9e088c","type":"ui_switch","z":"18b8c7ac.07eee8","name":"","label":"LED","tooltip":"","group":"97a76c62.524858","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"photon/cmd/LED","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":510,"y":860,"wires":[[]]},{"id":"733b3cd.a2b6944","type":"ui_numeric","z":"18b8c7ac.07eee8","name":"","label":"Target temperature","tooltip":"","group":"47847ae6.02444c","order":2,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"10","max":"40","step":1,"x":550,"y":180,"wires":[["49589999.04ef2"]]},{"id":"c0f4d126.173508","type":"ui_numeric","z":"18b8c7ac.07eee8","name":"","label":"Heater fan","tooltip":"","group":"97a76c62.524858","order":6,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"photon/cmd/HeaterFAN","format":"{{value}}","min":0,"max":"255","step":1,"x":490,"y":480,"wires":[["1e0c2938.ff432f"]]},{"id":"c2e62117.26934","type":"ui_numeric","z":"18b8c7ac.07eee8","name":"","label":"Cooler fan","tooltip":"","group":"97a76c62.524858","order":5,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"photon/cmd/CoolerFAN","format":"{{value}}","min":0,"max":"255","step":1,"x":490,"y":520,"wires":[["ce5abd64.1240e"]]},{"id":"51d9b5f6.707fb4","type":"ui_numeric","z":"18b8c7ac.07eee8","name":"","label":"DAC","tooltip":"","group":"97a76c62.524858","order":7,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"photon/cmd/DAC","format":"{{value}}","min":"1500","max":"3300","step":"1","x":510,"y":800,"wires":[["6e474a8a.4696a4"]]},{"id":"a3f4cfa0.4c2fd8","type":"get-shared-state","z":"64672e75.03f4a8","state":"ddc00501.5975f8","name":"relay1","triggerOnInit":true,"x":110,"y":120,"wires":[["a3d6e8eb.872a3","7392209e.bcb3e"]]},{"id":"fff30cf1.14895","type":"get-shared-state","z":"64672e75.03f4a8","state":"b57179f0.c9eaa","name":"relay2","triggerOnInit":true,"x":110,"y":180,"wires":[["a3d6e8eb.872a3","7392209e.bcb3e"]]},{"id":"304ad8a6.a5415","type":"get-shared-state","z":"64672e75.03f4a8","state":"c8491213.eb9958","name":"relay3","triggerOnInit":true,"x":110,"y":240,"wires":[["a3d6e8eb.872a3","7392209e.bcb3e"]]},{"id":"b6b19ed8.4b369","type":"get-shared-state","z":"64672e75.03f4a8","state":"1dc4d413.03488c","name":"relay4","triggerOnInit":true,"x":110,"y":300,"wires":[["a3d6e8eb.872a3","7392209e.bcb3e"]]},{"id":"1ce3c7b3.9d5738","type":"set-shared-state","z":"18b8c7ac.07eee8","state":"ddc00501.5975f8","name":"relay1","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":730,"y":580,"wires":[]},{"id":"8eef0fa8.a2597","type":"set-shared-state","z":"18b8c7ac.07eee8","state":"b57179f0.c9eaa","name":"relay2","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":730,"y":640,"wires":[]},{"id":"ac8bc086.6794","type":"set-shared-state","z":"18b8c7ac.07eee8","state":"c8491213.eb9958","name":"relay3","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":730,"y":680,"wires":[]},{"id":"e396ceba.b23788","type":"set-shared-state","z":"18b8c7ac.07eee8","state":"1dc4d413.03488c","name":"relay4","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":730,"y":720,"wires":[]},{"id":"464c1ae1.6163b4","type":"mqtt in","z":"c080d81d.548348","name":"","topic":"+/+/+/+/+/chamber/data/chamberTemp","qos":"2","datatype":"auto","broker":"74dcdab5.83e964","x":150,"y":200,"wires":[["3a3d4c6a.26f854"]]},{"id":"4d21aaf7.777404","type":"mqtt in","z":"c080d81d.548348","name":"","topic":"+/+/+/+/+/chamber/data/heaterTemp","qos":"2","datatype":"auto","broker":"74dcdab5.83e964","x":140,"y":280,"wires":[["1814f859.119ea"]]},{"id":"e9bbfe74.dcfd2","type":"mqtt in","z":"c080d81d.548348","name":"","topic":"+/+/+/+/+/chamber/data/distance","qos":"2","datatype":"auto","broker":"74dcdab5.83e964","x":130,"y":360,"wires":[["1a0aeb86.b2dfa4"]]},{"id":"91689169.b69288","type":"mqtt in","z":"c080d81d.548348","name":"","topic":"+/+/+/+/+/chamber/data/dac","qos":"2","datatype":"auto","broker":"74dcdab5.83e964","x":120,"y":460,"wires":[[]]},{"id":"718c84c2.7e250c","type":"ui_gauge","z":"c080d81d.548348","name":"","group":"8f8583e.f5aeb8","order":1,"width":0,"height":0,"gtype":"gage","title":"Chamber Temp","label":"units","format":"{{value}}","min":"10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1220,"y":200,"wires":[]},{"id":"5acae9e9.867408","type":"ui_gauge","z":"c080d81d.548348","name":"","group":"8f8583e.f5aeb8","order":2,"width":0,"height":0,"gtype":"gage","title":"Room Temp","label":"units","format":"{{value}}","min":"15","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1150,"y":120,"wires":[]},{"id":"21e53b5.7f14844","type":"ui_gauge","z":"c080d81d.548348","name":"","group":"8f8583e.f5aeb8","order":3,"width":0,"height":0,"gtype":"gage","title":"Heater Temp","label":"units","format":"{{value}}","min":"15","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1210,"y":280,"wires":[]},{"id":"7ed7f97c.15ae4","type":"ui_text","z":"c080d81d.548348","group":"8f8583e.f5aeb8","order":4,"width":0,"height":0,"name":"","label":"Distance","format":"{{msg.payload}}","layout":"row-spread","x":1200,"y":360,"wires":[]},{"id":"621e6eb8.feb82","type":"ui_text","z":"c080d81d.548348","group":"8f8583e.f5aeb8","order":4,"width":0,"height":0,"name":"","label":"DAC","format":"{{msg.payload}}","layout":"row-spread","x":1190,"y":460,"wires":[]},{"id":"7fd27d8a.bcbbf4","type":"ui_text","z":"c080d81d.548348","group":"a4b3d3f.f214ab","order":4,"width":0,"height":0,"name":"","label":"State","format":"{{msg.payload}}","layout":"row-spread","x":990,"y":1100,"wires":[]},{"id":"91397816.339fe8","type":"ui_gauge","z":"c080d81d.548348","name":"","group":"8f8583e.f5aeb8","order":3,"width":0,"height":0,"gtype":"gage","title":"Setpoint","label":"units","format":"{{value}}","min":"10","max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":1180,"wires":[]},{"id":"a72d82a4.7faeb8","type":"exec","z":"64672e75.03f4a8","command":"python3 ~/bread-tinkerforge/fan.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Fan control","x":1070,"y":500,"wires":[[],[],[]]},{"id":"9b36f0a.da15b9","type":"template","z":"64672e75.03f4a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{topic}} {{payload}}","output":"str","x":540,"y":500,"wires":[["a72d82a4.7faeb8"]]},{"id":"de603f43.2ccaf","type":"switch","z":"d7e822af.c12a4","name":"Target < room Temp","property":"state.setpoint.value","propertyType":"global","rules":[{"t":"lte","v":"state.roomTemp.value","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":160,"wires":[["e4a1200e.b494c","6a64233.d7da0dc","3fbef295.3cfd7e","559d369.770dec8","6a03f1fe.07ee6"]]},{"id":"d678235c.eb80c8","type":"switch","z":"d7e822af.c12a4","name":"Target > room Temp","property":"state.setpoint.value","propertyType":"global","rules":[{"t":"gt","v":"state.roomTemp.value","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":220,"wires":[["64142c20.0ee33c","1114f61e.326d72","7f5b7ff1.019c8","459f8310.40ed0c"]]},{"id":"52699ddb.a5d504","type":"set-shared-state","z":"d7e822af.c12a4","state":"ddc00501.5975f8","name":"relay1","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":990,"y":220,"wires":[]},{"id":"64142c20.0ee33c","type":"change","z":"d7e822af.c12a4","name":"False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":220,"wires":[["52699ddb.a5d504"]]},{"id":"73b0da1e.14b324","type":"set-shared-state","z":"d7e822af.c12a4","state":"b57179f0.c9eaa","name":"relay2","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":990,"y":80,"wires":[]},{"id":"e4a1200e.b494c","type":"change","z":"d7e822af.c12a4","name":"False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":80,"wires":[["73b0da1e.14b324"]]},{"id":"71d5766a.cc46e","type":"set-shared-state","z":"d7e822af.c12a4","state":"ddc00501.5975f8","name":"relay1","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":970,"y":160,"wires":[]},{"id":"6a64233.d7da0dc","type":"change","z":"d7e822af.c12a4","name":"True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":160,"wires":[["71d5766a.cc46e"]]},{"id":"21a843b4.1c08c4","type":"inject","z":"262612fb.7fef96","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":200,"wires":[["c535bf3e.e05d58","a05e20f.04fe56","4a072629.46f6c8"]]},{"id":"c535bf3e.e05d58","type":"switch","z":"262612fb.7fef96","name":"If mode heating","property":"state.chamberMode.value","propertyType":"global","rules":[{"t":"eq","v":"heating","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":160,"wires":[["98185b60.7616f"]]},{"id":"2f1963d8.e2c8b4","type":"set-shared-state","z":"18b8c7ac.07eee8","state":"e06ffb1d.7fc6a","name":"chamberState","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":820,"y":320,"wires":[]},{"id":"e20d799d.7e8f18","type":"get-shared-state","z":"d7e822af.c12a4","state":"e06ffb1d.7fc6a","name":"chamberState","triggerOnInit":true,"x":90,"y":240,"wires":[["74a4437f.b9fc8c","f0ecadc1.22666"]]},{"id":"74a4437f.b9fc8c","type":"switch","z":"d7e822af.c12a4","name":"Mode = CONST","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"CONST","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":180,"wires":[["d678235c.eb80c8","de603f43.2ccaf"]]},{"id":"f0ecadc1.22666","type":"switch","z":"d7e822af.c12a4","name":"Mode = IDLE","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"IDLE","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":300,"wires":[["20d5a557.350eea","3359a311.7c6644","af8017af.e4ead","7f5b7ff1.019c8","6a03f1fe.07ee6"]]},{"id":"7ed57cb9.8670cc","type":"set-shared-state","z":"d7e822af.c12a4","state":"b57179f0.c9eaa","name":"relay2","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":790,"y":360,"wires":[]},{"id":"20d5a557.350eea","type":"change","z":"d7e822af.c12a4","name":"False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":360,"wires":[["7ed57cb9.8670cc"]]},{"id":"8d50f7e.614ec08","type":"set-shared-state","z":"d7e822af.c12a4","state":"ddc00501.5975f8","name":"relay1","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":790,"y":420,"wires":[]},{"id":"3359a311.7c6644","type":"change","z":"d7e822af.c12a4","name":"False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":420,"wires":[["8d50f7e.614ec08"]]},{"id":"9db1a745.e4a1e8","type":"set-shared-state","z":"18b8c7ac.07eee8","state":"e06ffb1d.7fc6a","name":"chamberState","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":800,"y":240,"wires":[]},{"id":"a05e20f.04fe56","type":"switch","z":"262612fb.7fef96","name":"If mode cooling","property":"state.chamberMode.value","propertyType":"global","rules":[{"t":"eq","v":"cooling","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":220,"wires":[["ac792a78.cec708","6dfa19aa.99285"]]},{"id":"4a072629.46f6c8","type":"switch","z":"262612fb.7fef96","name":"If state IDLE","property":"state.chamberState.value","propertyType":"global","rules":[{"t":"eq","v":"IDLE","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":280,"wires":[["ae8c8725.b155e"]]},{"id":"ac792a78.cec708","type":"change","z":"262612fb.7fef96","name":"Cooler FAN to 200","rules":[{"t":"set","p":"payload","pt":"msg","to":"200","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":220,"wires":[["91f90269.04cf8"]]},{"id":"98185b60.7616f","type":"change","z":"262612fb.7fef96","name":"Cooler FAN to 200","rules":[{"t":"set","p":"payload","pt":"msg","to":"200","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":160,"wires":[["91f90269.04cf8"]]},{"id":"49589999.04ef2","type":"set-shared-state","z":"18b8c7ac.07eee8","state":"defdd5c9.00f138","name":"setpoint","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":780,"y":180,"wires":[]},{"id":"1e0c2938.ff432f","type":"set-shared-state","z":"18b8c7ac.07eee8","state":"15fe707b.cbdd78","name":"heaterFAN","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":750,"y":480,"wires":[]},{"id":"ce5abd64.1240e","type":"set-shared-state","z":"18b8c7ac.07eee8","state":"84d2f720.b81e98","name":"coolerFAN","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":750,"y":540,"wires":[]},{"id":"c6b8de17.b9471","type":"get-shared-state","z":"64672e75.03f4a8","state":"84d2f720.b81e98","name":"coolerFAN","triggerOnInit":true,"x":260,"y":480,"wires":[["9b36f0a.da15b9","1a134689.42c709","db51b9c4.20b71"]]},{"id":"54e0b004.737de8","type":"get-shared-state","z":"64672e75.03f4a8","state":"15fe707b.cbdd78","name":"heaterFAN","triggerOnInit":true,"x":260,"y":540,"wires":[["9b36f0a.da15b9","102a1b56.9e413d","26b9a493.fe04f4"]]},{"id":"102a1b56.9e413d","type":"ui_gauge","z":"64672e75.03f4a8","name":"","group":"a4b3d3f.f214ab","order":2,"width":0,"height":0,"gtype":"gage","title":"Heater FAN","label":"units","format":"{{value}}","min":"0","max":"255","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":580,"wires":[]},{"id":"1a134689.42c709","type":"ui_gauge","z":"64672e75.03f4a8","name":"","group":"a4b3d3f.f214ab","order":2,"width":0,"height":0,"gtype":"gage","title":"Cooler FAN","label":"units","format":"{{value}}","min":"0","max":"255","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":420,"wires":[]},{"id":"a333f935.428908","type":"get-shared-state","z":"c080d81d.548348","state":"e06ffb1d.7fc6a","name":"chamberState","triggerOnInit":true,"x":590,"y":1100,"wires":[["7fd27d8a.bcbbf4"]]},{"id":"11be11a2.727b5e","type":"get-shared-state","z":"c080d81d.548348","state":"defdd5c9.00f138","name":"setpoint","triggerOnInit":true,"x":570,"y":1180,"wires":[["91397816.339fe8"]]},{"id":"610f6140.e8d1d8","type":"inject","z":"c080d81d.548348","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1430,"y":960,"wires":[[]]},{"id":"918c5608.5db458","type":"set-shared-state","z":"c080d81d.548348","state":"7cc16dfd.c5bd2c","name":"distance","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":800,"y":360,"wires":[]},{"id":"6548dc38.868a44","type":"get-shared-state","z":"c080d81d.548348","state":"7cc16dfd.c5bd2c","name":"distance","triggerOnInit":true,"x":1000,"y":360,"wires":[["7ed7f97c.15ae4"]]},{"id":"9582e8db.d8e608","type":"set-shared-state","z":"c080d81d.548348","state":"7bda2608.497328","name":"heaterTemp","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":790,"y":280,"wires":[]},{"id":"1bb22e0e.5a2d4a","type":"set-shared-state","z":"c080d81d.548348","state":"6084ef9b.c26b6","name":"chamberTemp","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":800,"y":200,"wires":[]},{"id":"17abac16.668be4","type":"set-shared-state","z":"c080d81d.548348","state":"4451538c.85ad4c","name":"roomTemp","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":750,"y":120,"wires":[]},{"id":"de0c1818.f4fea","type":"get-shared-state","z":"c080d81d.548348","state":"7bda2608.497328","name":"heaterTemp","triggerOnInit":true,"x":1030,"y":280,"wires":[["21e53b5.7f14844"]]},{"id":"7f71b06f.1dbde","type":"get-shared-state","z":"c080d81d.548348","state":"6084ef9b.c26b6","name":"chamberTemp","triggerOnInit":true,"x":1040,"y":200,"wires":[["718c84c2.7e250c"]]},{"id":"282f76de.2287ca","type":"get-shared-state","z":"c080d81d.548348","state":"4451538c.85ad4c","name":"roomTemp","triggerOnInit":true,"x":920,"y":120,"wires":[["5acae9e9.867408"]]},{"id":"6e474a8a.4696a4","type":"set-shared-state","z":"18b8c7ac.07eee8","state":"3fd19932.a4ee1e","name":"DAC","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":690,"y":800,"wires":[]},{"id":"a94bf626.b38738","type":"get-shared-state","z":"18b8c7ac.07eee8","state":"15fe707b.cbdd78","name":"heaterFAN","triggerOnInit":true,"x":260,"y":500,"wires":[["c0f4d126.173508"]]},{"id":"bbfa05d.74420f8","type":"get-shared-state","z":"18b8c7ac.07eee8","state":"84d2f720.b81e98","name":"coolerFAN","triggerOnInit":true,"x":260,"y":560,"wires":[["c2e62117.26934"]]},{"id":"281682f5.67d356","type":"set-shared-state","z":"d7e822af.c12a4","state":"435b10b7.ae825","name":"chamberMode","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":870,"y":40,"wires":[]},{"id":"3fbef295.3cfd7e","type":"change","z":"d7e822af.c12a4","name":"cooling","rules":[{"t":"set","p":"payload","pt":"msg","to":"cooling","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":40,"wires":[["281682f5.67d356"]]},{"id":"1114f61e.326d72","type":"change","z":"d7e822af.c12a4","name":"heating","rules":[{"t":"set","p":"payload","pt":"msg","to":"heating","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":280,"wires":[["cb667770.e43778"]]},{"id":"cb667770.e43778","type":"set-shared-state","z":"d7e822af.c12a4","state":"435b10b7.ae825","name":"chamberMode","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":920,"y":280,"wires":[]},{"id":"596ca967.814d6","type":"PID","z":"d7e822af.c12a4","name":"Cooler PID","setpoint":21,"pb":1,"ti":9999,"td":0,"integral_default":0.5,"smooth_factor":3,"max_interval":600,"enable":"0","disabled_op":0,"x":810,"y":820,"wires":[["7bb1e955.a8d99","97674649.be05e8"]]},{"id":"a3d4333b.6db588","type":"PID","z":"d7e822af.c12a4","name":"Heater PID","setpoint":21,"pb":1,"ti":9999,"td":0,"integral_default":0.5,"smooth_factor":3,"max_interval":600,"enable":"0","disabled_op":0,"x":710,"y":1080,"wires":[["a1ee4f29.bb8d38","1ee5d6c.4e64429"]]},{"id":"519dddd5.a6b124","type":"json","z":"c080d81d.548348","name":"","property":"payload","action":"","pretty":false,"x":390,"y":120,"wires":[["74f57265.f82724"]]},{"id":"74f57265.f82724","type":"change","z":"c080d81d.548348","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.temperature/100","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":120,"wires":[["17abac16.668be4"]]},{"id":"3a3d4c6a.26f854","type":"json","z":"c080d81d.548348","name":"","property":"payload","action":"","pretty":false,"x":410,"y":200,"wires":[["b1bdd7c1.448ec"]]},{"id":"1814f859.119ea","type":"json","z":"c080d81d.548348","name":"","property":"payload","action":"","pretty":false,"x":390,"y":280,"wires":[["f5a51b2b.e15118"]]},{"id":"1a0aeb86.b2dfa4","type":"json","z":"c080d81d.548348","name":"","property":"payload","action":"","pretty":false,"x":370,"y":360,"wires":[["633b83d9.9c207c"]]},{"id":"b1bdd7c1.448ec","type":"change","z":"c080d81d.548348","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.temperature/100","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":200,"wires":[["1bb22e0e.5a2d4a"]]},{"id":"f5a51b2b.e15118","type":"change","z":"c080d81d.548348","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.temperature/100","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":280,"wires":[["9582e8db.d8e608"]]},{"id":"633b83d9.9c207c","type":"change","z":"c080d81d.548348","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.distance","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":360,"wires":[["918c5608.5db458"]]},{"id":"ddaa2721.6d98a","type":"get-shared-state","z":"64672e75.03f4a8","state":"3fd19932.a4ee1e","name":"DAC","triggerOnInit":true,"x":250,"y":660,"wires":[["ce2d1c64.da2288","1e8f4cd1.7b9e23"]]},{"id":"9a8e29e6.9a4c58","type":"mqtt out","z":"64672e75.03f4a8","name":"","topic":"tinkerforge/request/analog_out_v2_bricklet/vm5/set_output_voltage","qos":"","retain":"","broker":"74dcdab5.83e964","x":890,"y":780,"wires":[]},{"id":"ce2d1c64.da2288","type":"template","z":"64672e75.03f4a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"voltage\": {{payload}} }","output":"str","x":460,"y":780,"wires":[["9a8e29e6.9a4c58"]]},{"id":"4256b39a.8a5324","type":"mqtt in","z":"64672e75.03f4a8","name":"","topic":"state/#","qos":"2","datatype":"auto","broker":"74dcdab5.83e964","x":1010,"y":120,"wires":[[]]},{"id":"2208b9f.2d3f446","type":"comment","z":"d7e822af.c12a4","name":"","info":"Heater variation 2000 to 2200","x":1190,"y":280,"wires":[]},{"id":"91f90269.04cf8","type":"set-shared-state","z":"262612fb.7fef96","state":"84d2f720.b81e98","name":"coolerFAN","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":1170,"y":200,"wires":[]},{"id":"9291b804.1789e8","type":"set-shared-state","z":"262612fb.7fef96","state":"15fe707b.cbdd78","name":"heaterFAN","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":1210,"y":300,"wires":[]},{"id":"ae8c8725.b155e","type":"change","z":"262612fb.7fef96","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":360,"wires":[["9291b804.1789e8","91f90269.04cf8"]]},{"id":"6dfa19aa.99285","type":"change","z":"262612fb.7fef96","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"255","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":260,"wires":[["9291b804.1789e8"]]},{"id":"aeb10cb8.b2c4a8","type":"change","z":"d7e822af.c12a4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"setpoint","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":660,"wires":[["596ca967.814d6","a3d4333b.6db588"]]},{"id":"14597428.d689a4","type":"debug","z":"d7e822af.c12a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":980,"wires":[]},{"id":"af8017af.e4ead","type":"set-shared-state","z":"d7e822af.c12a4","state":"435b10b7.ae825","name":"chamberMode","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":580,"y":300,"wires":[]},{"id":"30026e01.59ef02","type":"function","z":"a2c4834c.e7fa58","name":"30 sec RC + 20","func":"// Applies a simple RC low pass filter to incoming payload values\nvar tc = 30*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue + 20;\nreturn msg;","outputs":1,"noerr":0,"x":626.5,"y":207,"wires":[["9d2669f1.f67b38"]]},{"id":"fcdbb78b.ec6bb8","type":"inject","z":"a2c4834c.e7fa58","name":"Inject -0.2 at start","repeat":"","crontab":"","once":true,"topic":"","payload":"-0.2","payloadType":"num","x":134.5,"y":30,"wires":[["6d70d582.40d7cc"]]},{"id":"d2f1bf16.20b18","type":"function","z":"a2c4834c.e7fa58","name":"10 sec RC","func":"// Applies a simple RC low pass filter to incoming payload values\nvar tc = 10*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue;\nreturn msg;","outputs":1,"noerr":0,"x":451,"y":207,"wires":[["30026e01.59ef02"]]},{"id":"6d70d582.40d7cc","type":"delay","z":"a2c4834c.e7fa58","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":268,"y":104,"wires":[["7e41515a.444e38"]]},{"id":"48bba734.cb2b7","type":"function","z":"a2c4834c.e7fa58","name":"2 msg transport delay","func":"// stores messages in a fifo until the specified number have been received, \n// then releases them as new messages are received.\n// during the filling phase the earliest message is passed on each time \n// a message is received, but it is also left in the fifo\nvar fifoMaxLength = 2;\nvar fifo = context.get('fifo') || [];\n// push the new message onto the top of the array, messages are shifted down and\n// drop off the front\nvar length = fifo.push(msg);  // returns new length\nif (length > fifoMaxLength) {\n    newMsg = fifo.shift();\n} else {\n    // not full yet, make a copy of the msg and pass it on\n    var newMsg = JSON.parse(JSON.stringify(fifo[0]));\n}\ncontext.set('fifo', fifo);\nreturn newMsg;","outputs":1,"noerr":0,"x":258,"y":208,"wires":[["d2f1bf16.20b18"]]},{"id":"9d2669f1.f67b38","type":"function","z":"a2c4834c.e7fa58","name":"Clear all except payload","func":"msg2 = {payload: msg.payload};\nreturn msg2;","outputs":1,"noerr":0,"x":545,"y":293,"wires":[[]]},{"id":"7e41515a.444e38","type":"range","z":"a2c4834c.e7fa58","minin":"0","maxin":"1","minout":"0","maxout":"100","action":"scale","round":false,"name":"","x":87,"y":208,"wires":[["48bba734.cb2b7"]]},{"id":"559d369.770dec8","type":"change","z":"d7e822af.c12a4","name":"Enable","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"enable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":720,"wires":[["596ca967.814d6"]]},{"id":"7f5b7ff1.019c8","type":"change","z":"d7e822af.c12a4","name":"Disable","rules":[{"t":"set","p":"payload","pt":"msg","to":"state.setpoint.value","tot":"global"},{"t":"set","p":"topic","pt":"msg","to":"setpoint","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":720,"wires":[["596ca967.814d6"]]},{"id":"b73d31c6.e19918","type":"get-shared-state","z":"d7e822af.c12a4","state":"6084ef9b.c26b6","name":"chamberTemp","triggerOnInit":true,"x":90,"y":800,"wires":[["596ca967.814d6","a3d4333b.6db588"]]},{"id":"31e60342.6484a4","type":"get-shared-state","z":"d7e822af.c12a4","state":"defdd5c9.00f138","name":"setpoint","triggerOnInit":true,"x":90,"y":660,"wires":[["aeb10cb8.b2c4a8"]]},{"id":"7bb1e955.a8d99","type":"range","z":"d7e822af.c12a4","minin":"0","maxin":"1","minout":"1900","maxout":"1700","action":"scale","round":false,"property":"payload","name":"","x":1030,"y":860,"wires":[["f095adee.1b77c"]]},{"id":"f095adee.1b77c","type":"set-shared-state","z":"d7e822af.c12a4","state":"3fd19932.a4ee1e","name":"DAC","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":1290,"y":860,"wires":[]},{"id":"a4506f1b.f1adb8","type":"mqtt out","z":"d7e822af.c12a4","name":"","topic":"","qos":"","retain":"","broker":"74dcdab5.83e964","x":1270,"y":780,"wires":[]},{"id":"49eea361.5d9634","type":"change","z":"d7e822af.c12a4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"PID/cooling/proportionnal","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"proportionnal","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":400,"wires":[[]]},{"id":"97674649.be05e8","type":"function","z":"d7e822af.c12a4","name":"","func":"\nvar data = {};\ndata.pv = msg.pv;\ndata.proportional= msg.proportional;\ndata.integral = msg.instegral;\ndata.derivative = msg.derivative;\ndata.smothed_value= msg.smothed_value;\nmsg.payload= data;\nmsg.topic=\"PID/cooling\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":780,"wires":[["a4506f1b.f1adb8"]]},{"id":"8e1f6ff7.d2bf8","type":"get-shared-state","z":"c080d81d.548348","state":"3fd19932.a4ee1e","name":"DAC","triggerOnInit":true,"x":750,"y":460,"wires":[["621e6eb8.feb82"]]},{"id":"3288ec43.4f261c","type":"debug","z":"c080d81d.548348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":580,"wires":[]},{"id":"d9796f07.209298","type":"change","z":"64672e75.03f4a8","name":"Prepare message for relay 1","rules":[{"t":"change","p":"topic","pt":"msg","from":"relay","fromt":"str","to":"state/relay","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.state","pt":"msg","to":"value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":280,"wires":[["e33b4447.edd14"]]},{"id":"2edb92ac.0ac33e","type":"mqtt out","z":"64672e75.03f4a8","name":"","topic":"","qos":"","retain":"","broker":"74dcdab5.83e964","x":1150,"y":280,"wires":[]},{"id":"7392209e.bcb3e","type":"switch","z":"64672e75.03f4a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":260,"wires":[["dc72ebdb.0ab3b"],["d7452f76.e27978"]]},{"id":"d7452f76.e27978","type":"change","z":"64672e75.03f4a8","name":"","rules":[{"t":"set","p":"value","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":300,"wires":[["d9796f07.209298"]]},{"id":"dc72ebdb.0ab3b","type":"change","z":"64672e75.03f4a8","name":"","rules":[{"t":"set","p":"value","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":240,"wires":[["d9796f07.209298"]]},{"id":"e33b4447.edd14","type":"json","z":"64672e75.03f4a8","name":"","property":"payload","action":"","pretty":false,"x":970,"y":280,"wires":[["2edb92ac.0ac33e"]]},{"id":"db51b9c4.20b71","type":"change","z":"64672e75.03f4a8","name":"Prepare message for relay 1","rules":[{"t":"set","p":"temp","pt":"msg","to":"payload","tot":"msg"},{"t":"change","p":"topic","pt":"msg","from":"relay","fromt":"str","to":"state/coolerFAN","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.speed","pt":"msg","to":"temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":360,"wires":[["e33b4447.edd14"]]},{"id":"26b9a493.fe04f4","type":"change","z":"64672e75.03f4a8","name":"Prepare message for relay 1","rules":[{"t":"set","p":"temp","pt":"msg","to":"payload","tot":"msg"},{"t":"change","p":"topic","pt":"msg","from":"relay","fromt":"str","to":"state/heaterFAN","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.speed","pt":"msg","to":"temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":620,"wires":[["e33b4447.edd14"]]},{"id":"1e8f4cd1.7b9e23","type":"change","z":"64672e75.03f4a8","name":"","rules":[{"t":"set","p":"temp","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.DAC","pt":"msg","to":"temp","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"state/DAC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":680,"wires":[["e33b4447.edd14"]]},{"id":"b56e2773.31a2c8","type":"inject","z":"c080d81d.548348","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"4","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":680,"wires":[["8281097c.662558","39d7cb78.f294ec","8b24da22.64019","951c2117.6da39","c2e20b47.3bcc8","7413b336.c64fe4","c9c4189a.75f2c","2f25ad6f.d8f582"]]},{"id":"a78c11d9.9d329","type":"mqtt out","z":"c080d81d.548348","name":"","topic":"","qos":"","retain":"","broker":"74dcdab5.83e964","x":930,"y":660,"wires":[]},{"id":"3bf4ab79.fee764","type":"json","z":"c080d81d.548348","name":"","property":"payload","action":"","pretty":false,"x":750,"y":660,"wires":[["a78c11d9.9d329"]]},{"id":"8281097c.662558","type":"change","z":"c080d81d.548348","name":"Prepare message for relay 1","rules":[{"t":"set","p":"topic","pt":"msg","to":"state/relay1","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.state","pt":"msg","to":"state.relay1.value","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":640,"wires":[["3bf4ab79.fee764"]]},{"id":"39d7cb78.f294ec","type":"change","z":"c080d81d.548348","name":"Prepare message for relay 2","rules":[{"t":"set","p":"topic","pt":"msg","to":"state/relay2","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.state","pt":"msg","to":"state.relay2.value","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":700,"wires":[["3bf4ab79.fee764"]]},{"id":"8b24da22.64019","type":"change","z":"c080d81d.548348","name":"Prepare message for relay 3","rules":[{"t":"set","p":"topic","pt":"msg","to":"state/relay3","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.state","pt":"msg","to":"state.relay3.value","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":760,"wires":[["3bf4ab79.fee764"]]},{"id":"951c2117.6da39","type":"change","z":"c080d81d.548348","name":"Prepare message for relay 4","rules":[{"t":"set","p":"topic","pt":"msg","to":"state/relay4","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.state","pt":"msg","to":"state.relay4.value","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":800,"wires":[["3bf4ab79.fee764"]]},{"id":"c2e20b47.3bcc8","type":"change","z":"c080d81d.548348","name":"Prepare message for heaterFAN","rules":[{"t":"set","p":"topic","pt":"msg","to":"state/heaterFAN","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.speed","pt":"msg","to":"state.heaterFAN.value","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":860,"wires":[["3bf4ab79.fee764"]]},{"id":"7413b336.c64fe4","type":"change","z":"c080d81d.548348","name":"Prepare message for coolerFAN","rules":[{"t":"set","p":"topic","pt":"msg","to":"state/coolerFAN","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.speed","pt":"msg","to":"state.coolerFAN.value","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":900,"wires":[["3bf4ab79.fee764"]]},{"id":"c9c4189a.75f2c","type":"change","z":"c080d81d.548348","name":"Prepare message for DAC","rules":[{"t":"set","p":"topic","pt":"msg","to":"state/DAC","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.DAC","pt":"msg","to":"state.DAC.value","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":940,"wires":[["3bf4ab79.fee764"]]},{"id":"6a03f1fe.07ee6","type":"change","z":"d7e822af.c12a4","name":"Disable","rules":[{"t":"set","p":"payload","pt":"msg","to":"state.setpoint.value","tot":"global"},{"t":"set","p":"topic","pt":"msg","to":"setpoint","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":860,"wires":[["a3d4333b.6db588"]]},{"id":"459f8310.40ed0c","type":"change","z":"d7e822af.c12a4","name":"Enable","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"enable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":960,"wires":[["a3d4333b.6db588"]]},{"id":"a1ee4f29.bb8d38","type":"function","z":"d7e822af.c12a4","name":"","func":"\nvar data = {};\ndata.pv = msg.pv;\ndata.proportional= msg.proportional;\ndata.integral = msg.instegral;\ndata.derivative = msg.derivative;\ndata.smothed_value= msg.smothed_value;\nmsg.payload= data;\nmsg.topic=\"PID/heating\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":1080,"wires":[["a4506f1b.f1adb8"]]},{"id":"1ee5d6c.4e64429","type":"range","z":"d7e822af.c12a4","minin":"0","maxin":"1","minout":"2000","maxout":"2200","action":"scale","round":false,"property":"payload","name":"","x":910,"y":1140,"wires":[["f095adee.1b77c"]]},{"id":"2f25ad6f.d8f582","type":"change","z":"c080d81d.548348","name":"Prepare message for setpoint","rules":[{"t":"set","p":"topic","pt":"msg","to":"state/setpoint","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.setpoint","pt":"msg","to":"state.setpoint.value","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":980,"wires":[["3bf4ab79.fee764"]]}]