flows.json
[{"id":"18b8c7ac.07eee8","type":"tab","label":"Debug","disabled":false,"info":""},{"id":"64672e75.03f4a8","type":"tab","label":"CMD","disabled":false,"info":""},{"id":"c080d81d.548348","type":"tab","label":"Sensor","disabled":false,"info":""},{"id":"d7e822af.c12a4","type":"tab","label":"Main loop","disabled":false,"info":""},{"id":"262612fb.7fef96","type":"tab","label":"FAN","disabled":false,"info":""},{"id":"f3388dca.68aa58","type":"tab","label":"Safety","disabled":false,"info":""},{"id":"b684933e.5cf9f8","type":"tab","label":"Epaper","disabled":false,"info":""},{"id":"a6be8544.d29bb8","type":"tab","label":"RGB","disabled":false,"info":""},{"id":"a2c4834c.e7fa58","type":"subflow","name":"Process Simulation","info":"","in":[{"x":37,"y":103,"wires":[{"id":"6d70d582.40d7cc"}]}],"out":[{"x":728.5,"y":294,"wires":[{"id":"9d2669f1.f67b38","port":0}]}]},{"id":"315f1781.9b8a","type":"subflow","name":"Process Simulation (2)","info":"","in":[{"x":37,"y":103,"wires":[{"id":"7572c66e.a49098"}]}],"out":[{"x":728.5,"y":294,"wires":[{"id":"d18bc720.8a5f48","port":0}]}]},{"id":"79509665.65e3b8","type":"mqtt-broker","z":"","name":"local","broker":"brocker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"74dcdab5.83e964","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"683f7eec.5c62c","type":"mqtt-broker","z":"","name":"","broker":"http://10.70.1.86","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ec1a4fd5.087488","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"4","bin":"false","out":"count","addchar":"","responsetimeout":"10000"},{"id":"4df5a172.d77308","type":"influxdb","z":"18b8c7ac.07eee8","hostname":"influxdb","port":"8086","database":"home","name":"aTimeSeries","usetls":false,"tls":""},{"id":"ddc00501.5975f8","type":"shared-state","z":0,"name":"relay1","lbl":"","tags":"","historyCount":"2","dataType":"bool","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"c8491213.eb9958","type":"shared-state","z":0,"name":"relay3","lbl":"","tags":"","historyCount":"2","dataType":"bool","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"b57179f0.c9eaa","type":"shared-state","z":0,"name":"relay2","lbl":"","tags":"","historyCount":"2","dataType":"bool","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"1dc4d413.03488c","type":"shared-state","z":0,"name":"relay4","lbl":"","tags":"","historyCount":"2","dataType":"bool","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"bff6e5d1.24ce68","type":"shared-state","z":0,"name":"data","lbl":"","tags":"","historyCount":"2","dataType":"obj","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"e06ffb1d.7fc6a","type":"shared-state","z":"","name":"chamberState","lbl":"","tags":"","historyCount":"2","dataType":"num","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"435b10b7.ae825","type":"shared-state","z":0,"name":"chamberMode","lbl":"","tags":"","historyCount":"2","dataType":"str","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"4451538c.85ad4c","type":"shared-state","z":0,"name":"roomTemp","lbl":"","tags":"","historyCount":"2","dataType":"num","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":"C"},{"id":"defdd5c9.00f138","type":"shared-state","z":"","name":"setpoint","lbl":"","tags":"","historyCount":"2","dataType":"num","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"1","numMin":"","numMax":"","unit":"C"},{"id":"6084ef9b.c26b6","type":"shared-state","z":0,"name":"chamberTemp","lbl":"","tags":"","historyCount":"2","dataType":"num","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":"C"},{"id":"15fe707b.cbdd78","type":"shared-state","z":0,"name":"heaterFAN","lbl":"","tags":"","historyCount":"2","dataType":"num","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"84d2f720.b81e98","type":"shared-state","z":0,"name":"coolerFAN","lbl":"","tags":"","historyCount":"2","dataType":"num","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"7cc16dfd.c5bd2c","type":"shared-state","z":0,"name":"distance","lbl":"","tags":"","historyCount":"2","dataType":"num","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"7bda2608.497328","type":"shared-state","z":0,"name":"heaterTemp","lbl":"","tags":"","historyCount":"2","dataType":"num","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":"C"},{"id":"3fd19932.a4ee1e","type":"shared-state","z":0,"name":"DAC","lbl":"","tags":"","historyCount":"2","dataType":"num","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"b7f0356b.50c1a","type":"ui_base","z":0,"theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1233e7eb.6fcc78","type":"ui_tab","z":0,"name":"Debug","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"258e5760.ba84a8","type":"ui_tab","z":"","name":"Home","icon":"kitchen","order":1,"disabled":false,"hidden":false},{"id":"47847ae6.02444c","type":"ui_group","z":0,"name":"Default","tab":"1233e7eb.6fcc78","order":1,"disp":true,"width":"6","collapse":false},{"id":"97a76c62.524858","type":"ui_group","z":0,"name":"Debug","tab":"1233e7eb.6fcc78","order":2,"disp":true,"width":"6","collapse":false},{"id":"8f8583e.f5aeb8","type":"ui_group","z":0,"name":"State","tab":"1233e7eb.6fcc78","order":3,"disp":true,"width":"6","collapse":false},{"id":"a4b3d3f.f214ab","type":"ui_group","z":0,"name":"State 2","tab":"1233e7eb.6fcc78","order":4,"disp":true,"width":"6","collapse":false},{"id":"fc3775f5.c6257","type":"ui_group","z":"","name":"PID","tab":"258e5760.ba84a8","order":1,"disp":false,"width":"5","collapse":false},{"id":"2319b05c.b5628","type":"semaphore-config","z":0,"name":"","capacity":"1"},{"id":"813c1d6c.906a2","type":"ui_group","z":"","name":"Group 2","tab":"258e5760.ba84a8","order":2,"disp":false,"width":"5","collapse":false},{"id":"69349bf7.738404","type":"ui_group","z":"","name":"Default","tab":"2e0e0271.64d55e","order":1,"disp":true,"width":"6","collapse":false},{"id":"2e0e0271.64d55e","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"a8983602.60f12","type":"shared-state","z":"","name":"heaterPID","lbl":"","tags":"","historyCount":"2","dataType":"bool","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"89e0f9c6.9f9cf","type":"shared-state","z":"","name":"coolerPID","lbl":"","tags":"","historyCount":"2","dataType":"bool","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"be76bc69.2554b8","type":"inject","z":"18b8c7ac.07eee8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1680,"y":320,"wires":[[]]},{"id":"4c8fe770.a0206","type":"exec","z":"64672e75.03f4a8","command":"python3 ~/bread-tinkerforge/relay.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Relay control","x":790,"y":120,"wires":[[],[],[]]},{"id":"a3d6e8eb.872a3","type":"template","z":"64672e75.03f4a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{topic}} {{payload}}","output":"str","x":420,"y":120,"wires":[["4c8fe770.a0206"]]},{"id":"6a49d89f.1a17e8","type":"mqtt in","z":"c080d81d.548348","name":"","topic":"+/+/+/+/+/chamber/data/roomTemp","qos":"2","datatype":"auto","broker":"74dcdab5.83e964","x":140,"y":120,"wires":[["519dddd5.a6b124"]]},{"id":"464c1ae1.6163b4","type":"mqtt in","z":"c080d81d.548348","name":"","topic":"+/+/+/+/+/chamber/data/chamberTemp","qos":"2","datatype":"auto","broker":"74dcdab5.83e964","x":150,"y":200,"wires":[["3a3d4c6a.26f854"]]},{"id":"4d21aaf7.777404","type":"mqtt in","z":"c080d81d.548348","name":"","topic":"+/+/+/+/+/chamber/data/heaterTemp","qos":"2","datatype":"auto","broker":"74dcdab5.83e964","x":140,"y":280,"wires":[["1814f859.119ea"]]},{"id":"e9bbfe74.dcfd2","type":"mqtt in","z":"c080d81d.548348","name":"","topic":"+/+/+/+/+/chamber/data/distance","qos":"2","datatype":"auto","broker":"74dcdab5.83e964","x":130,"y":360,"wires":[["1a0aeb86.b2dfa4"]]},{"id":"d678235c.eb80c8","type":"switch","z":"d7e822af.c12a4","name":"Target > room Temp","property":"state.setpoint.value","propertyType":"global","rules":[{"t":"gt","v":"state.roomTemp.value","vt":"global"},{"t":"lte","v":"state.roomTemp.value","vt":"global"}],"checkall":"true","repair":false,"outputs":2,"x":540,"y":80,"wires":[["1114f61e.326d72"],["3fbef295.3cfd7e"]]},{"id":"21a843b4.1c08c4","type":"inject","z":"262612fb.7fef96","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":200,"wires":[[]]},{"id":"c535bf3e.e05d58","type":"switch","z":"262612fb.7fef96","name":"If mode heating","property":"state.chamberMode.value","propertyType":"global","rules":[{"t":"eq","v":"heating","vt":"str"},{"t":"eq","v":"cooling","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":160,"wires":[["98185b60.7616f"],["ac792a78.cec708","6dfa19aa.99285"]]},{"id":"4a072629.46f6c8","type":"switch","z":"262612fb.7fef96","name":"If state IDLE","property":"state.chamberState.value","propertyType":"global","rules":[{"t":"eq","v":"IDLE","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":260,"wires":[["ae8c8725.b155e"]]},{"id":"ac792a78.cec708","type":"change","z":"262612fb.7fef96","name":"Cooler FAN to 200","rules":[{"t":"set","p":"payload","pt":"msg","to":"200","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":220,"wires":[["91f90269.04cf8"]]},{"id":"98185b60.7616f","type":"change","z":"262612fb.7fef96","name":"Cooler FAN to 200","rules":[{"t":"set","p":"payload","pt":"msg","to":"150","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":160,"wires":[["91f90269.04cf8"]]},{"id":"3fbef295.3cfd7e","type":"change","z":"d7e822af.c12a4","name":"cooling","rules":[{"t":"set","p":"payload","pt":"msg","to":"cooling","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":120,"wires":[["281682f5.67d356"]]},{"id":"1114f61e.326d72","type":"change","z":"d7e822af.c12a4","name":"heating","rules":[{"t":"set","p":"payload","pt":"msg","to":"heating","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":60,"wires":[["cb667770.e43778"]]},{"id":"519dddd5.a6b124","type":"json","z":"c080d81d.548348","name":"","property":"payload","action":"","pretty":false,"x":390,"y":120,"wires":[["74f57265.f82724"]]},{"id":"74f57265.f82724","type":"change","z":"c080d81d.548348","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.temperature/100","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":120,"wires":[["17abac16.668be4"]]},{"id":"3a3d4c6a.26f854","type":"json","z":"c080d81d.548348","name":"","property":"payload","action":"","pretty":false,"x":410,"y":200,"wires":[["b1bdd7c1.448ec"]]},{"id":"1814f859.119ea","type":"json","z":"c080d81d.548348","name":"","property":"payload","action":"","pretty":false,"x":390,"y":280,"wires":[["f5a51b2b.e15118"]]},{"id":"1a0aeb86.b2dfa4","type":"json","z":"c080d81d.548348","name":"","property":"payload","action":"","pretty":false,"x":370,"y":360,"wires":[["633b83d9.9c207c"]]},{"id":"b1bdd7c1.448ec","type":"change","z":"c080d81d.548348","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.temperature/100","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":200,"wires":[["1bb22e0e.5a2d4a"]]},{"id":"f5a51b2b.e15118","type":"change","z":"c080d81d.548348","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.temperature/100","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":280,"wires":[["9582e8db.d8e608"]]},{"id":"633b83d9.9c207c","type":"change","z":"c080d81d.548348","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.distance","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":360,"wires":[["918c5608.5db458"]]},{"id":"ae8c8725.b155e","type":"change","z":"262612fb.7fef96","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":340,"wires":[["9291b804.1789e8","91f90269.04cf8"]]},{"id":"6dfa19aa.99285","type":"change","z":"262612fb.7fef96","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"255","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":260,"wires":[["9291b804.1789e8"]]},{"id":"30026e01.59ef02","type":"function","z":"a2c4834c.e7fa58","name":"30 sec RC + 20","func":"// Applies a simple RC low pass filter to incoming payload values\nvar tc = 30*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue + 20;\nreturn msg;","outputs":1,"noerr":0,"x":626.5,"y":207,"wires":[["9d2669f1.f67b38"]]},{"id":"fcdbb78b.ec6bb8","type":"inject","z":"a2c4834c.e7fa58","name":"Inject -0.2 at start","repeat":"","crontab":"","once":true,"topic":"","payload":"-0.2","payloadType":"num","x":134.5,"y":30,"wires":[["6d70d582.40d7cc"]]},{"id":"d2f1bf16.20b18","type":"function","z":"a2c4834c.e7fa58","name":"10 sec RC","func":"// Applies a simple RC low pass filter to incoming payload values\nvar tc = 10*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue;\nreturn msg;","outputs":1,"noerr":0,"x":451,"y":207,"wires":[["30026e01.59ef02"]]},{"id":"6d70d582.40d7cc","type":"delay","z":"a2c4834c.e7fa58","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":268,"y":104,"wires":[["7e41515a.444e38"]]},{"id":"48bba734.cb2b7","type":"function","z":"a2c4834c.e7fa58","name":"2 msg transport delay","func":"// stores messages in a fifo until the specified number have been received, \n// then releases them as new messages are received.\n// during the filling phase the earliest message is passed on each time \n// a message is received, but it is also left in the fifo\nvar fifoMaxLength = 2;\nvar fifo = context.get('fifo') || [];\n// push the new message onto the top of the array, messages are shifted down and\n// drop off the front\nvar length = fifo.push(msg);  // returns new length\nif (length > fifoMaxLength) {\n    newMsg = fifo.shift();\n} else {\n    // not full yet, make a copy of the msg and pass it on\n    var newMsg = JSON.parse(JSON.stringify(fifo[0]));\n}\ncontext.set('fifo', fifo);\nreturn newMsg;","outputs":1,"noerr":0,"x":258,"y":208,"wires":[["d2f1bf16.20b18"]]},{"id":"9d2669f1.f67b38","type":"function","z":"a2c4834c.e7fa58","name":"Clear all except payload","func":"msg2 = {payload: msg.payload};\nreturn msg2;","outputs":1,"noerr":0,"x":545,"y":293,"wires":[[]]},{"id":"7e41515a.444e38","type":"range","z":"a2c4834c.e7fa58","minin":"0","maxin":"1","minout":"0","maxout":"100","action":"scale","round":false,"name":"","x":87,"y":208,"wires":[["48bba734.cb2b7"]]},{"id":"7bb1e955.a8d99","type":"range","z":"d7e822af.c12a4","minin":"0","maxin":"1","minout":"1700","maxout":"1900","action":"scale","round":false,"property":"payload","name":"","x":1150,"y":880,"wires":[["f095adee.1b77c"]]},{"id":"a4506f1b.f1adb8","type":"mqtt out","z":"d7e822af.c12a4","name":"","topic":"","qos":"","retain":"","broker":"74dcdab5.83e964","x":1370,"y":820,"wires":[]},{"id":"97674649.be05e8","type":"function","z":"d7e822af.c12a4","name":"","func":"\nvar data = {};\ndata.pv = msg.pv;\ndata.proportional= msg.proportional;\ndata.integral = msg.instegral;\ndata.derivative = msg.derivative;\ndata.smothed_value= msg.smothed_value;\ndata.PID = msg.payload;\nmsg.payload= data;\nmsg.topic=\"PID/cooling\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":820,"wires":[["a4506f1b.f1adb8"]]},{"id":"d9796f07.209298","type":"change","z":"64672e75.03f4a8","name":"Prepare message for relay","rules":[{"t":"change","p":"topic","pt":"msg","from":"relay","fromt":"str","to":"state/relay","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.state","pt":"msg","to":"value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":280,"wires":[["e33b4447.edd14"]]},{"id":"2edb92ac.0ac33e","type":"mqtt out","z":"64672e75.03f4a8","name":"","topic":"","qos":"","retain":"","broker":"74dcdab5.83e964","x":1150,"y":280,"wires":[]},{"id":"7392209e.bcb3e","type":"switch","z":"64672e75.03f4a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":280,"wires":[["dc72ebdb.0ab3b"],["d7452f76.e27978"]]},{"id":"d7452f76.e27978","type":"change","z":"64672e75.03f4a8","name":"","rules":[{"t":"set","p":"value","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":300,"wires":[["d9796f07.209298"]]},{"id":"dc72ebdb.0ab3b","type":"change","z":"64672e75.03f4a8","name":"","rules":[{"t":"set","p":"value","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":240,"wires":[["d9796f07.209298"]]},{"id":"e33b4447.edd14","type":"json","z":"64672e75.03f4a8","name":"","property":"payload","action":"","pretty":false,"x":970,"y":280,"wires":[["2edb92ac.0ac33e"]]},{"id":"1e8f4cd1.7b9e23","type":"change","z":"64672e75.03f4a8","name":"Prepare message for DAC","rules":[{"t":"set","p":"temp","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.DAC","pt":"msg","to":"temp","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"state/DAC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":380,"wires":[["e33b4447.edd14"]]},{"id":"b56e2773.31a2c8","type":"inject","z":"c080d81d.548348","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"4","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":680,"wires":[["8281097c.662558","39d7cb78.f294ec","8b24da22.64019","951c2117.6da39","c9c4189a.75f2c","2f25ad6f.d8f582"]]},{"id":"a78c11d9.9d329","type":"mqtt out","z":"c080d81d.548348","name":"","topic":"","qos":"","retain":"","broker":"74dcdab5.83e964","x":930,"y":660,"wires":[]},{"id":"3bf4ab79.fee764","type":"json","z":"c080d81d.548348","name":"","property":"payload","action":"","pretty":false,"x":750,"y":660,"wires":[["a78c11d9.9d329"]]},{"id":"8281097c.662558","type":"change","z":"c080d81d.548348","name":"Prepare message for relay 1","rules":[{"t":"set","p":"topic","pt":"msg","to":"state/relay1","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.state","pt":"msg","to":"state.relay1.value","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":640,"wires":[["3bf4ab79.fee764"]]},{"id":"39d7cb78.f294ec","type":"change","z":"c080d81d.548348","name":"Prepare message for relay 2","rules":[{"t":"set","p":"topic","pt":"msg","to":"state/relay2","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.state","pt":"msg","to":"state.relay2.value","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":700,"wires":[["3bf4ab79.fee764"]]},{"id":"8b24da22.64019","type":"change","z":"c080d81d.548348","name":"Prepare message for relay 3","rules":[{"t":"set","p":"topic","pt":"msg","to":"state/relay3","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.state","pt":"msg","to":"state.relay3.value","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":760,"wires":[["3bf4ab79.fee764"]]},{"id":"951c2117.6da39","type":"change","z":"c080d81d.548348","name":"Prepare message for relay 4","rules":[{"t":"set","p":"topic","pt":"msg","to":"state/relay4","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.state","pt":"msg","to":"state.relay4.value","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":800,"wires":[["3bf4ab79.fee764"]]},{"id":"c9c4189a.75f2c","type":"change","z":"c080d81d.548348","name":"Prepare message for DAC","rules":[{"t":"set","p":"topic","pt":"msg","to":"state/DAC","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.DAC","pt":"msg","to":"state.DAC.value","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":940,"wires":[["3bf4ab79.fee764"]]},{"id":"6a03f1fe.07ee6","type":"change","z":"d7e822af.c12a4","name":"Enable","rules":[{"t":"set","p":"enable","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"setpoint","pt":"msg","to":"state.setpoint.value","tot":"global"},{"t":"set","p":"state.heaterPID.value","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":440,"wires":[["a3d4333b.6db588"]]},{"id":"a1ee4f29.bb8d38","type":"function","z":"d7e822af.c12a4","name":"","func":"\nvar data = {};\ndata.pv = msg.pv;\ndata.proportional= msg.proportional;\ndata.integral = msg.instegral;\ndata.derivative = msg.derivative;\ndata.smothed_value= msg.smothed_value;\ndata.PID = msg.payload;\nmsg.payload= data;\nmsg.topic=\"PID/heating\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":960,"wires":[["a4506f1b.f1adb8"]]},{"id":"1ee5d6c.4e64429","type":"range","z":"d7e822af.c12a4","minin":"0","maxin":"1","minout":"2200","maxout":"1700","action":"scale","round":false,"property":"payload","name":"","x":1130,"y":1020,"wires":[["f095adee.1b77c"]]},{"id":"2f25ad6f.d8f582","type":"change","z":"c080d81d.548348","name":"Prepare message for setpoint","rules":[{"t":"set","p":"topic","pt":"msg","to":"state/setpoint","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.setpoint","pt":"msg","to":"state.setpoint.value","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":980,"wires":[["3bf4ab79.fee764"]]},{"id":"3288ec43.4f261c","type":"debug","z":"c080d81d.548348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":580,"wires":[]},{"id":"93fb3f24.682bf","type":"switch","z":"d7e822af.c12a4","name":"If PID = 0","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"0.1","vt":"num"},{"t":"gt","v":"0.1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1000,"y":1060,"wires":[["c66d9bf6.ffa0c8"],["5366782c.f71b2"]]},{"id":"c66d9bf6.ffa0c8","type":"change","z":"d7e822af.c12a4","name":"2","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":1040,"wires":[["b4f615d6.3463e8"]]},{"id":"5366782c.f71b2","type":"change","z":"d7e822af.c12a4","name":"3","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":1180,"wires":[["b4f615d6.3463e8"]]},{"id":"bf75b64e.6b2288","type":"function","z":"315f1781.9b8a","name":"30 sec RC + 20","func":"// Applies a simple RC low pass filter to incoming payload values\nvar tc = 30*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue + 20;\nreturn msg;","outputs":1,"noerr":0,"x":626.5,"y":207,"wires":[["d18bc720.8a5f48"]]},{"id":"8b13dab8.5b111","type":"inject","z":"315f1781.9b8a","name":"Inject -0.2 at start","repeat":"","crontab":"","once":true,"topic":"","payload":"-0.2","payloadType":"num","x":134.5,"y":30,"wires":[["7572c66e.a49098"]]},{"id":"6a59c527.82190c","type":"function","z":"315f1781.9b8a","name":"10 sec RC","func":"// Applies a simple RC low pass filter to incoming payload values\nvar tc = 10*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue;\nreturn msg;","outputs":1,"noerr":0,"x":451,"y":207,"wires":[["bf75b64e.6b2288"]]},{"id":"7572c66e.a49098","type":"delay","z":"315f1781.9b8a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":268,"y":104,"wires":[["f06fb8ea.421cd"]]},{"id":"7febaf3c.f11928","type":"function","z":"315f1781.9b8a","name":"2 msg transport delay","func":"// stores messages in a fifo until the specified number have been received, \n// then releases them as new messages are received.\n// during the filling phase the earliest message is passed on each time \n// a message is received, but it is also left in the fifo\nvar fifoMaxLength = 2;\nvar fifo = context.get('fifo') || [];\n// push the new message onto the top of the array, messages are shifted down and\n// drop off the front\nvar length = fifo.push(msg);  // returns new length\nif (length > fifoMaxLength) {\n    newMsg = fifo.shift();\n} else {\n    // not full yet, make a copy of the msg and pass it on\n    var newMsg = JSON.parse(JSON.stringify(fifo[0]));\n}\ncontext.set('fifo', fifo);\nreturn newMsg;","outputs":1,"noerr":0,"x":258,"y":208,"wires":[["6a59c527.82190c"]]},{"id":"d18bc720.8a5f48","type":"function","z":"315f1781.9b8a","name":"Clear all except payload","func":"msg2 = {payload: msg.payload};\nreturn msg2;","outputs":1,"noerr":0,"x":545,"y":293,"wires":[[]]},{"id":"f06fb8ea.421cd","type":"range","z":"315f1781.9b8a","minin":"0","maxin":"1","minout":"0","maxout":"100","action":"scale","round":false,"name":"","x":87,"y":208,"wires":[["7febaf3c.f11928"]]},{"id":"850d8f8b.df11f8","type":"inject","z":"d7e822af.c12a4","name":"Send chamber temp","props":[{"p":"payload"},{"p":"setpoint","v":"state.setpoint.value","vt":"global"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"state.chamberTemp.value","payloadType":"global","x":100,"y":240,"wires":[["f9574f52.8fd858"]]},{"id":"f9574f52.8fd858","type":"switch","z":"d7e822af.c12a4","name":"","property":"state.chamberState.value","propertyType":"global","rules":[{"t":"gt","v":"1","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":400,"wires":[["156abe84.ea5089"],["6aa10673.5907b8"]]},{"id":"6aa10673.5907b8","type":"change","z":"d7e822af.c12a4","name":"Disable","rules":[{"t":"set","p":"enable","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"test","pt":"msg","to":"0","tot":"str"},{"t":"set","p":"state.coolerPID.value","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"state.heaterPID.value","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":500,"wires":[["a3d4333b.6db588","596ca967.814d6"]]},{"id":"b8501db0.ea874","type":"change","z":"d7e822af.c12a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"setpoint+setpoint-payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":360,"wires":[["596ca967.814d6"]]},{"id":"156abe84.ea5089","type":"switch","z":"d7e822af.c12a4","name":"","property":"state.chamberMode.value","propertyType":"global","rules":[{"t":"eq","v":"cooling","vt":"str"},{"t":"eq","v":"heating","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":320,"wires":[["7ac50680.a033c","c24bb1e5.e7b27"],["cf613a24.25223","6a03f1fe.07ee6"]]},{"id":"c24bb1e5.e7b27","type":"change","z":"d7e822af.c12a4","name":"Enable","rules":[{"t":"set","p":"enable","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"setpoint","pt":"msg","to":"state.setpoint.value","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"setpoint+setpoint-payload","tot":"jsonata"},{"t":"set","p":"state.coolerPID.value","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":320,"wires":[["b8501db0.ea874"]]},{"id":"cf613a24.25223","type":"change","z":"d7e822af.c12a4","name":"Disable","rules":[{"t":"set","p":"enable","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"state.coolerPID.value","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":400,"wires":[["596ca967.814d6"]]},{"id":"7ac50680.a033c","type":"change","z":"d7e822af.c12a4","name":"Disable","rules":[{"t":"set","p":"enable","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"state.heaterPID.value","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":280,"wires":[["a3d4333b.6db588"]]},{"id":"ae3137f7.fc82d","type":"debug","z":"f3388dca.68aa58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1230,"y":420,"wires":[]},{"id":"6b3bc3fc.9f00a4","type":"serial in","z":"f3388dca.68aa58","name":"","serial":"ec1a4fd5.087488","x":210,"y":200,"wires":[["19f65c50.933f64"]]},{"id":"fe51aa72.2f3fa8","type":"serial out","z":"f3388dca.68aa58","name":"","serial":"ec1a4fd5.087488","x":940,"y":320,"wires":[]},{"id":"19f65c50.933f64","type":"switch","z":"f3388dca.68aa58","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"SHUT","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":200,"wires":[[]]},{"id":"78a91a0a.09e144","type":"mqtt in","z":"f3388dca.68aa58","name":"","topic":"+/+/+/+/+/chamber/data/chamberTemp","qos":"2","datatype":"auto","broker":"74dcdab5.83e964","x":150,"y":280,"wires":[["67ea752.88f2b0c","7b64e413.ab1234","8ed599a0.780228"]]},{"id":"67ea752.88f2b0c","type":"change","z":"f3388dca.68aa58","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[0]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":300,"wires":[[]]},{"id":"7b64e413.ab1234","type":"trigger","z":"f3388dca.68aa58","name":"","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"20","extend":true,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":450,"y":420,"wires":[["5e56dbea.04ddfc"]]},{"id":"5e56dbea.04ddfc","type":"exec","z":"f3388dca.68aa58","command":"sudo systemctl restart tinkerforge_mqtt.service","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":870,"y":440,"wires":[["ae3137f7.fc82d"],["ae3137f7.fc82d"],[]]},{"id":"efbcaa12.9859f","type":"inject","z":"f3388dca.68aa58","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":140,"y":420,"wires":[["c9de36e4.6c62e","82e0509d.446518"]]},{"id":"c9de36e4.6c62e","type":"switch","z":"f3388dca.68aa58","name":"If chamber temp > 35","property":"state.chamberTemp.value","propertyType":"global","rules":[{"t":"gt","v":"45","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":380,"y":520,"wires":[["9a4649cc.d8b6b8"]]},{"id":"9a4649cc.d8b6b8","type":"change","z":"f3388dca.68aa58","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[9]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":520,"wires":[["fe51aa72.2f3fa8"]]},{"id":"b87c4996.042d98","type":"exec","z":"f3388dca.68aa58","command":"sudo shutdown now","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1120,"y":220,"wires":[[],[],[]]},{"id":"e8736c8e.4bf1b","type":"change","z":"18b8c7ac.07eee8","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"[9]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":380,"wires":[["4ef20a2.dfce174"]]},{"id":"2caf95aa.06a26a","type":"debug","z":"f3388dca.68aa58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":140,"wires":[]},{"id":"4ef20a2.dfce174","type":"link out","z":"18b8c7ac.07eee8","name":"send-switch-off","links":["e3b617d9.1e80f"],"x":1005,"y":460,"wires":[]},{"id":"e3b617d9.1e80f","type":"link in","z":"f3388dca.68aa58","name":"","links":["4ef20a2.dfce174"],"x":515,"y":360,"wires":[["fe51aa72.2f3fa8"]]},{"id":"8b5f0739.8b1208","type":"mqtt in","z":"f3388dca.68aa58","name":"","topic":"#","qos":"2","datatype":"auto","broker":"74dcdab5.83e964","x":1190,"y":640,"wires":[[]]},{"id":"7dcf3a85.ee4254","type":"switch","z":"f3388dca.68aa58","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"ERROR","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":560,"wires":[[]]},{"id":"96abff63.db6988","type":"mqtt out","z":"b684933e.5cf9f8","name":"","topic":"","qos":"","retain":"","broker":"74dcdab5.83e964","x":850,"y":100,"wires":[]},{"id":"f4d6bd54.affe8","type":"change","z":"b684933e.5cf9f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"color\":\"white\"}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"tinkerforge/request/e_paper_296x128_bricklet/LwN/fill_display","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":100,"wires":[["96abff63.db6988","cf4df6db.582f8"]]},{"id":"ad8634de.39028","type":"inject","z":"b684933e.5cf9f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":100,"wires":[["f4d6bd54.affe8"]]},{"id":"a6471dbe.e300a","type":"debug","z":"b684933e.5cf9f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":220,"wires":[]},{"id":"4a78f7a0.6ffdf","type":"change","z":"b684933e.5cf9f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"color\":\"white\"}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"tinkerforge/request/e_paper_296x128_bricklet/LwN/draw","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":200,"wires":[["96abff63.db6988"]]},{"id":"c5abb206.6af35","type":"inject","z":"b684933e.5cf9f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":300,"wires":[["f92ee7a1.bbae2"]]},{"id":"2a70eda8.7553ba","type":"change","z":"b684933e.5cf9f8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"tinkerforge/request/e_paper_296x128_bricklet/LwN/draw_text","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"position_x\":6,\"position_y\":200,\"font\":\"24x32\",\"color\":\"black\",\"orientation\":\"horizontal\",\"text\":\"20/23\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":340,"wires":[["a6471dbe.e300a","cf4df6db.582f8","96abff63.db6988"]]},{"id":"cf4df6db.582f8","type":"delay","z":"b684933e.5cf9f8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":140,"wires":[["4a78f7a0.6ffdf"]]},{"id":"f92ee7a1.bbae2","type":"change","z":"b684933e.5cf9f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"color\":\"white\"}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"tinkerforge/request/e_paper_296x128_bricklet/LwN/fill_display","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":280,"wires":[["96abff63.db6988","2a70eda8.7553ba"]]},{"id":"a685162b.51345","type":"inject","z":"64672e75.03f4a8","name":"Paper initiate","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"","payloadType":"date","x":280,"y":860,"wires":[[]]},{"id":"108e9856.4a1578","type":"mqtt out","z":"64672e75.03f4a8","name":"","topic":"","qos":"","retain":"","broker":"74dcdab5.83e964","x":1130,"y":840,"wires":[]},{"id":"ecc0623d.1b9d68","type":"change","z":"64672e75.03f4a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"color\":\"white\"}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"tinkerforge/request/e_paper_296x128_bricklet/LwN/fill_display","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":860,"wires":[["108e9856.4a1578","a25eb1c4.b39b78"]]},{"id":"e16a33fc.62b038","type":"change","z":"64672e75.03f4a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"color\":\"white\"}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"tinkerforge/request/e_paper_296x128_bricklet/LwN/draw","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":960,"wires":[["108e9856.4a1578"]]},{"id":"a25eb1c4.b39b78","type":"delay","z":"64672e75.03f4a8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":900,"wires":[["e16a33fc.62b038"]]},{"id":"9bc897c7.273c6","type":"inject","z":"64672e75.03f4a8","name":"Paper update","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"120","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":960,"wires":[[]]},{"id":"f4c31b4a.411968","type":"change","z":"64672e75.03f4a8","name":"","rules":[{"t":"set","p":"setpoint","pt":"msg","to":"state.setpoint.value","tot":"global"},{"t":"set","p":"chamber","pt":"msg","to":"state.chamberTemp.value","tot":"global"},{"t":"set","p":"state","pt":"msg","to":"state.chamberState.value","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1000,"wires":[["27e51d40.9e02d2"]]},{"id":"27e51d40.9e02d2","type":"template","z":"64672e75.03f4a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{setpoint}} {{chamber}} {{state}}","output":"str","x":500,"y":1000,"wires":[["8036e421.f8b8c8","c4c9770c.ccc0b"]]},{"id":"8036e421.f8b8c8","type":"exec","z":"64672e75.03f4a8","command":"python3 ~/bread-tinkerforge/paper.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"paper control","x":1020,"y":1020,"wires":[[],[],[]]},{"id":"c4c9770c.ccc0b","type":"debug","z":"64672e75.03f4a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":1140,"wires":[]},{"id":"596ca967.814d6","type":"PID","z":"d7e822af.c12a4","name":"Cooler PID","setpoint":21,"pb":"0","ti":9999,"td":0,"integral_default":"0.1","smooth_factor":3,"max_interval":600,"enable":"0","disabled_op":0,"x":810,"y":420,"wires":[["7a372047.0c825"]]},{"id":"a3d4333b.6db588","type":"PID","z":"d7e822af.c12a4","name":"Heater PID","setpoint":21,"pb":"1.4","ti":"1500","td":0,"integral_default":"0.1","smooth_factor":3,"max_interval":600,"enable":"0","disabled_op":0,"x":790,"y":580,"wires":[["67048c6a.78d4bc"]]},{"id":"1ce3c7b3.9d5738","type":"set-shared-state","z":"18b8c7ac.07eee8","state":"ddc00501.5975f8","name":"relay1","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":730,"y":580,"wires":[]},{"id":"8eef0fa8.a2597","type":"set-shared-state","z":"18b8c7ac.07eee8","state":"b57179f0.c9eaa","name":"relay2","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":730,"y":640,"wires":[]},{"id":"ac8bc086.6794","type":"set-shared-state","z":"18b8c7ac.07eee8","state":"c8491213.eb9958","name":"relay3","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":730,"y":680,"wires":[]},{"id":"e396ceba.b23788","type":"set-shared-state","z":"18b8c7ac.07eee8","state":"1dc4d413.03488c","name":"relay4","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":730,"y":720,"wires":[]},{"id":"2f1963d8.e2c8b4","type":"set-shared-state","z":"18b8c7ac.07eee8","state":"e06ffb1d.7fc6a","name":"chamberState","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":820,"y":320,"wires":[]},{"id":"9db1a745.e4a1e8","type":"set-shared-state","z":"18b8c7ac.07eee8","state":"e06ffb1d.7fc6a","name":"chamberState","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":800,"y":240,"wires":[]},{"id":"49589999.04ef2","type":"set-shared-state","z":"18b8c7ac.07eee8","state":"defdd5c9.00f138","name":"setpoint","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":780,"y":180,"wires":[]},{"id":"918c5608.5db458","type":"set-shared-state","z":"c080d81d.548348","state":"7cc16dfd.c5bd2c","name":"distance","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":800,"y":360,"wires":[]},{"id":"9582e8db.d8e608","type":"set-shared-state","z":"c080d81d.548348","state":"7bda2608.497328","name":"heaterTemp","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":790,"y":280,"wires":[]},{"id":"1bb22e0e.5a2d4a","type":"set-shared-state","z":"c080d81d.548348","state":"6084ef9b.c26b6","name":"chamberTemp","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":800,"y":200,"wires":[]},{"id":"17abac16.668be4","type":"set-shared-state","z":"c080d81d.548348","state":"4451538c.85ad4c","name":"roomTemp","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":750,"y":120,"wires":[]},{"id":"6e474a8a.4696a4","type":"set-shared-state","z":"18b8c7ac.07eee8","state":"3fd19932.a4ee1e","name":"DAC","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":690,"y":800,"wires":[]},{"id":"281682f5.67d356","type":"set-shared-state","z":"d7e822af.c12a4","state":"435b10b7.ae825","name":"chamberMode","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":1040,"y":120,"wires":[]},{"id":"91f90269.04cf8","type":"set-shared-state","z":"262612fb.7fef96","state":"84d2f720.b81e98","name":"coolerFAN","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":1170,"y":200,"wires":[]},{"id":"9291b804.1789e8","type":"set-shared-state","z":"262612fb.7fef96","state":"15fe707b.cbdd78","name":"heaterFAN","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":1210,"y":300,"wires":[]},{"id":"f095adee.1b77c","type":"set-shared-state","z":"d7e822af.c12a4","state":"3fd19932.a4ee1e","name":"DAC","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":1410,"y":960,"wires":[]},{"id":"a3f4cfa0.4c2fd8","type":"get-shared-state","z":"64672e75.03f4a8","state":"ddc00501.5975f8","name":"relay1","triggerOnInit":true,"x":110,"y":120,"wires":[["a3d6e8eb.872a3"]]},{"id":"fff30cf1.14895","type":"get-shared-state","z":"64672e75.03f4a8","state":"b57179f0.c9eaa","name":"relay2","triggerOnInit":true,"x":110,"y":180,"wires":[["a3d6e8eb.872a3"]]},{"id":"304ad8a6.a5415","type":"get-shared-state","z":"64672e75.03f4a8","state":"c8491213.eb9958","name":"relay3","triggerOnInit":true,"x":110,"y":240,"wires":[["a3d6e8eb.872a3"]]},{"id":"b6b19ed8.4b369","type":"get-shared-state","z":"64672e75.03f4a8","state":"1dc4d413.03488c","name":"relay4","triggerOnInit":true,"x":110,"y":300,"wires":[["a3d6e8eb.872a3"]]},{"id":"e20d799d.7e8f18","type":"get-shared-state","z":"d7e822af.c12a4","state":"e06ffb1d.7fc6a","name":"chamberState","triggerOnInit":true,"x":70,"y":60,"wires":[["4bc853ce.08eac4"]]},{"id":"a333f935.428908","type":"get-shared-state","z":"c080d81d.548348","state":"e06ffb1d.7fc6a","name":"chamberState","triggerOnInit":true,"x":290,"y":480,"wires":[["7fd27d8a.bcbbf4"]]},{"id":"11be11a2.727b5e","type":"get-shared-state","z":"c080d81d.548348","state":"defdd5c9.00f138","name":"setpoint","triggerOnInit":true,"x":270,"y":560,"wires":[["91397816.339fe8"]]},{"id":"6548dc38.868a44","type":"get-shared-state","z":"c080d81d.548348","state":"7cc16dfd.c5bd2c","name":"distance","triggerOnInit":true,"x":1000,"y":360,"wires":[["7ed7f97c.15ae4"]]},{"id":"7f71b06f.1dbde","type":"get-shared-state","z":"c080d81d.548348","state":"6084ef9b.c26b6","name":"chamberTemp","triggerOnInit":true,"x":1040,"y":200,"wires":[["718c84c2.7e250c"]]},{"id":"282f76de.2287ca","type":"get-shared-state","z":"c080d81d.548348","state":"4451538c.85ad4c","name":"roomTemp","triggerOnInit":true,"x":920,"y":120,"wires":[["5acae9e9.867408"]]},{"id":"ddaa2721.6d98a","type":"get-shared-state","z":"64672e75.03f4a8","state":"3fd19932.a4ee1e","name":"DAC","triggerOnInit":true,"x":150,"y":360,"wires":[["1e8f4cd1.7b9e23"]]},{"id":"8e1f6ff7.d2bf8","type":"get-shared-state","z":"c080d81d.548348","state":"3fd19932.a4ee1e","name":"DAC","triggerOnInit":true,"x":850,"y":460,"wires":[["621e6eb8.feb82"]]},{"id":"5ed6831d.43f904","type":"get-shared-state","z":"18b8c7ac.07eee8","state":"ddc00501.5975f8","name":"relay1","triggerOnInit":true,"x":240,"y":600,"wires":[["7349f45.777760c"]]},{"id":"99d370b6.0352a8","type":"get-shared-state","z":"18b8c7ac.07eee8","state":"b57179f0.c9eaa","name":"relay2","triggerOnInit":true,"x":240,"y":660,"wires":[["bdc3a7cc.6ca24"]]},{"id":"e2296a40.adbd08","type":"get-shared-state","z":"18b8c7ac.07eee8","state":"defdd5c9.00f138","name":"setpoint","triggerOnInit":true,"x":230,"y":180,"wires":[["733b3cd.a2b6944"]]},{"id":"d3770024.219b48","type":"get-shared-state","z":"18b8c7ac.07eee8","state":"3fd19932.a4ee1e","name":"DAC","triggerOnInit":true,"x":250,"y":840,"wires":[["51d9b5f6.707fb4"]]},{"id":"7349f45.777760c","type":"ui_switch","z":"18b8c7ac.07eee8","name":"","label":"Relay 1","tooltip":"","group":"97a76c62.524858","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":500,"y":580,"wires":[["1ce3c7b3.9d5738"]]},{"id":"bdc3a7cc.6ca24","type":"ui_switch","z":"18b8c7ac.07eee8","name":"","label":"Relay 2","tooltip":"","group":"97a76c62.524858","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"photon/cmd/Relay","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":500,"y":640,"wires":[["8eef0fa8.a2597"]]},{"id":"f7712ba5.1fd7e","type":"ui_switch","z":"18b8c7ac.07eee8","name":"","label":"Relay 3","tooltip":"","group":"97a76c62.524858","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"photon/cmd/Relay","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":520,"y":680,"wires":[["ac8bc086.6794"]]},{"id":"d1480c9f.812f98","type":"ui_switch","z":"18b8c7ac.07eee8","name":"","label":"Relay 4","tooltip":"","group":"97a76c62.524858","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"photon/cmd/Relay","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":500,"y":740,"wires":[["e396ceba.b23788"]]},{"id":"ab18f573.78581","type":"ui_button","z":"18b8c7ac.07eee8","name":"","group":"47847ae6.02444c","order":2,"width":0,"height":0,"passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"","x":530,"y":320,"wires":[["2f1963d8.e2c8b4"]]},{"id":"43953858.aaf258","type":"ui_button","z":"18b8c7ac.07eee8","name":"","group":"47847ae6.02444c","order":3,"width":0,"height":0,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":530,"y":240,"wires":[["9db1a745.e4a1e8"]]},{"id":"eb7dc749.104ee8","type":"ui_button","z":"18b8c7ac.07eee8","name":"","group":"47847ae6.02444c","order":4,"width":0,"height":0,"passthru":false,"label":"Switch OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":550,"y":380,"wires":[["9db1a745.e4a1e8","e8736c8e.4bf1b"]]},{"id":"718c84c2.7e250c","type":"ui_gauge","z":"c080d81d.548348","name":"","group":"8f8583e.f5aeb8","order":1,"width":0,"height":0,"gtype":"gage","title":"Chamber Temp","label":"units","format":"{{value}}","min":"10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1220,"y":200,"wires":[]},{"id":"5acae9e9.867408","type":"ui_gauge","z":"c080d81d.548348","name":"","group":"8f8583e.f5aeb8","order":2,"width":0,"height":0,"gtype":"gage","title":"Room Temp","label":"units","format":"{{value}}","min":"15","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1150,"y":120,"wires":[]},{"id":"91397816.339fe8","type":"ui_gauge","z":"c080d81d.548348","name":"","group":"8f8583e.f5aeb8","order":3,"width":0,"height":0,"gtype":"gage","title":"Setpoint","label":"units","format":"{{value}}","min":"10","max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":540,"wires":[]},{"id":"7ed7f97c.15ae4","type":"ui_text","z":"c080d81d.548348","group":"8f8583e.f5aeb8","order":4,"width":0,"height":0,"name":"","label":"Distance","format":"{{msg.payload}}","layout":"row-spread","x":1200,"y":360,"wires":[]},{"id":"621e6eb8.feb82","type":"ui_text","z":"c080d81d.548348","group":"8f8583e.f5aeb8","order":4,"width":0,"height":0,"name":"","label":"DAC","format":"{{msg.payload}}","layout":"row-spread","x":1190,"y":460,"wires":[]},{"id":"7fd27d8a.bcbbf4","type":"ui_text","z":"c080d81d.548348","group":"a4b3d3f.f214ab","order":4,"width":0,"height":0,"name":"","label":"State","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":460,"wires":[]},{"id":"733b3cd.a2b6944","type":"ui_numeric","z":"18b8c7ac.07eee8","name":"","label":"Target temperature","tooltip":"","group":"47847ae6.02444c","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"10","max":"40","step":"0.5","x":550,"y":180,"wires":[["49589999.04ef2"]]},{"id":"51d9b5f6.707fb4","type":"ui_numeric","z":"18b8c7ac.07eee8","name":"","label":"DAC","tooltip":"","group":"97a76c62.524858","order":7,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"photon/cmd/DAC","format":"{{value}}","min":"1500","max":"3300","step":"1","x":510,"y":800,"wires":[["6e474a8a.4696a4"]]},{"id":"41d1c161.f26de8","type":"ui_button","z":"b684933e.5cf9f8","name":"","group":"fc3775f5.c6257","order":0,"width":"5","height":"2","passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"CONST","payloadType":"str","topic":"","x":990,"y":420,"wires":[["208b3e82.5a0932"]]},{"id":"5a2d2d01.051c9c","type":"ui_button","z":"b684933e.5cf9f8","name":"","group":"fc3775f5.c6257","order":0,"width":"5","height":"2","passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"IDLE","payloadType":"str","topic":"","x":990,"y":480,"wires":[["208b3e82.5a0932"]]},{"id":"82eb62fa.17d0c","type":"ui_numeric","z":"b684933e.5cf9f8","name":"","label":"Target temperature","tooltip":"","group":"fc3775f5.c6257","order":1,"width":"5","height":"2","wrap":false,"passthru":true,"topic":"","format":"<font size=24>{{value}}</font>","min":"10","max":"40","step":"1","x":990,"y":340,"wires":[["5d5999d6.bb0f6"]]},{"id":"8383c63.16e4338","type":"get-shared-state","z":"b684933e.5cf9f8","state":"defdd5c9.00f138","name":"setpoint","triggerOnInit":true,"x":730,"y":340,"wires":[["82eb62fa.17d0c"]]},{"id":"a09005a9.cbded","type":"ui_gauge","z":"b684933e.5cf9f8","name":"","group":"813c1d6c.906a2","order":3,"width":"5","height":"4","gtype":"gage","title":"Chamber temp","label":"C","format":"{{value}}","min":"10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1220,"y":260,"wires":[]},{"id":"5d5999d6.bb0f6","type":"set-shared-state","z":"b684933e.5cf9f8","state":"defdd5c9.00f138","name":"setpoint","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":1250,"y":360,"wires":[]},{"id":"18b51ad9.674b0d","type":"get-shared-state","z":"b684933e.5cf9f8","state":"6084ef9b.c26b6","name":"chamberTemp","triggerOnInit":true,"x":980,"y":280,"wires":[["a09005a9.cbded"]]},{"id":"208b3e82.5a0932","type":"set-shared-state","z":"b684933e.5cf9f8","state":"e06ffb1d.7fc6a","name":"chamberState","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":1270,"y":440,"wires":[]},{"id":"c209c0e0.fe1778","type":"get-shared-state","z":"18b8c7ac.07eee8","state":"c8491213.eb9958","name":"relay3","triggerOnInit":true,"x":230,"y":700,"wires":[["f7712ba5.1fd7e"]]},{"id":"b0eff817.614a","type":"get-shared-state","z":"18b8c7ac.07eee8","state":"1dc4d413.03488c","name":"relay4","triggerOnInit":true,"x":250,"y":760,"wires":[["d1480c9f.812f98"]]},{"id":"cf743fb7.d46fa8","type":"debug","z":"c080d81d.548348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":40,"wires":[]},{"id":"6a0f203.8de946","type":"inject","z":"a6be8544.d29bb8","name":"interval","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":180,"y":100,"wires":[["59570777.8f0d48"]]},{"id":"16f7e6a.9134a19","type":"comment","z":"f3388dca.68aa58","name":"","info":"State\n1 Stand by\n2 IDLE\n3 heating\n4 cooling","x":310,"y":60,"wires":[]},{"id":"82e0509d.446518","type":"change","z":"f3388dca.68aa58","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"state.chamberState.value","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":580,"wires":[["753f8476.c35ca4"]]},{"id":"ad6a5a5f.9e7d6","type":"debug","z":"f3388dca.68aa58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":940,"y":700,"wires":[]},{"id":"753f8476.c35ca4","type":"function","z":"f3388dca.68aa58","name":"Convert to buffer","func":"msg.payload = Buffer.from([msg.payload]);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":580,"wires":[["fe51aa72.2f3fa8"]]},{"id":"7add9e73.95bd5","type":"inject","z":"f3388dca.68aa58","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":360,"wires":[["7b64e413.ab1234"]]},{"id":"8ed599a0.780228","type":"trigger","z":"f3388dca.68aa58","name":"","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"3","extend":true,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":730,"y":220,"wires":[["b87c4996.042d98","5f52150e.574fcc"]]},{"id":"e40544cf.a5d998","type":"set-shared-state","z":"f3388dca.68aa58","state":"e06ffb1d.7fc6a","name":"chamberState","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":1110,"y":120,"wires":[]},{"id":"5f52150e.574fcc","type":"change","z":"f3388dca.68aa58","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":160,"wires":[["e40544cf.a5d998"]]},{"id":"cb667770.e43778","type":"set-shared-state","z":"d7e822af.c12a4","state":"435b10b7.ae825","name":"chamberMode","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":1040,"y":60,"wires":[]},{"id":"b4f615d6.3463e8","type":"set-shared-state","z":"d7e822af.c12a4","state":"e06ffb1d.7fc6a","name":"chamberState","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":1560,"y":1040,"wires":[]},{"id":"a5faa198.dc456","type":"get-shared-state","z":"64672e75.03f4a8","state":"e06ffb1d.7fc6a","name":"chamberState","triggerOnInit":true,"x":90,"y":580,"wires":[["4ba42455.672e5c"]]},{"id":"4ba42455.672e5c","type":"switch","z":"64672e75.03f4a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":410,"y":560,"wires":[["c11bb4dd.84b3f"],["c11bb4dd.84b3f"],["9be6c47a.6a94f","cd0ceb27.ad777"],["3be3c18b.3156ee","f6371b8f.ce0d1"]]},{"id":"6926ac7a.6a98dc","type":"set-shared-state","z":"64672e75.03f4a8","state":"ddc00501.5975f8","name":"relay1","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":830,"y":500,"wires":[]},{"id":"e9e22c40.7c4dd","type":"set-shared-state","z":"64672e75.03f4a8","state":"b57179f0.c9eaa","name":"relay2","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":830,"y":540,"wires":[]},{"id":"736b6e2e.c6831","type":"set-shared-state","z":"64672e75.03f4a8","state":"c8491213.eb9958","name":"relay3","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":830,"y":585,"wires":[]},{"id":"53d30698.598b","type":"set-shared-state","z":"64672e75.03f4a8","state":"1dc4d413.03488c","name":"relay4","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":830,"y":640,"wires":[]},{"id":"c11bb4dd.84b3f","type":"change","z":"64672e75.03f4a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":520,"wires":[["6926ac7a.6a98dc","e9e22c40.7c4dd","736b6e2e.c6831","53d30698.598b"]]},{"id":"3be3c18b.3156ee","type":"change","z":"64672e75.03f4a8","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":640,"wires":[["736b6e2e.c6831"]]},{"id":"9be6c47a.6a94f","type":"change","z":"64672e75.03f4a8","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":580,"wires":[["736b6e2e.c6831"]]},{"id":"cd0ceb27.ad777","type":"change","z":"64672e75.03f4a8","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":700,"wires":[["53d30698.598b"]]},{"id":"f6371b8f.ce0d1","type":"change","z":"64672e75.03f4a8","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":740,"wires":[["53d30698.598b"]]},{"id":"4bc853ce.08eac4","type":"switch","z":"d7e822af.c12a4","name":"If MODE","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":80,"wires":[["d678235c.eb80c8"]]},{"id":"6db8f32a.9fc594","type":"debug","z":"d7e822af.c12a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":620,"wires":[]},{"id":"7a372047.0c825","type":"switch","z":"d7e822af.c12a4","name":"","property":"state.coolerPID.value","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":700,"wires":[["97674649.be05e8","7bb1e955.a8d99","e36a418.27eabc"]]},{"id":"67048c6a.78d4bc","type":"switch","z":"d7e822af.c12a4","name":"","property":"state.heaterPID.value","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":870,"y":480,"wires":[["93fb3f24.682bf","1ee5d6c.4e64429","a1ee4f29.bb8d38"]]},{"id":"41568ff4.7b9a68","type":"set-shared-state","z":"d7e822af.c12a4","state":"e06ffb1d.7fc6a","name":"chamberState","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":1380,"y":700,"wires":[]},{"id":"e36a418.27eabc","type":"change","z":"d7e822af.c12a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"4","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":700,"wires":[["41568ff4.7b9a68"]]},{"id":"2d88623a.a5f086","type":"exec","z":"a6be8544.d29bb8","command":"python3 ~/bread-tinkerforge/led.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":740,"y":100,"wires":[[],[],[]]},{"id":"59570777.8f0d48","type":"change","z":"a6be8544.d29bb8","name":"Copy chamber state","rules":[{"t":"set","p":"payload","pt":"msg","to":"state.chamberState.value","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":100,"wires":[["2d88623a.a5f086"]]}]