flows.json
[{"id":"18b8c7ac.07eee8","type":"tab","label":"Debug","disabled":false,"info":""},{"id":"64672e75.03f4a8","type":"tab","label":"CMD","disabled":false,"info":""},{"id":"c080d81d.548348","type":"tab","label":"Sensor","disabled":false,"info":""},{"id":"d7e822af.c12a4","type":"tab","label":"Main loop","disabled":false,"info":""},{"id":"262612fb.7fef96","type":"tab","label":"FAN","disabled":false,"info":""},{"id":"79509665.65e3b8","type":"mqtt-broker","z":"","name":"local","broker":"brocker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"74dcdab5.83e964","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"683f7eec.5c62c","type":"mqtt-broker","z":"","name":"","broker":"http://10.70.1.86","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4df5a172.d77308","type":"influxdb","z":"18b8c7ac.07eee8","hostname":"influxdb","port":"8086","database":"home","name":"aTimeSeries","usetls":false,"tls":""},{"id":"47847ae6.02444c","type":"ui_group","z":0,"name":"Default","tab":"ebf66048.7c529","order":1,"disp":true,"width":"6","collapse":false},{"id":"97a76c62.524858","type":"ui_group","z":"","name":"Debug","tab":"1233e7eb.6fcc78","order":2,"disp":true,"width":"6","collapse":false},{"id":"ebf66048.7c529","type":"ui_tab","z":0,"name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"b7f0356b.50c1a","type":"ui_base","z":0,"theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ddc00501.5975f8","type":"shared-state","z":0,"name":"relay1","lbl":"","tags":"","historyCount":"2","dataType":"bool","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"c8491213.eb9958","type":"shared-state","z":"","name":"relay3","lbl":"","tags":"","historyCount":"2","dataType":"bool","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"b57179f0.c9eaa","type":"shared-state","z":"","name":"relay2","lbl":"","tags":"","historyCount":"2","dataType":"bool","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"1dc4d413.03488c","type":"shared-state","z":"","name":"relay4","lbl":"","tags":"","historyCount":"2","dataType":"bool","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"bff6e5d1.24ce68","type":"shared-state","z":0,"name":"data","lbl":"","tags":"","historyCount":"2","dataType":"obj","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"1233e7eb.6fcc78","type":"ui_tab","z":"","name":"Debug","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"8f8583e.f5aeb8","type":"ui_group","z":"","name":"State","tab":"1233e7eb.6fcc78","order":2,"disp":true,"width":"6","collapse":false},{"id":"a4b3d3f.f214ab","type":"ui_group","z":"","name":"State 2","tab":"1233e7eb.6fcc78","order":3,"disp":true,"width":"6","collapse":false},{"id":"e06ffb1d.7fc6a","type":"shared-state","z":"","name":"chamberState","lbl":"","tags":"","historyCount":"2","dataType":"str","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"435b10b7.ae825","type":"shared-state","z":"","name":"chamberMode","lbl":"","tags":"","historyCount":"2","dataType":"str","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"4451538c.85ad4c","type":"shared-state","z":"","name":"roomTemp","lbl":"","tags":"","historyCount":"2","dataType":"num","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":"C"},{"id":"defdd5c9.00f138","type":"shared-state","z":"","name":"targetTemp","lbl":"","tags":"","historyCount":"2","dataType":"num","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":"C"},{"id":"6084ef9b.c26b6","type":"shared-state","z":"","name":"chamberTemp","lbl":"","tags":"","historyCount":"2","dataType":"num","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":"C"},{"id":"15fe707b.cbdd78","type":"shared-state","z":"","name":"heaterFAN","lbl":"","tags":"","historyCount":"2","dataType":"num","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"84d2f720.b81e98","type":"shared-state","z":"","name":"coolerFAN","lbl":"","tags":"","historyCount":"2","dataType":"num","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"7cc16dfd.c5bd2c","type":"shared-state","z":"","name":"distance","lbl":"","tags":"","historyCount":"2","dataType":"num","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"7bda2608.497328","type":"shared-state","z":"","name":"heaterTemp","lbl":"","tags":"","historyCount":"2","dataType":"num","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":"C"},{"id":"3fd19932.a4ee1e","type":"shared-state","z":"","name":"DAC","lbl":"","tags":"","historyCount":"2","dataType":"num","boolType":"bool","boolStrTrue":"","boolStrFalse":"","precision":"","numMin":"","numMax":"","unit":""},{"id":"c82aa636.16d6f8","type":"mqtt in","z":"18b8c7ac.07eee8","name":"","topic":"#","qos":"0","datatype":"auto","broker":"74dcdab5.83e964","x":210,"y":380,"wires":[[]]},{"id":"a7fdbf1c.491cd8","type":"debug","z":"18b8c7ac.07eee8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1350,"y":180,"wires":[]},{"id":"37b0599c.495dfe","type":"mqtt out","z":"18b8c7ac.07eee8","name":"","topic":"","qos":"0","retain":"","broker":"74dcdab5.83e964","x":1030,"y":800,"wires":[]},{"id":"47a7aa45.ef22ec","type":"inject","z":"18b8c7ac.07eee8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1020,"y":280,"wires":[[]]},{"id":"fb43cc22.d2b1d8","type":"debug","z":"18b8c7ac.07eee8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":40,"wires":[]},{"id":"be76bc69.2554b8","type":"inject","z":"18b8c7ac.07eee8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1680,"y":320,"wires":[[]]},{"id":"a4558580.f280f8","type":"inject","z":"18b8c7ac.07eee8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":60,"wires":[[]]},{"id":"4c8fe770.a0206","type":"exec","z":"64672e75.03f4a8","command":"python3 ~/bread-tinkerforge/relay.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Relay control","x":790,"y":120,"wires":[[],[],[]]},{"id":"a5213bcf.9cb528","type":"debug","z":"64672e75.03f4a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":80,"wires":[]},{"id":"a3d6e8eb.872a3","type":"template","z":"64672e75.03f4a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{topic}} {{payload}}","output":"str","x":420,"y":120,"wires":[["4c8fe770.a0206"]]},{"id":"6a49d89f.1a17e8","type":"mqtt in","z":"c080d81d.548348","name":"","topic":"+/+/+/+/+/chamber/data/roomTemp","qos":"2","datatype":"auto","broker":"74dcdab5.83e964","x":280,"y":120,"wires":[["17abac16.668be4"]]},{"id":"ab18f573.78581","type":"ui_button","z":"18b8c7ac.07eee8","name":"","group":"47847ae6.02444c","order":3,"width":0,"height":0,"passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"CONST","payloadType":"str","topic":"","x":530,"y":320,"wires":[["2f1963d8.e2c8b4"]]},{"id":"43953858.aaf258","type":"ui_button","z":"18b8c7ac.07eee8","name":"","group":"47847ae6.02444c","order":4,"width":0,"height":0,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"IDLE","payloadType":"str","topic":"","x":530,"y":240,"wires":[["9db1a745.e4a1e8"]]},{"id":"7349f45.777760c","type":"ui_switch","z":"18b8c7ac.07eee8","name":"","label":"Relay 1","tooltip":"","group":"97a76c62.524858","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":500,"y":580,"wires":[["1ce3c7b3.9d5738"]]},{"id":"bdc3a7cc.6ca24","type":"ui_switch","z":"18b8c7ac.07eee8","name":"","label":"Relay 2","tooltip":"","group":"97a76c62.524858","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"photon/cmd/Relay","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":500,"y":640,"wires":[["8eef0fa8.a2597"]]},{"id":"f7712ba5.1fd7e","type":"ui_switch","z":"18b8c7ac.07eee8","name":"","label":"Relay 3","tooltip":"","group":"97a76c62.524858","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"photon/cmd/Relay","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":520,"y":680,"wires":[["ac8bc086.6794"]]},{"id":"d1480c9f.812f98","type":"ui_switch","z":"18b8c7ac.07eee8","name":"","label":"Relay 4","tooltip":"","group":"97a76c62.524858","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"photon/cmd/Relay","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":520,"y":720,"wires":[["e396ceba.b23788"]]},{"id":"691eed49.9e088c","type":"ui_switch","z":"18b8c7ac.07eee8","name":"","label":"LED","tooltip":"","group":"97a76c62.524858","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"photon/cmd/LED","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":510,"y":860,"wires":[[]]},{"id":"733b3cd.a2b6944","type":"ui_numeric","z":"18b8c7ac.07eee8","name":"","label":"Target temperature","tooltip":"","group":"47847ae6.02444c","order":2,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"10","max":"40","step":1,"x":550,"y":180,"wires":[["49589999.04ef2"]]},{"id":"c0f4d126.173508","type":"ui_numeric","z":"18b8c7ac.07eee8","name":"","label":"Heater fan","tooltip":"","group":"97a76c62.524858","order":6,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"photon/cmd/HeaterFAN","format":"{{value}}","min":0,"max":"255","step":1,"x":490,"y":500,"wires":[["1e0c2938.ff432f"]]},{"id":"c2e62117.26934","type":"ui_numeric","z":"18b8c7ac.07eee8","name":"","label":"Cooler fan","tooltip":"","group":"97a76c62.524858","order":5,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"photon/cmd/CoolerFAN","format":"{{value}}","min":0,"max":"255","step":1,"x":510,"y":540,"wires":[["ce5abd64.1240e"]]},{"id":"51d9b5f6.707fb4","type":"ui_numeric","z":"18b8c7ac.07eee8","name":"","label":"DAC","tooltip":"","group":"97a76c62.524858","order":7,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"photon/cmd/DAC","format":"{{value}}","min":"1700","max":"3300","step":"1","x":510,"y":800,"wires":[["6e474a8a.4696a4"]]},{"id":"a3f4cfa0.4c2fd8","type":"get-shared-state","z":"64672e75.03f4a8","state":"ddc00501.5975f8","name":"relay1","triggerOnInit":true,"x":110,"y":120,"wires":[["a3d6e8eb.872a3"]]},{"id":"fff30cf1.14895","type":"get-shared-state","z":"64672e75.03f4a8","state":"b57179f0.c9eaa","name":"relay2","triggerOnInit":true,"x":110,"y":180,"wires":[["a3d6e8eb.872a3"]]},{"id":"304ad8a6.a5415","type":"get-shared-state","z":"64672e75.03f4a8","state":"c8491213.eb9958","name":"relay3","triggerOnInit":true,"x":110,"y":220,"wires":[["a3d6e8eb.872a3"]]},{"id":"b6b19ed8.4b369","type":"get-shared-state","z":"64672e75.03f4a8","state":"1dc4d413.03488c","name":"relay4","triggerOnInit":true,"x":110,"y":260,"wires":[["a3d6e8eb.872a3"]]},{"id":"1ce3c7b3.9d5738","type":"set-shared-state","z":"18b8c7ac.07eee8","state":"ddc00501.5975f8","name":"relay1","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":730,"y":580,"wires":[]},{"id":"8eef0fa8.a2597","type":"set-shared-state","z":"18b8c7ac.07eee8","state":"b57179f0.c9eaa","name":"relay2","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":730,"y":640,"wires":[]},{"id":"ac8bc086.6794","type":"set-shared-state","z":"18b8c7ac.07eee8","state":"c8491213.eb9958","name":"relay3","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":730,"y":680,"wires":[]},{"id":"e396ceba.b23788","type":"set-shared-state","z":"18b8c7ac.07eee8","state":"1dc4d413.03488c","name":"relay4","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":730,"y":720,"wires":[]},{"id":"ca66fde.bc4c8","type":"inject","z":"c080d81d.548348","name":"Send data to influxDB","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":840,"wires":[["da7c1936.ef5328","5b5bda0d.334204","2a308a8b.0bd51e","7ee796e5.29ae3","4746d113.b3e64","eacd36fc.f7e66"]]},{"id":"da7c1936.ef5328","type":"change","z":"c080d81d.548348","name":"Prepare message for relay 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"state.relay1.value","tot":"global"},{"t":"set","p":"topic","pt":"msg","to":"state/relay1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":820,"wires":[["5c040674.5583e8"]]},{"id":"5c040674.5583e8","type":"mqtt out","z":"c080d81d.548348","name":"","topic":"","qos":"","retain":"","broker":"74dcdab5.83e964","x":1010,"y":880,"wires":[]},{"id":"5b5bda0d.334204","type":"change","z":"c080d81d.548348","name":"Prepare message for relay 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"state.relay2.value","tot":"global"},{"t":"set","p":"topic","pt":"msg","to":"state/relay2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":880,"wires":[["5c040674.5583e8"]]},{"id":"2a308a8b.0bd51e","type":"change","z":"c080d81d.548348","name":"Prepare message for relay 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"state.relay3.value","tot":"global"},{"t":"set","p":"topic","pt":"msg","to":"state/relay3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":940,"wires":[["5c040674.5583e8"]]},{"id":"7ee796e5.29ae3","type":"change","z":"c080d81d.548348","name":"Prepare message for relay 4","rules":[{"t":"set","p":"payload","pt":"msg","to":"state.relay4.value","tot":"global"},{"t":"set","p":"topic","pt":"msg","to":"state/relay4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1000,"wires":[["5c040674.5583e8"]]},{"id":"464c1ae1.6163b4","type":"mqtt in","z":"c080d81d.548348","name":"","topic":"+/+/+/+/+/chamber/data/chamberTemp","qos":"2","datatype":"auto","broker":"74dcdab5.83e964","x":290,"y":200,"wires":[["1bb22e0e.5a2d4a"]]},{"id":"4d21aaf7.777404","type":"mqtt in","z":"c080d81d.548348","name":"","topic":"+/+/+/+/+/chamber/data/heaterTemp","qos":"2","datatype":"auto","broker":"74dcdab5.83e964","x":280,"y":280,"wires":[["9582e8db.d8e608"]]},{"id":"e9bbfe74.dcfd2","type":"mqtt in","z":"c080d81d.548348","name":"","topic":"+/+/+/+/+/chamber/data/distance","qos":"2","datatype":"auto","broker":"74dcdab5.83e964","x":270,"y":360,"wires":[["918c5608.5db458"]]},{"id":"91689169.b69288","type":"mqtt in","z":"c080d81d.548348","name":"","topic":"+/+/+/+/+/chamber/data/dac","qos":"2","datatype":"auto","broker":"74dcdab5.83e964","x":240,"y":460,"wires":[[]]},{"id":"718c84c2.7e250c","type":"ui_gauge","z":"c080d81d.548348","name":"","group":"8f8583e.f5aeb8","order":1,"width":0,"height":0,"gtype":"gage","title":"Chamber Temp","label":"units","format":"{{value}}","min":"10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":200,"wires":[]},{"id":"5acae9e9.867408","type":"ui_gauge","z":"c080d81d.548348","name":"","group":"8f8583e.f5aeb8","order":2,"width":0,"height":0,"gtype":"gage","title":"Room Temp","label":"units","format":"{{value}}","min":"15","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":950,"y":120,"wires":[]},{"id":"21e53b5.7f14844","type":"ui_gauge","z":"c080d81d.548348","name":"","group":"8f8583e.f5aeb8","order":3,"width":0,"height":0,"gtype":"gage","title":"Heater Temp","label":"units","format":"{{value}}","min":"15","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":280,"wires":[]},{"id":"7ed7f97c.15ae4","type":"ui_text","z":"c080d81d.548348","group":"8f8583e.f5aeb8","order":4,"width":0,"height":0,"name":"","label":"Distance","format":"{{msg.payload}}","layout":"row-spread","x":980,"y":360,"wires":[]},{"id":"621e6eb8.feb82","type":"ui_text","z":"c080d81d.548348","group":"8f8583e.f5aeb8","order":4,"width":0,"height":0,"name":"","label":"DAC","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":460,"wires":[]},{"id":"7fd27d8a.bcbbf4","type":"ui_text","z":"c080d81d.548348","group":"a4b3d3f.f214ab","order":4,"width":0,"height":0,"name":"","label":"State","format":"{{msg.payload}}","layout":"row-spread","x":990,"y":1100,"wires":[]},{"id":"91397816.339fe8","type":"ui_gauge","z":"c080d81d.548348","name":"","group":"8f8583e.f5aeb8","order":3,"width":0,"height":0,"gtype":"gage","title":"Target Temp","label":"units","format":"{{value}}","min":"10","max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":1180,"wires":[]},{"id":"596ca967.814d6","type":"PID","z":"d7e822af.c12a4","name":"Cooler PID","setpoint":21,"pb":1,"ti":9999,"td":0,"integral_default":0.5,"smooth_factor":3,"max_interval":600,"enable":1,"disabled_op":0,"x":1110,"y":680,"wires":[[]]},{"id":"4746d113.b3e64","type":"change","z":"c080d81d.548348","name":"Prepare message for heater FAN","rules":[{"t":"set","p":"payload","pt":"msg","to":"state.heaterFan.value","tot":"global"},{"t":"set","p":"topic","pt":"msg","to":"state/heaterFan","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":700,"wires":[["5c040674.5583e8"]]},{"id":"eacd36fc.f7e66","type":"change","z":"c080d81d.548348","name":"Prepare message for cooler FAN","rules":[{"t":"set","p":"payload","pt":"msg","to":"state.coolerFan.value","tot":"global"},{"t":"set","p":"topic","pt":"msg","to":"state/coolerFan","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":740,"wires":[["5c040674.5583e8"]]},{"id":"a72d82a4.7faeb8","type":"exec","z":"64672e75.03f4a8","command":"python3 ~/bread-tinkerforge/relay.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Fan control","x":790,"y":500,"wires":[[],[],[]]},{"id":"9b36f0a.da15b9","type":"template","z":"64672e75.03f4a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{topic}} {{payload}}","output":"str","x":540,"y":500,"wires":[["a72d82a4.7faeb8"]]},{"id":"1f9e3a48.ff70c6","type":"inject","z":"d7e822af.c12a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":560,"wires":[["303b9c60.6fdc7c","98bb96e2.528468"]]},{"id":"a3d4333b.6db588","type":"PID","z":"d7e822af.c12a4","name":"Heater PID","setpoint":21,"pb":1,"ti":9999,"td":0,"integral_default":0.5,"smooth_factor":3,"max_interval":600,"enable":1,"disabled_op":0,"x":550,"y":760,"wires":[[]]},{"id":"de603f43.2ccaf","type":"switch","z":"d7e822af.c12a4","name":"Target < room Temp","property":"targetTemp","propertyType":"global","rules":[{"t":"lte","v":"roomTemp","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":160,"wires":[["e4a1200e.b494c","6a64233.d7da0dc","3fbef295.3cfd7e"]]},{"id":"d678235c.eb80c8","type":"switch","z":"d7e822af.c12a4","name":"Target > room Temp","property":"targetTemp","propertyType":"global","rules":[{"t":"gt","v":"roomTemp","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":220,"wires":[["64142c20.0ee33c","1114f61e.326d72"]]},{"id":"52699ddb.a5d504","type":"set-shared-state","z":"d7e822af.c12a4","state":"ddc00501.5975f8","name":"relay1","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":990,"y":220,"wires":[]},{"id":"64142c20.0ee33c","type":"change","z":"d7e822af.c12a4","name":"False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":220,"wires":[["52699ddb.a5d504"]]},{"id":"73b0da1e.14b324","type":"set-shared-state","z":"d7e822af.c12a4","state":"b57179f0.c9eaa","name":"relay2","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":1050,"y":80,"wires":[]},{"id":"e4a1200e.b494c","type":"change","z":"d7e822af.c12a4","name":"False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":80,"wires":[["73b0da1e.14b324"]]},{"id":"71d5766a.cc46e","type":"set-shared-state","z":"d7e822af.c12a4","state":"ddc00501.5975f8","name":"relay1","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":1030,"y":160,"wires":[]},{"id":"6a64233.d7da0dc","type":"change","z":"d7e822af.c12a4","name":"True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":160,"wires":[["71d5766a.cc46e"]]},{"id":"21a843b4.1c08c4","type":"inject","z":"262612fb.7fef96","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":200,"wires":[["c535bf3e.e05d58","a05e20f.04fe56","4a072629.46f6c8"]]},{"id":"c535bf3e.e05d58","type":"switch","z":"262612fb.7fef96","name":"If mode heating","property":"mode","propertyType":"global","rules":[{"t":"eq","v":"heating","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":160,"wires":[["98185b60.7616f"]]},{"id":"2f1963d8.e2c8b4","type":"set-shared-state","z":"18b8c7ac.07eee8","state":"84d2f720.b81e98","name":"coolerFAN","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":810,"y":320,"wires":[]},{"id":"e20d799d.7e8f18","type":"get-shared-state","z":"d7e822af.c12a4","state":"e06ffb1d.7fc6a","name":"state","triggerOnInit":true,"x":70,"y":240,"wires":[["74a4437f.b9fc8c","f0ecadc1.22666"]]},{"id":"74a4437f.b9fc8c","type":"switch","z":"d7e822af.c12a4","name":"Mode = CONST","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"CONST","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":180,"wires":[["d678235c.eb80c8","de603f43.2ccaf"]]},{"id":"f0ecadc1.22666","type":"switch","z":"d7e822af.c12a4","name":"Mode = IDLE","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"CONST","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":300,"wires":[["20d5a557.350eea","3359a311.7c6644"]]},{"id":"7ed57cb9.8670cc","type":"set-shared-state","z":"d7e822af.c12a4","state":"b57179f0.c9eaa","name":"relay2","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":790,"y":360,"wires":[]},{"id":"20d5a557.350eea","type":"change","z":"d7e822af.c12a4","name":"False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":360,"wires":[["7ed57cb9.8670cc"]]},{"id":"8d50f7e.614ec08","type":"set-shared-state","z":"d7e822af.c12a4","state":"ddc00501.5975f8","name":"relay1","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":790,"y":420,"wires":[]},{"id":"3359a311.7c6644","type":"change","z":"d7e822af.c12a4","name":"False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":420,"wires":[["8d50f7e.614ec08"]]},{"id":"9db1a745.e4a1e8","type":"set-shared-state","z":"18b8c7ac.07eee8","state":"e06ffb1d.7fc6a","name":"chamberState","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":800,"y":240,"wires":[]},{"id":"a05e20f.04fe56","type":"switch","z":"262612fb.7fef96","name":"If mode cooling","property":"mode","propertyType":"global","rules":[{"t":"eq","v":"cooling","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":220,"wires":[["ac792a78.cec708"]]},{"id":"4a072629.46f6c8","type":"switch","z":"262612fb.7fef96","name":"If state IDLE","property":"state","propertyType":"global","rules":[{"t":"eq","v":"IDLE","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":280,"wires":[["7c66d469.6fbafc"]]},{"id":"7c66d469.6fbafc","type":"change","z":"262612fb.7fef96","name":"Cooler FAN to 0","rules":[{"t":"set","p":"coolerFAN","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":280,"wires":[[]]},{"id":"ac792a78.cec708","type":"change","z":"262612fb.7fef96","name":"Cooler FAN to 200","rules":[{"t":"set","p":"coolerFAN","pt":"global","to":"200","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":220,"wires":[[]]},{"id":"98185b60.7616f","type":"change","z":"262612fb.7fef96","name":"Cooler FAN to 200","rules":[{"t":"set","p":"coolerFAN","pt":"global","to":"200","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":160,"wires":[[]]},{"id":"6aca3fed.36242","type":"inject","z":"c080d81d.548348","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1250,"y":660,"wires":[["6b2afc61.fdaa64"]]},{"id":"6b2afc61.fdaa64","type":"change","z":"c080d81d.548348","name":"","rules":[{"t":"set","p":"state.targetTemp.value","pt":"global","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":500,"wires":[[]]},{"id":"49589999.04ef2","type":"set-shared-state","z":"18b8c7ac.07eee8","state":"defdd5c9.00f138","name":"targetTemp","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":790,"y":180,"wires":[]},{"id":"1e0c2938.ff432f","type":"set-shared-state","z":"18b8c7ac.07eee8","state":"15fe707b.cbdd78","name":"heaterFAN","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":750,"y":480,"wires":[]},{"id":"ce5abd64.1240e","type":"set-shared-state","z":"18b8c7ac.07eee8","state":"84d2f720.b81e98","name":"coolerFAN","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":750,"y":540,"wires":[]},{"id":"c6b8de17.b9471","type":"get-shared-state","z":"64672e75.03f4a8","state":"84d2f720.b81e98","name":"coolerFAN","triggerOnInit":true,"x":260,"y":480,"wires":[["9b36f0a.da15b9","1a134689.42c709"]]},{"id":"54e0b004.737de8","type":"get-shared-state","z":"64672e75.03f4a8","state":"15fe707b.cbdd78","name":"heaterFAN","triggerOnInit":true,"x":260,"y":540,"wires":[["9b36f0a.da15b9","102a1b56.9e413d"]]},{"id":"102a1b56.9e413d","type":"ui_gauge","z":"64672e75.03f4a8","name":"","group":"a4b3d3f.f214ab","order":2,"width":0,"height":0,"gtype":"gage","title":"Heater FAN","label":"units","format":"{{value}}","min":"0","max":"255","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":560,"wires":[]},{"id":"1a134689.42c709","type":"ui_gauge","z":"64672e75.03f4a8","name":"","group":"a4b3d3f.f214ab","order":2,"width":0,"height":0,"gtype":"gage","title":"Cooler FAN","label":"units","format":"{{value}}","min":"0","max":"255","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":460,"wires":[]},{"id":"a333f935.428908","type":"get-shared-state","z":"c080d81d.548348","state":"e06ffb1d.7fc6a","name":"chamberState","triggerOnInit":true,"x":590,"y":1100,"wires":[["7fd27d8a.bcbbf4"]]},{"id":"11be11a2.727b5e","type":"get-shared-state","z":"c080d81d.548348","state":"defdd5c9.00f138","name":"targetTemp","triggerOnInit":true,"x":590,"y":1180,"wires":[["91397816.339fe8"]]},{"id":"610f6140.e8d1d8","type":"inject","z":"c080d81d.548348","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1430,"y":960,"wires":[[]]},{"id":"918c5608.5db458","type":"set-shared-state","z":"c080d81d.548348","state":"7cc16dfd.c5bd2c","name":"distance","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":600,"y":360,"wires":[]},{"id":"6548dc38.868a44","type":"get-shared-state","z":"c080d81d.548348","state":"7cc16dfd.c5bd2c","name":"distance","triggerOnInit":true,"x":780,"y":360,"wires":[["7ed7f97c.15ae4"]]},{"id":"9582e8db.d8e608","type":"set-shared-state","z":"c080d81d.548348","state":"7bda2608.497328","name":"heaterTemp","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":620,"y":280,"wires":[]},{"id":"1bb22e0e.5a2d4a","type":"set-shared-state","z":"c080d81d.548348","state":"6084ef9b.c26b6","name":"chamberTemp","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":630,"y":200,"wires":[]},{"id":"17abac16.668be4","type":"set-shared-state","z":"c080d81d.548348","state":"4451538c.85ad4c","name":"roomTemp","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":620,"y":120,"wires":[]},{"id":"de0c1818.f4fea","type":"get-shared-state","z":"c080d81d.548348","state":"7bda2608.497328","name":"heaterTemp","triggerOnInit":true,"x":810,"y":280,"wires":[["21e53b5.7f14844"]]},{"id":"7f71b06f.1dbde","type":"get-shared-state","z":"c080d81d.548348","state":"6084ef9b.c26b6","name":"chamberTemp","triggerOnInit":true,"x":820,"y":200,"wires":[["718c84c2.7e250c"]]},{"id":"282f76de.2287ca","type":"get-shared-state","z":"c080d81d.548348","state":"4451538c.85ad4c","name":"roomTemp","triggerOnInit":true,"x":780,"y":120,"wires":[["5acae9e9.867408"]]},{"id":"6e474a8a.4696a4","type":"set-shared-state","z":"18b8c7ac.07eee8","state":"3fd19932.a4ee1e","name":"DAC","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":690,"y":800,"wires":[]},{"id":"a94bf626.b38738","type":"get-shared-state","z":"18b8c7ac.07eee8","state":"15fe707b.cbdd78","name":"heaterFAN","triggerOnInit":true,"x":260,"y":500,"wires":[["c0f4d126.173508"]]},{"id":"bbfa05d.74420f8","type":"get-shared-state","z":"18b8c7ac.07eee8","state":"84d2f720.b81e98","name":"coolerFAN","triggerOnInit":true,"x":260,"y":560,"wires":[["c2e62117.26934"]]},{"id":"281682f5.67d356","type":"set-shared-state","z":"d7e822af.c12a4","state":"435b10b7.ae825","name":"chamberMode","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":870,"y":40,"wires":[]},{"id":"3fbef295.3cfd7e","type":"change","z":"d7e822af.c12a4","name":"cooling","rules":[{"t":"set","p":"payload","pt":"msg","to":"cooling","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":40,"wires":[["281682f5.67d356"]]},{"id":"1114f61e.326d72","type":"change","z":"d7e822af.c12a4","name":"heating","rules":[{"t":"set","p":"payload","pt":"msg","to":"heating","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":280,"wires":[["cb667770.e43778"]]},{"id":"cb667770.e43778","type":"set-shared-state","z":"d7e822af.c12a4","state":"435b10b7.ae825","name":"chamberMode","triggerOnInit":true,"provideOutput":false,"outputs":0,"x":920,"y":280,"wires":[]},{"id":"303b9c60.6fdc7c","type":"switch","z":"d7e822af.c12a4","name":"If cooling","property":"state.chamberMode","propertyType":"global","rules":[{"t":"eq","v":"cooling","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":540,"wires":[[]]},{"id":"98bb96e2.528468","type":"switch","z":"d7e822af.c12a4","name":"If heating","property":"state.chamberMode","propertyType":"global","rules":[{"t":"eq","v":"cooling","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":600,"wires":[[]]}]